<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div id="subNavBar" class="subNavBar" ng-controller="ConnectivityTestingCtrl" ng-init="initTesting()">

    <ul class="clearfix mainSubNav">
        <li ng-click="setSubActive('/connectivity_testcase')" class="jslink"><a ng-class="{'current':isSubActive('/connectivity_testcase')}"> <i class="fa fa-th-list"></i>Test Selection</a></li>
        <li ng-click="setSubActive('/connectivity_execution')" class="jslink"><a ng-class="{'current':isSubActive('/connectivity_execution')}"> <i class="fa fa-cogs"></i>Test Execution <span title="Current Test Case" class="badge current-test" ng-show="testCaseLoaded != null">Current Test Case: {{testCaseLoaded.label}}</span></a></li>
    </ul>

    <div ng-show="isSubActive('/connectivity_testcase')">
        <div ng-include="'views/connectivity/testcase.html'"></div>
    </div>

    <div ng-show="isSubActive('/connectivity_execution')">
        <div ng-include="'views/connectivity/execution.html'"></div>
    </div>

</div>