<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="ConnectivityTestCaseCtrl" ng-init="initTestCase()">
    <div class="row" style="margin: 10px">
        <div class="col-md-3">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="glyphicon glyphicon-list"></i>Test Cases

                    <button ng-show="testCases != null && testCases.length > 0" title="Collapse All" class="btn btn-xs btn-info pull-right" ng-click="collapseAll()">
                        <i class="point fa fa-compress"></i>
                    </button>
                    <button ng-show="testCases != null && testCases.length > 0" title="Expand All" class="btn btn-xs btn-info pull-right" style="margin-right:5px" ng-click="expandAll()">
                        <i class="point fa fa-expand"></i>
                    </button>


                </div>
                <div class="panel-body">
                    <div ng-show="!loading">
                        <div ng-show="error == null">
                            <div class="container-testcase">
                                <div ng-show="testCases != null && testCases.length > 0">
                                <testcase-tree tree-control="tree" icon-leaf="" is-selectable="isSelectable(branch)" on-select="selectTestCase(branch)"></testcase-tree>
                                </div>
                                <div ng-show="testCases == null || testCases.length == 0">
                                    No TestCase Available
                                </div>

                        </div>
                        </div>
                        <div ng-show="error != null">
                            <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                        </div>
                    </div>
                    <div ng-show="loading" style="text-align:center">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container" ng-show="selectedTestCase != null">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">

                            <span ng-show=" selectedTestCase.sutType != undefined">
                                Test Case: {{selectedTestCase.label}}
                            </span>

                            <span ng-show=" selectedTestCase.sutType == undefined">
                                Test Plan: {{selectedTestCase.label}}
                            </span>

                            <span class="pull-right" ng-show=" selectedTestCase.sutType == undefined">
                                <button title="Download Test Procedure" type="button" class="btn btn-xs btn-info" ng-show="selectedTestCase.testProcedurePath != undefined && selectedTestCase.testProcedurePath != null" ng-click="downloadArtifact(selectedTestCase.testProcedurePath)">
                                    <i class="fa fa-download"></i>
                                    Download Test Procedure
                                </button>
                            </span>

                            <span class="pull-right" ng-show="selectedTestCase.sutType != undefined">

                                <button title="Download Test Package" type="button" class="btn btn-xs btn-info" ng-show="selectedTestCase.testPackagePath != undefined && selectedTestCase.testPackagePath != null" ng-click="downloadArtifact(selectedTestCase.testPackagePath)">
                                    <i class="fa fa-download"></i>
                                    Download Package
                                </button>


                                <button title="Load Selected Test Case" type="button" class="btn btn-xs btn-success" ng-show="selectedTestCase != null" ng-click="loadTestCase(selectedTestCase,'/connectivity_execution')">
                                    <i class="fa fa-play"></i>Load Test Case
                                </button>
                             </span>
                        </div>
                        <div class="panel-body">
                            <div>


                                <div ng-show="error != null">
                                    <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                                </div>

                                <div ng-show="error == null">

                                    <div class="container">
                                        <div class="row" ng-show="selectedTestCase.sutType != undefined">
                                            <tabset>
                                                <tab>
                                                    <tab-heading>
                                                        Test Story
                                                    </tab-heading>
                                                    <div class="testcase-content">
                                                    <div class="panel panel-info">
                                                        <div class="panel-body">
                                                    <div class="">
                                                        <div class="panel panel-info" ng-show="selectedTestCase.testStory.description != null && selectedTestCase.testStory.description != ''">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Description</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" compile="selectedTestCase.testStory.description"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info" ng-show="selectedTestCase.testStory.comment != null && selectedTestCase.testStory.comment != ''">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Comments</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" compile="selectedTestCase.testStory.comment"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info" ng-show="selectedTestCase.testStory.preCondition != null && selectedTestCase.testStory.preCondition != ''">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Pre-Condition</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" compile="selectedTestCase.testStory.preCondition"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info" ng-show="selectedTestCase.testStory.postCondition != null && selectedTestCase.testStory.postCondition != ''">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Post-Condition</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" compile="selectedTestCase.testStory.postCondition"></p>
                                                            </div>
                                                        </div>


                                                        <div class="panel panel-info" ng-show="selectedTestCase.testStory.testObjectives != null && selectedTestCase.testStory.testObjectives != ''">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Test Objectives</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" compile="selectedTestCase.testStory.testObjectives"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info" ng-show="selectedTestCase.testStory.noteToTesters != null && selectedTestCase.testStory.noteToTesters != ''">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Note to Testers</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" compile="selectedTestCase.testStory.noteToTesters"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </tab>
                                                <tab>
                                                    <tab-heading>
                                                        Message Content
                                                    </tab-heading>
                                                    <div class="testcase-content">
                                                    <div class="panel panel-info">
                                                        <div class="panel-body">
                                                    <div class="">
                                                        <div class="panel panel-info">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Request Message</div>
                                                            <div class="panel-body">
                                                                <div class="test-info-container">
                                                                <img width="700px" height="336px" ng-show="selectedTestCase.testContext.requestContentImage != undefined && selectedTestCase.testContext.requestContentImage != null" ng-src="data:image/jpeg;base64,{{selectedTestCase.testContext.requestContentImage}}">
                                                                </div>
                                                                <div class="test-info-container">
                                                                <h4>Content (XML)</h4>
                                                                <hr>
                                                                <pre class="message" ng-bind="selectedTestCase.testContext.message"></pre>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--<div class="panel panel-info">-->
                                                            <!--&lt;!&ndash; Default panel contents &ndash;&gt;-->
                                                            <!--<div class="panel-heading">Response Message</div>-->
                                                            <!--<div class="panel-body">-->
                                                                <!--<div class="test-info-container">-->
                                                                <!--<img width="700px" height="336px" ng-show="selectedTestCase.testContext.responseContentImage != undefined && selectedTestCase.testContext.responseContentImage != null" ng-src="data:image/jpeg;base64,{{selectedTestCase.testContext.responseContentImage}}"/>-->
                                                               <!--</div>-->
                                                                <!--<div class="test-info-container">-->
                                                                <!--<h4>Content (XML)</h4>-->
                                                                <!--<hr />-->
                                                                <!--<pre ng-bind="selectedTestCase.testContext.exampleMessage"></pre>-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    </div>
                                                            </div>
                                                    </div>
                                                        </div>
                                                 </tab>

                                                <tab ng-show="selectedTestCase.tds != undefined && selectedTestCase.tds != null">
                                                    <tab-heading>
                                                        Test Data Specification
                                                    </tab-heading>
                                                    <div class="testcase-content">
                                                    <div class="panel panel-info">
                                                        <div class="panel-body">
                                                    <div class="">
                                                        <div class="test-info-container">
                                                            <div compile="selectedTestCase.tds"></div>
                                                        </div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </tab>

                                                <tab>
                                                    <tab-heading>
                                                        Testing Instructions
                                                    </tab-heading>
                                                    <div class="testcase-content">
                                                    <div class="panel panel-info">
                                                        <div class="panel-body">
                                                    <div class="">
                                                        <div class="test-info-container">
                                                        <img width="400px" height="400px" ng-show="selectedTestCase.instructionsImage != undefined" ng-src="data:image/jpeg;base64,{{selectedTestCase.instructionsImage}}">
                                                       </div>
                                                        <div class="test-info-container">
                                                        <h4>Instructions</h4>
                                                        <hr>
                                                        <p class="test-details-content" compile="selectedTestCase.instructionsText"></p>
                                                            </div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </tab>

                                            </tabset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>