<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CFReportCtrl">
    <div class="panel panel-info">
        <div class="panel-body">
    <div ng-show="cf.testCase != null">
        <div report-viewer type="cf" testStepId="cf.testCase.id"></div>
    </div>
    <div ng-show="cf.testCase === null">
        No Profile Selected.
    </div>
            </div>
        </div>
</div>