<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CFProfileViewerCtrl">
    <div class="panel panel-info">
        <div class="panel-body">
    <div ng-show="cf.testCase.testContext.profile!= null">
        <div profile-viewer type="cf"></div>
    </div>
    <div ng-show="cf.testCase.testContext.profile== null">
        No Profile Loaded.
    </div>
            </div>
        </div>
</div>