<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CFValidatorCtrl" ng-init="initValidation()">
    <div class="panel panel-info">
        <div class="panel-body">
            <div ng-show="mError != null">
                <div class="alert alert-danger" role="alert" ng-bind="mError"></div>
            </div>
            <div class="row">

                <div class="col-md-1 col-1-percent" ng-show="messageCollapsed">
                    <button title="Show Profiles" class="btn btn-xs btn-info"
                            ng-click="messageCollapsed = !messageCollapsed">
                        <i class="fa fa-caret-right"></i>
                    </button>
                 </div>

                <div class="col-md-3" ng-show="!messageCollapsed">
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><i class="glyphicon glyphicon-list"></i> Message Tree

                            <button title="Hide message tree" class="btn btn-xs btn-info  pull-right"
                                    ng-click="messageCollapsed = !messageCollapsed">
                                <i class="fa fa-caret-left"></i>
                            </button>

                            <button  ng-show="cf.tree.root != null" title="Collapse All" class="btn btn-xs btn-info pull-right" style="margin-right:5px"
                                     ng-click="collapseMessageAll()">
                                <i class="point fa fa-compress"></i>
                            </button>
                            <button   ng-show="cf.tree.root != null" title="Expand All" class="btn btn-xs btn-info pull-right" style="margin-right:5px"
                                      ng-click="expandMessageAll()">
                                <i class="point fa fa-expand"></i>
                            </button>



                        </div>
                        <div class="panel-body container-message-tree">
                            <div ng-show="!tLoading">
                                <div ng-show="tError === null" class="message-tree">
                                    <abn-tree tree-control="cf.tree.root" icon-leaf=""
                                              on-select="onNodeSelect(branch)"></abn-tree>
                                </div>
                                <div ng-show="tError !== null">
                                    <div class="alert alert-danger" role="alert" ng-bind="tError"></div>
                                </div>
                            </div>
                            <div ng-show="tLoading" style="text-align:center">
                                <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="{'col-md-9': !messageCollapsed, 'col-md-11 col-97-9-percent':messageCollapsed}">
                    <div class="container">
                        <div class="row">
                            <div id="messagePanel" class="panel panel-info">
                                <div class="panel-heading">
                                    <form id="fileupload"
                                          role="form"
                                          class="form-inline">
            <span><i class="glyphicon glyphicon-file"></i> Message Content
                    <span style="margin-right:10px"></span>

                       <div class="btn-group">
                           <button title="Refresh at the interval of {{loadRate/1000}} second(s)" type="button"
                                   class="btn btn-xs btn-info"
                                   data-toggle="dropdown">
                               <i class="fa fa-refresh"></i>
                               <span ng-show="loadRate != 10000000000000000">{{loadRate/1000}}s</span>
                               <span ng-show="loadRate == 10000000000000000">Disable</span>
                               <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu point" role="menu">
                               <li><a class="point" ng-click="setLoadRate(10000000000000000)">Disable</a></li>
                               <li><a class="point" ng-click="setLoadRate(1000)">1 second</a></li>
                               <li><a class="point" ng-click="setLoadRate(2000)">2 seconds</a></li>
                               <li><a class="point" ng-click="setLoadRate(3000)">3 seconds</a></li>
                               <li><a class="point" ng-click="setLoadRate(4000)">4 seconds</a></li>
                               <li><a class="point" ng-click="setLoadRate(5000)">5 seconds</a></li>
                               <li><a class="point" ng-click="setLoadRate(6000)">6 seconds</a></li>
                               <li><a class="point" ng-click="setLoadRate(7000)">7 seconds</a></li>
                               <li><a class="point" ng-click="setLoadRate(8000)">8 seconds</a></li>
                           </ul>
                       </div>


            </span>
                            <span class="row pull-right">
                                <!--<button title="Validate" type="button" class="btn btn-xs btn-info" ng-show="cf.testCase.testContext.dqa === true"-->
                                        <!--ng-click="showDQAOptions()">-->
                                    <!--<i class="fa fa-cog"></i>-->
                                    <!--DQA-->
                                <!--</button>-->

                                <button title="Validate" type="button" class="btn btn-xs btn-success"
                                        ng-click="execute()">
                                    <i class="fa fa-check-circle"></i>
                                    Validate
                                </button>

                                <button title="Show Message With Hexadecimal Character" type="button" class="btn btn-xs btn-primary"
                                        ng-hide="!hasNonPrintable"
                                        ng-click="showMessageWithHexadecimal()">
                                    <i class="fa fa-check-circle"></i>
                                    Show Non-Printable Character
                                </button>


                                <button title="Load Example" type="button" class="btn btn-xs btn-info"
                                        ng-click="loadMessage()"
                                        ng-disabled="!testCase.testContext.message || testCase.testContext.message === null || testCase.testContext.message.content === ''"
                                        >
                                    <i class="fa fa-arrow-circle-down"></i>Load Example
                                </button>


                                <!--<span title="Browse" class="btn btn-xs btn-info fileinput-button"
                                      ng-class="{disabled: disabled}">
                        <i class="fa fa-folder-open"></i>Browse
                        <span></span>
                        <input type="file" name="file" id="file" multiple="false" ng-disabled="disabled">
                         </span>-->

                           <button class="btn btn-xs btn-info" type="file" name="file" id="file" ng-disabled="disabled" ngf-select="uploadMessage($file, $invalidFiles)"
                                   ngf-accept="appInfo.uploadContentTypes"
            ngf-pattern="appInfo.uploadContentTypes" ngf-max-size="appInfo.uploadMaxSize">
      <i class="fa fa-folder-open"></i>Browse</button>

                                <button title="Download" type="button" class="btn btn-xs btn-info"
                                        ng-disabled="!hasContent()"
                                        ng-click="saveMessage()">
                                    <i class="fa fa-download"></i>Download
                                </button>



                                 <button title="Clear" type="button" class="btn btn-xs btn-warning"
                                         ng-click="clearMessage()">
                                     <i class="fa fa-times"></i>Clear
                                 </button>

                                                            <span style="margin-right:10px"></span>


                            </span>


                                    </form>
                                </div>
                                <div class="panel-body container-message-editor">
                                    <div class="form-group">
                                        <textarea type="cf" class="form-control" id="cfTextArea" name="cfTextArea"
                                                  wrap="off" style="overflow:auto;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <i class="fa fa-check-square-o"></i>
                                    Message Validation Result

                                    <button title="View Result Categories" class="btn btn-xs btn-info"
                                            ng-click="openValidationResultInfo()">
                                        <i class="fa fa-info-circle"></i>&nbsp;Help
                                    </button>


     <span class="pull-right">

          <button title="Remove Duplicates" type="button" class="btn btn-xs btn-warning"
                  ng-click="removeDuplicates()">
              <i class="fa fa-times"></i>
              Remove Duplicates
          </button>
                                <button title="View Report" type="button" class="btn btn-xs btn-info"
                                        ng-click="setActiveTab(1)">
                                    <i class="fa fa-eye"></i>
                                    Report
                                </button>
       </span>
                                </div>
                                <div class="panel-body container-validation-result">

                                    <div ng-show="!vLoading">
                                        <div ng-show="!vError || vError == null">
                                            <div validation-result type="cf" message="cf.message" editor="cf.editor" dqa="true" format="cf.testCase.testContext.format"
                                                 tree="cf.tree" cursor="cf.cursor"></div>
                                        </div>
                                        <div ng-show="vError != null">
                                            <div class="alert alert-danger" role="alert"
                                                 ng-bind="vError"></div>
                                        </div>

                                    </div>
                                    <div ng-show="vLoading" style="text-align:center">
                                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
