

<div ng-controller="ProfileCtrl" ng-init="init()">


    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/testing">Testing</a></li>
            <li class="active">Profile Viewer</li>
            <li><a href="#/vocab">Vocabulary Search</a></li>
            <li><a href="#/doc">Documentation</a></li>
        </ol>
    </div>

    <div class="row"  style="margin-bottom: 20px margin-top: 20px">
        <div>
            <form role="form" class="form-inline">
                 <label class="control-label" for="profileSelection" style="padding: 0px 12px 2px 0px; ">Select Profile:</label>
                <select class="form-control" id="profileSelection"  style="width:50%"
                        ng-model="selectedProfile"
                        ng-change="selectProfile()"
                        ng-options="profile.name group by profile.group for profile in profiles | orderBy:'name'">
                    <option value="" ng-selected="selectedProfile == null || selectedProfile.id == -1 ">
                        -- Choose Profile --
                    </option>
                </select>
                <div class="btn-group" style="margin-left:20px">
                    <label  ng-disabled="selectedProfile == null || selectedProfile.id == -1" class="btn btn-default active" ng-model="relevance" btn-radio="true" uncheckable>R,RE,C
                        (only)</label>

                    <label ng-disabled="selectedProfile == null || selectedProfile.id == -1" class="btn btn-default" ng-model="relevance" btn-radio="false"
                           uncheckable>R,RE,C,O,X (All)</label>
                </div>

                <span>Display:</span>

                <div class="btn-group">
                    <label ng-disabled="selectedProfile == null || selectedProfile.id == -1" class="btn btn-default active" ng-model="trim" btn-radio="true" uncheckable>Concise View</label>
                    <label ng-disabled="selectedProfile == null || selectedProfile.id == -1" class="btn btn-default" ng-model="trim" btn-radio="false"
                           uncheckable>Expanded View</label>
                </div>
             </form>
         </div>

        <div ng-show="error === null" style="margin-top: 20px ">

        <div ng-show="!loading">
             <div  style="margin:20px" ng-show="selectedProfile != null">
                 <br />
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li ng-show="show(element.usage)"
                            ng-repeat="element in elements"
                            ng-class="{'active':nodeData != null && nodeData.name === element.name}"><a
                                ng-click="getNodeContent(element)">{{element.name}}</a></li>
                    </ul>
                </div>

                <div class="row" style="margin-top: 20px">
                    <table tt-table tt-params="params" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Usage</th>
                            <th>Cardinality</th>
                            <th ng-show="nodeData.name == 'Message Structure'">Ref</th>
                            <th ng-hide="nodeData.name == 'Message Structure'">Datatype</th>
                            <th ng-hide="nodeData.name == 'Message Structure'">Length</th>
                            <th ng-hide="nodeData.name == 'Message Structure'">ValueSet</th>
                            <th>Predicate</th>
                            <th>Conformance Statement</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <script type="text/ng-template" id="TreeNode.html">
                        <tr ng-show="show(node.usage)" tt-node is-branch="node.children != null && node.children.length > 0">
                            <td style="width:40%">
                                <img ng-show="node.icon != null"
                                     style="width:15px; height:15px"
                                     ng-src="images/{{node.icon}}">
                                <span ng-bind="node.title"></span>
                            </td>
                            <td><span ng-bind="node.usage"></span></td>
                            <td><span ng-bind="node.cardinality"></span></td>
                            <td ng-hide="nodeData.name != 'Message Structure'"><a ng-click="showSeg(node.reference)" ng-bind="node.reference.name"></a></td>
                            <td ng-hide="nodeData.name == 'Message Structure'"><span ng-bind="node.dataType"></span></td>
                            <td ng-hide="nodeData.name == 'Message Structure'"><span ng-bind="node.length"></span></td>
                            <td ng-hide="nodeData.name == 'Message Structure'"><span ng-bind="node.table"></span></td>
                            <td ng-class="{'profile-viewer-short-predicate':trim}">
                                <span ng-show="!trim" ng-bind="node.predicate"></span>
                                <span ng-show="trim" ng-bind="node.predicate" ng-class="{'profile-viewer-predicate-trim':trim}"></span>
                            </td>

                            <td ng-class="{'profile-viewer-short-cs':trim}">
                                    <span ng-show="trim">
                                        <span class="profile-viewer-cs-trim">{{getPredicatesAsString(node.predicates)}}</span>
                                     </span>
                                    <span ng-show="!trim">
                                        <p ng-repeat="predicate in node.predicates">
                                            {{predicate.id}} - {{predicate.description}}
                                        </p>
                                    </span>
                            </td>


                            <td ng-class="{'profile-viewer-short-cs':trim}">
                                    <span ng-show="trim">
                                         <!--<span ng-repeat="conStatement in node.conformanceStatement">-->
                                            <!--<span class="cf-word-wrap">{{conStatement.id}} - {{conStatement.englishDescription}}</span>-->
                                        <!--</span>-->
                                        <span class="profile-viewer-cs-trim">{{getConfStatementsAsString(node.conformanceStatements)}}</span>
                                     </span>
                                    <span ng-show="!trim">
                                        <p ng-repeat="conStatement in node.conformanceStatements">
                                            {{conStatement.id}} - {{conStatement.description}}
                                        </p>
                                    </span>
                            </td>
                        </tr>
                    </script>
                    
                </div>
            </div>

             <span ng-show="selectedProfile == null">
                    No profile selected.
              </span>

        </div>

        <div ng-show="loading" style="text-align:center">
            <img ng-src="images/ajax.gif" alt="loading..."/>
        </div>

    </div>
    <div ng-show="error !== null" style="margin-top: 20px ">
        <div class="alert alert-danger" role="alert" ng-bind="error"></div>
    </div>

    <!--</div>-->

    <!--<div ng-show="profileModel.length === 0">-->
    <!--<p style="text-align:center; margin-top: 20px">No profile selected. Please select a profile to display.</p>-->
    <!--</div>-->

</div>
</div>