<div ng-controller="AboutCtrl" style="margin:10px">

    <div style="margin-bottom: 20px">
        <div class="panel panel-info">
            <div class="panel-heading">About</div>
            <div class="panel-body">
                <p>
                    Tool Version:{{appInfo.version}}
                </p>

                <p>
                    Deployment Date: {{appInfo.date}}
                </p>
            </div>
        </div>
    </div>

    <div ng-if="appInfo.acknowledgment != null" style="margin-bottom: 20px"
         ng-bind-html="appInfo.acknowledgment">
    </div>


    <div style="margin-bottom: 20px" ng-if="appInfo.disclaimer != null"
         ng-bind-html="appInfo.disclaimer">
    </div>

    <div style="margin-bottom: 20px" ng-if="appInfo.confidentiality != null"
         ng-bind-html="appInfo.confidentiality">
    </div>

</div>