<!-- <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href="#">
            <div id="apptitle">NIST-CDC <span style='color:white;'>Immunization Test Suite</span><span style='color:red; font-size:12px'> Beta</span></div>
            <div id="appsubtitle">HL7 v2.5.1 Validation Tool</div>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="appnavi">
        <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/home')}"><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
            <li ng-class="{'active':isActive('/testing')}"><a href="#/testing"><i class="fa fa-cog"></i>Testing</a></li>
            <li ng-class="{'active':isActive('/doc')}"><a href="#/doc"><i class="fa fa-book"></i>Documentation</a></li>
            <li ng-class="{'active':isActive('/about')}"><a href="#/about"><i class="fa fa-question-circle"></i>About</a></li>
            <li ng-class="{'active':isActive('/contact')}"><a href="#/contact"><i class="fa fa-phone-square"></i>Contact Us</a></li>
            <li><div ng-show='showSpinner()'><img src="images/ajax-loader-plain.gif" class="loading"/></div></li>
        </ul>
    </div>
</div>