<script type="text/ng-template" id="TransactionSender.html">
    <div class="modal-header">
        <h3 class="modal-title">Transaction log panel</h3>
    </div>
    <div class="modal-body">
        <textarea class="well" wrap="off"
                  style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%"
                  rows="14" disabled
                  ng-model="logger.content"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="send()" ng-disabled="!isValidConfig() || connecting"
                title="Send" class="btn btn-sm btn-success">
            <i class="fa fa-arrow-right"></i>
            Send <span ng-show="connecting"><i class="fa fa-spinner"></i> Remaining: {{counter}}s </span>
        </button>

        <button title="Close" type="button" class="pull-right btn btn-sm btn-primary"
                ng-click="close()">
            <i class="fa fa-times"></i>Close
        </button>
    </div>
</script>


<script type="text/ng-template" id="TransactionConfigureReceiver.html">
    <div class="modal-header">
        <h3 class="modal-title">Receiver Configuration Panel</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="cols-md-10">
                <form name="receiverForm1" novalidate>
                    <div class="form-group" ng-show="testCase.testType !== 'RECEIVER_CONNECTIVITY'">
                        <label>Username</label>
                        <input type="text" class="form-control" ng-model="user.receiverUsername"
                               placeholder="Username">
                    </div>
                    <div class="form-group" ng-show="testCase.testType !== 'RECEIVER_CONNECTIVITY'">
                        <label>Password</label>
                        <input type="text" class="form-control"
                               placeholder="Password"
                               ng-model="user.receiverPassword">
                    </div>
                    <div class="form-group" ng-show="testCase.testType !== 'RECEIVER_CONNECTIVITY'">
                        <label>FacilityID</label>
                        <input type="text" class="form-control" placeholder="Facility Id"
                               ng-model="user.receiverFacilityId">
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : receiverForm1.endpoint.$invalid && !receiverForm1.endpoint.$pristine }">
                        <label>Endpoint</label>
                        <input type="url" name="endpoint" class="form-control" ng-model="user.receiverEndpoint"
                               placeholder="SUT Endpoint" required>

                        <p ng-show="receiverForm1.endpoint.$invalid && !receiverForm1.endpoint.$pristine"
                           class="help-block">
                            Invalid url. Expected format is {{appInfo.url}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="send()" type="button" ng-disabled="receiverForm1.$invalid"
                title="Send" class="btn btn-xs btn-primary">
            <i class="fa fa-play"></i> Send
        </button>
        <button ng-click="cancel()" type="button"
                title="Cancel" class="btn btn-xs btn-warning">
            <i class="fa fa-times"></i>
            Cancel
        </button>
    </div>
</script>


<script type="text/ng-template" id="TransactionReceiver.html">
    <div class="modal-header">
        <h3 class="modal-title">Receiver Configuration Panel</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <button type="button" ng-click="start()" ng-disabled="senderForm.$invalid || connecting"
                        title="Start listening"
                        class="btn btn-xs btn-success">
                    <i class="fa fa-play"></i>
                    Start
                </button>

                <button type="button" ng-disabled="!connecting" ng-click="stop()"
                        class="btn btn-xs btn-warning"><i class="fa fa-stop"></i>
                    Stop
                </button>
                <div>
                    <small><em>Time elapsed (seconds)</em></small>
                    <progressbar type="warning" max="counterMax" value="counter"><span
                            style="color:white; white-space:nowrap;">{{counter}} / {{counterMax}}</span>
                    </progressbar>
                </div>
            </div>
            <div class="col-md-12" ng-show="warning != null">
                <div class="alert alert-info" role="alert" compile="warning"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="page-header"><h3>Assigned Sender Information</h3></div>
                <form name="senderForm" novalidate>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" disabled name="u" class="form-control" ng-model="user.senderUsername">

                        <p class="help-block">This is the username assigned to you to use in your message</p>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" name="p"
                               ng-model="user.senderPassword" disabled>

                        <p class="help-block">This is the password assigned to you to use in your message</p>
                    </div>

                    <div class="form-group">
                        <label>FacilityID</label>
                        <input type="text" class="form-control" name="facilityId"
                               ng-model="user.senderFacilityID" disabled>

                        <p class="help-block">This is the facilityID assigned to you to use in your message</p>
                    </div>

                    <div class="form-group"
                            >
                        <label>Endpoint</label>
                        <!--<input type="url" name="endpoint" class="form-control" ng-model="endpoint.value"-->
                        <!--placeholder="SUT Endpoint" required disabled>-->
                        <span name="endpoint" class="form-control">{{endpoint.value}}</span>
                        <!--<p ng-show="senderForm.endpoint.$invalid && !senderForm.endpoint.$pristine" class="help-block">-->
                        <!--Sorry, an-->
                        <!--error occured. Please refresh your page</p>-->
                    </div>

                    <div class="form-group"
                            >
                        <label>WSDL</label>
                        <a ng-href="{{endpoint.value}}.wsdl" class="form-control" target="_blank">{{endpoint.value}}.wsdl</a>
                        <!--<p ng-show="senderForm.endpoint.$invalid && !senderForm.endpoint.$pristine" class="help-block">-->
                        <!--Sorry, an-->
                        <!--error occured. Please refresh your page</p>-->
                    </div>


                </form>
            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h3>Log
                        <!--<button title="Clear" type="button" class="pull-right btn btn-xs btn-default"-->
                                <!--ng-click="logger.clear()">-->
                            <!--<span class="glyphicon glyphicon-remove"></span>-->
                        <!--</button>-->
                    </h3>
                </div>
                <textarea class="well" wrap="off"
                          style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%" rows="18"
                          disabled
                          ng-model="logger.content"></textarea>
                <br/>


            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button title="Close" type="button" class="pull-right btn btn-sm btn-primary"
                ng-click="close()">
            <i class="fa fa-times"></i>Close
        </button>
    </div>
</script>





<script type="text/ng-template" id="SOAPTestCase.html">
    <tr tt-node style="white-space: nowrap"
        ng-class="{ 'node-active': node.id === selectedTestCase.id && node.type === selectedTestCase.type}"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap" class="tc-tree-node">
            <a class="point" ng-click="selectTestCase(node)">{{::node.label}}</a>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CBTestCase.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && 'TestCase' === selectedTestCase.type}">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.name}}</a>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CBTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && 'TestStep' === selectedTestCase.type}">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.position}}.{{::node.name}}</a>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CBTestPlan.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.name}}</a>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>


<script type="text/ng-template" id="CBTestCaseGroup.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px; white-space: nowrap">
            <span>{{::node.name}}</span>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CFTestCase.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding:0;white-space: nowrap"
            ng-class="{ 'node-active': node.id === testCase.id && node.type === testCase.type}">
             <span>{{::node.name}}</span>
            <!--<input ng-if="node.children != null && node.children.length > 0" title="Expand All" ng-click="expand($event)" type="checkbox">-->
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CFTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding:0;white-space: nowrap"
            ng-class="{ 'node-active': node.id === testCase.id && node.type === testCase.type}">
            <a class="point" ng-click="loadTestCase(node)">{{::node.name}}</a>
        </td>
    </tr>
</script>



<script type="text/ng-template" id="IsolatedTestCase.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && node.type  === 'TestCase'}">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.name}}</a>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="IsolatedResponderTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && node.type === selectedTestCase.type}">
            <a class="point"
               ng-click="selectTestCase(node)">
                <i  class="fa fa-arrow-left"></i>
                {{::node.position}}. {{::node.name}}</a>
         </td>
    </tr>
</script>

<script type="text/ng-template" id="IsolatedInitiatorTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && node.type === selectedTestCase.type}">
            <a class="point"
               ng-click="selectTestCase(node)">
                <i
                   class="fa fa-arrow-right"></i>
                {{::node.position}}. {{::node.name}}</a>
         </td>
    </tr>
</script>

<script type="text/ng-template" id="IsolatedManualTestStep.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && (node.type === 'TestStep' ||  node.type  === 'TestCase')}">
            <a class="point"
               ng-click="selectTestCase(node)">
                <i
                   class="fa fa-check-square-o"></i>
                {{::node.position}}. {{::node.name}}</a>
         </td>
    </tr>
</script>


<script type="text/ng-template" id="IsolatedTestPlan.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap">
            <a class="point"
               ng-click="selectTestCase(node)">{{::node.name}}</a>
        </td>
    </tr>
</script>



<script type="text/ng-template" id="IsolatedTestCaseGroup.html">
    <tr tt-node style="white-space: nowrap"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;white-space: nowrap">
            <span>{{::node.name}}</span>
        </td>
    </tr>
</script>






