<div ng-controller="TestingCtrl" ng-init="init()">
<div ng-show="error === null || error === undefined">
    <div ng-show="!loading" class="container2">
        <tabset>
            <tab select="selectTestingType(0)" active="tabs[0]">
                <tab-heading>
                    <span class="badge">1</span>
                    <i class="fa fa-envelope"></i>
                    SOAP Envelope
                </tab-heading>
                <div ng-include="'views/envelope/testing.html'"></div>
            </tab>
            <tab disabled="false" select="selectTestingType(1)" active="tabs[1]">
                <tab-heading>
                    <span class="badge">2</span>
                    <i class="fa fa-exchange"></i>
                    SOAP Connectivity
                </tab-heading>
                <div ng-include="'views/connectivity/testing.html'"></div>
            </tab>
            <tab select="selectTestingType(2)" active="tabs[2]">
                <tab-heading>
                    <span class="badge">3</span>
                    <i class="fa fa-check-square-o"></i>
                    HL7 Context-free
                </tab-heading>
                <div ng-include="'views/cf/testing.html'"></div>
            </tab>
            <tab disabled="false" select="selectTestingType(3)" active="tabs[3]">
                <tab-heading>
                    <span class="badge">4</span>
                    <i class="fa fa-th-list"></i>
                    HL7 Context-based
                </tab-heading>
                <div ng-include="'views/cb/testing.html'"></div>
            </tab>
            <tab disabled="true" select="selectTestingType(4)" active="tabs[4]">
                <tab-heading>
                    <span class="badge">5</span>
                    <i class="fa fa-cogs"></i>
                    EHR-S Functional
                </tab-heading>
                <!--<div ng-include="'views/testing/ehrFunctionalTesting.html'"></div>-->
            </tab>
            <tab disabled="true" select="selectTestingType(5)" active="tabs[5]">
                <tab-heading>
                    <span class="badge">6</span>
                    <i class="fa fa-cogs"></i>
                    IIS Functional
                </tab-heading>
                <!--<div ng-include="'views/testing/iisFunctionalTesting.html'"></div>-->
            </tab>


        </tabset>


    </div>


    <div ng-show="loading" style="text-align:center">
        <img ng-src="images/ajax.gif" alt="loading..."/>
    </div>

</div>

<div ng-show="error !== null &&  error != undefined">
    <div class="alert alert-danger" role="alert" ng-bind="error"></div>
</div>


<script type="text/ng-template" id="CBTestCase.html">
    <tr tt-node
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && (node.type === 'TestStep' ||  node.type  === 'TestCase')}">
            <a class="point" ng-show="node.type === 'TestStep' ||  node.type  === 'TestCase'"
               ng-click="selectTestCase(node)">{{node.type}}: {{node.name}}</a>
            <span ng-show="node.type === 'TestPlan' || node.type === 'TestCaseGroup'">{{node.type}}: {{node.name}}</span>
        </td>
    </tr>
</script>

<!--<script type="text/ng-template" id="CFTestCase.html">-->
<!--<tr style="padding:0" tt-node ng-class="{ 'btn-profile-active': node.id === testCase.id}" class="btn-profile" ng-click="loadTestCase(node)" role="button"-->
<!--is-branch="node.children != null && node.children.length > 0">-->
<!--<td>{{node.name}}</td>-->
<!--</tr>-->
<!--</script>-->

<script type="text/ng-template" id="CFTestCase.html">
    <tr tt-node
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding:0;" ng-class="{ 'node-active': node.id === testCase.id}">
            <a class="point" ng-show="node.testContext && node.testContext !== null" ng-click="loadTestCase(node)">{{node.name}}</a>
            <span ng-show="!node.testContext || node.testContext === null">{{node.name}}</span>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="SOAPTestCase.html">
    <tr tt-node ng-class="{ 'node-active': node.id === selectedTestCase.id && node.type === selectedTestCase.type}"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;" class="tc-tree-node">
            <a class="point" ng-click="selectTestCase(node)">{{node.label}}</a>
        </td>
    </tr>
</script>


</div>