<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>


<div ng-controller="TransportConfigListCtrl" style="min-height:400px; margin-left:10px;margin-top:10px;"
     ng-init="initTransportConfigList()">
<div ng-show="loading" style="text-align:center">
    <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
</div>
<div ng-show="!loading">
<div ng-show="transport.error !== null">
    <div class="alert alert-danger" role="alert" ng-bind="transport.error"></div>
</div>
<div ng-show="transport.error === null">

<div ng-show="getDomains() != null && getDomains().length > 0">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
            <div class="">
                <span style="font-weight:bold">Transport:</span>

                <div class="btn-group btn-group-sm" data-toggle="buttons" style="margin-right: 10px;">
                    <label class="btn   btn-cf-outline" ng-click="toggleTransport(false)"
                           ng-class="{'active': !transport.disabled}">
                        <input type="radio" ng-model="transport.disabled" autocomplete="off" checked>On
                    </label>
                    <label class="btn  btn-cf-outline" ng-click="toggleTransport(true)"
                           ng-class="{'active': transport.disabled}">
                        <input type="radio" ng-model="transport.disabled" autocomplete="off">Off
                    </label>
                </div>

            </div>

            <hr style="margin-top:10px; margin-bottom:0px"/>

            <div style="text-align: center; color:red; font-weight: bold" ng-if="transport.disabled">
                Transport is disabled
            </div>
        </div>
    </div>

    <div ng-if="!transport.disabled">
        <div ng-repeat="dom in getDomains()">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Protocols
                        </div>
                        <div class="panel-body">

                            <div class="btn-group-vertical" role="group" aria-label="Protocols">
                                <button type="button" class="btn btn-cf-outline btn-sm"
                                        ng-repeat="proto in getProtocols(dom)" ng-click="selectPane(dom, proto)"
                                        ng-class="{'active': isActivePane(dom,proto)}"
                                        tooltip-html="getProtoDescription(dom, proto)"
                                        tooltip-append-to-body="true"
                                        tooltip-class="constraints-tooltip"
                                        tooltip-trigger
                                        tooltip-animation="false" tooltip-placement="right">{{proto | uppercase}}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="panel panel-info" ng-repeat="proto in getProtocols(dom)" ng-if="isActivePane(dom,proto)">
                        <div class="panel-heading">
                            <i class="fa fa-cog fa-fw"></i> {{proto | uppercase}} Configuration
                        </div>
                        <div class="panel-body">
                            <div>
                                <div ng-show="transport.configs[dom][proto].error && transport.configs[dom][proto].error !== null">
                                    <div class="alert alert-danger" role="alert"
                                         ng-bind="transport.configs[dom][proto].error"></div>
                                </div>
                                <div ng-show="!transport.configs[dom][proto].error || transport.configs[dom][proto].error === null">
                                    <div ng-show="transport.configs[dom][proto].data && transport.configs[dom][proto].data !== null">

                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <i class="fa fa-arrow-right fa-fw"></i>Sender (NIST
                                                Assigned)
                                            </div>
                                            <div class="panel-body">
                                                <div ng-controller="SutInitiatorConfigCtrl"
                                                     ng-init="initSutInitiatorConfig(dom, proto)"
                                                     style="padding-top: 20px">

                                                    <div ng-show="transport.configs[dom][proto]['forms']['sutInitiatorForm'] && transport.configs[dom][proto]['forms']['sutInitiatorForm'] != null">
                                                        <form name="sutInitiatorForm_{{dom}}_{{proto}}"
                                                              id="sutInitiatorForm_{{dom}}_{{proto}}"
                                                              novalidate
                                                              class="form-horizontal">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div compile="transport.configs[dom][proto]['forms']['sutInitiatorForm']"/>
                                                                </div>

                                                                <div class="col-md-12" ng-show="isAuthenticated()">
                                                                    <div class="form-group">
                                                                        <div class="col-md-offset-2 col-md-6">
                                                                            <button class="btn btn-sm btn-primary"
                                                                                    ng-click='saveSutInitiatorConfig(dom, proto)'
                                                                                    ng-disabled='sutInitiatorForm_{{dom}}_{{proto}}.$invalid || sutInitiatorForm_{{dom}}_{{proto}}.$pristine'>
                                                                                <i class="fa fa-check"></i>
                                                                                Save
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div ng-show="saving" style="text-align:center">
                                                                                <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <!--<div class="col-md-12"-->
                                                                     <!--ng-show="error !== null">-->
                                                                    <!--<div class="alert alert-danger"-->
                                                                         <!--role="alert"-->
                                                                         <!--ng-bind="error"></div>-->
                                                                <!--</div>-->

                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div ng-show="!transport.configs[dom][proto]['forms']['sutInitiatorForm'] || transport.configs[dom][proto]['forms']['sutInitiatorForm'] == null">
                                                        No Configuration Available
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-info" style="margin-top: 20px">
                                            <div class="panel-heading">
                                                <i class="fa fa-arrow-left fa-fw"></i> Receiver (SUT
                                                Information)
                                            </div>
                                            <div class="panel-body">
                                                <div ng-controller="TaInitiatorConfigCtrl"
                                                     ng-init="initTaInitiatorConfig(dom,proto)"
                                                     style="padding-top: 20px">

                                                    <div ng-show="transport.configs[dom][proto]['forms']['taInitiatorForm'] && transport.configs[dom][proto]['forms']['taInitiatorForm'] != null">
                                                        <form name="taInitiatorForm_{{dom}}_{{proto}}"
                                                              id="taInitiatorForm_{{dom}}_{{proto}}"
                                                              novalidate
                                                              class="form-horizontal">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div compile="transport.configs[dom][proto]['forms']['taInitiatorForm']"/>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div class="col-md-offset-2 col-md-6">
                                                                            <button class="btn btn-sm btn-danger"
                                                                                    ng-click='reset()'
                                                                                    ng-disabled="taInitiatorForm_{{dom}}_{{proto}}.$pristine">
                                                                                <i class="fa fa-times"></i>
                                                                                Reset
                                                                            </button>
                                                                            <button class="btn btn-sm btn-success"
                                                                                    ng-click='save()'
                                                                                    ng-disabled='taInitiatorForm_{{dom}}_{{proto}}.$invalid || taInitiatorForm_{{dom}}_{{proto}}.$pristine'>
                                                                                <i class="fa fa-check"></i>
                                                                                Save
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="col-md-12"-->
                                                                     <!--ng-show="error !== null">-->
                                                                    <!--<div class="alert alert-danger"-->
                                                                         <!--role="alert"-->
                                                                         <!--ng-bind="error"></div>-->
                                                                <!--</div>-->
                                                                <!--<div class="col-md-12"-->
                                                                     <!--ng-show="message !== null">-->
                                                                    <!--<div class="alert alert-success"-->
                                                                         <!--role="alert"-->
                                                                         <!--ng-bind="message"></div>-->
                                                                <!--</div>-->
                                                            </div>
                                                        </form>
                                                        <div ng-show="!transport.configs[dom][proto]['forms']['taInitiatorForm'] || transport.configs[dom][proto]['forms']['taInitiatorForm'] == null">
                                                            No Configuration Available
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div ng-show="!transport.configs[dom][proto].data || transport.configs[dom][proto].data === null">
                                        No Configuration information found.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center; color:red; font-weight: bold"
     ng-show="getDomains() === null || getDomains().length === 0">
    Transport is not supported.
</div>

</div>


</div>
</div>
