<style id="antiClickjack">body {
  display: none !important;
}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>
<loading-testcases></loading-testcases>
<div style="margin:10px">
  <div class="modal-header">
	<span style="font-weight: bold; font-size: 20px">
    Upload Profiles
    </span>
    <span class="pull-right">
		<button class="btn btn-xs btn-primary" ng-click="dismissModal()"><i class="fa fa-times"></i></button>
  	</span>
  </div>
  <div class="modal-body" style="padding:10px 0px 0px 0px;">

    <div class="row">
      <div class="col-md-12" style="min-height: 550px;" ng-show="step == 0">
        <tabset>
          <tab>
            <tab-heading>
              <i class="fa fa-upload"></i> Archive File
            </tab-heading>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                <div class="upload-drop-box" nv-file-over nv-file-drop
                     over-class="upload-drop-box-file-over" uploader="zipUploader">
                  <label class="btn btn-success" style="width:270px; text-align:left">
                    <i class="fa fa-file" aria-hidden="true"></i> Browse/Drag Package (.zip)
                    <input type="file" accept="application/zip" nv-file-select
                           uploader="zipUploader" style="display: none;">
                  </label>
                  <br />
                  <i ng-show="zipUploader.queue.length">

                        <span ng-show="zipUploader.queue[0].isSuccess"><i
                          class="fa fa-check"></i></span>

                    {{zipUploader.queue[0].file.name}},
                    {{
                    zipUploader.queue[0].file.size/1024/1024|number:2 }} MB
                  </i>

                </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': zipUploader.progress + '%' }"></div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <tab-heading>
              <i class="fa fa-upload"></i> Individual Files
            </tab-heading>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                     <div class="upload-drop-box" nv-file-over nv-file-drop
                         over-class="upload-drop-box-file-over" uploader="profileUploader">
                      <label class="btn btn-success" style="width:270px; text-align:left">
                        <i class="fa fa-file" aria-hidden="true"></i> Browse/Drag Profile File (.xml)
                        <input type="file" accept="text/xml" nv-file-select uploader="profileUploader"
                               style="display: none;">
                      </label>
                      <br>
                      <i ng-show="profileUploader.queue.length">

                        <span ng-show="profileUploader.queue[0].isSuccess"><i
                          class="fa fa-check"></i></span>

                        {{profileUploader.queue[0].file.name}},
                      {{
                                profileUploader.queue[0].file.size/1024/1024|number:2 }} MB
                      </i>
                    </div>
                   </div>
                  <div class="col-md-12">
                    <div class="progress" style="">
                      <div class="progress-bar" role="progressbar"
                           ng-style="{ 'width': profileUploader.progress + '%' }"></div>
                    </div>
                  </div>

                  <div class="col-md-12">
                     <div class="upload-drop-box" nv-file-over nv-file-drop
                         over-class="upload-drop-box-file-over" uploader="vsUploader">
                      <label class="btn btn-success" style="width:270px; text-align:left">
                        <i class="fa fa-file" aria-hidden="true"></i> Browse/Drag Value Set File (.xml)
                        box <input type="file" accept="text/xml" nv-file-select uploader="vsUploader"
                                   multiple style="display: none;">
                      </label>
                      <br>
                      <i ng-show="vsUploader.queue.length">
                                  <span ng-show="vsUploader.queue[0].isSuccess"><i
                                    class="fa fa-check"></i></span>
                        {{vsUploader.queue[0].file.name}},
                        {{
                        vsUploader.queue[0].file.size/1024/1024|number:2 }} MB
                      </i>

                    </div>
                   </div>
                  <div class="col-md-12">
                    <div class="progress" style="">
                      <div class="progress-bar" role="progressbar"
                           ng-style="{ 'width': vsUploader.progress + '%' }"></div>
                    </div>
                  </div>

                  <div class="col-md-12">
                   <div class="upload-drop-box" nv-file-over nv-file-drop
                         over-class="upload-drop-box-file-over" uploader="constraintsUploader">
                      <label class="btn btn-default btn-info" style="width:270px; text-align:left">
                        <i class="fa fa-file" aria-hidden="true"></i> Browse/Drag  Constraint file(.xml)
                        <input type="file" accept="text/xml" nv-file-select
                               uploader="constraintsUploader" multiple style="display: none;">
                      </label><br>

                    <i ng-show="constraintsUploader.queue.length">

                         <span ng-show="constraintsUploader.queue[0].isSuccess"><i
                           class="fa fa-check"></i></span>
                      {{constraintsUploader.queue[0].file.name}},
                      {{
                      constraintsUploader.queue[0].file.size/1024/1024|number:2 }} MB
                    </i>
                     </div>
                   </div>
                </div>
                <div class="col-md-12">
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': constraintsUploader.progress + '%' }"></div>
                  </div>
                </div>
              </div>
            </div>
           </tab>
        </tabset>
        <div class="pull-right" ng-show="profileMessages.length  && constraintValidationErrors.length == 0 && valueSetValidationErrors.length == 0 ">
          <button type="button" class="btn btn-primary btn-s"
                  ng-click="addSelectedTestCases()"
                  ng-disabled="!getSelectedTestcases().length">
            <i class="fa fa-check"></i>DONE
          </button>
        </div>
      </div>

      <div ng-show="step == 1">
        <div ng-show="profileValidationErrors.length  || constraintValidationErrors.length || valueSetValidationErrors.length ">
          <!-- Profile Errors -->
          <div class="col-md-12" style="margin-bottom: 10px">
            <div class="pull-left">
              <button  type="button" class="btn btn-primary btn-md" ng-click="step = 0"
              >
                <i class="fa fa-arrow-left"></i> Back
              </button>
            </div>
          </div>

          <div class="col-md-12">

            <accordion close-others="true">
              <accordion-group panel-class="panel-danger"  ng-if="profileValidationErrors.length > 1">
                <accordion-heading>
                  <i style="font-size: 20px"
                     class="fa fa-exclamation-triangle"
                     aria-hidden="true"></i> Profile error(s) <span class="badge">{{profileValidationErrors.length}}</span>
                </accordion-heading>

              <div class="upload-error-table fixed-table-container">
                <table st-table="profileValidationErrors"
                       class="table table-condensed  table-striped table-bordered" oci-fixed-header>
                  <thead>
                <thead>
                <th st-ratio="5" style="text-align: center;">#</th>
                <th st-ratio="5" >Row</th>
                <th st-ratio="10">Column</th>
                <th st-ratio="80">Error</th>
                </thead>
                <tbody>
                <tr ng-repeat="error in profileValidationErrors track by $index">
                  <td  st-ratio="5" style="text-align: center;">
                    {{$index +1}}
                  </td>
                  <td st-ratio="5">
                    {{error.line}}
                  </td>
                  <td st-ratio="10">
                    {{error.column}}
                  </td>
                  <td st-ratio="80" class="bold">
                    {{error.message}}
                  </td>
                </tr>
                </tbody>
                </table>
              </div>
              </accordion-group>


              <accordion-group panel-class="panel-danger"  ng-if="valueSetValidationErrors.length > 1">
                <accordion-heading>
                  <i style="font-size: 20px"
                     class="fa fa-exclamation-triangle"
                     aria-hidden="true"></i> ValueSet error(s) <span class="badge">{{valueSetValidationErrors.length}}</span>
                </accordion-heading>

                    <div class="upload-error-table fixed-table-container">
                      <table st-table="valueSetValidationErrors"
                             class="table table-condensed  table-striped table-bordered" oci-fixed-header>
                        <thead>
                        <thead class="">
                        <th st-ratio="5" style="text-align: center;">#</th>
                        <th st-ratio="5" >Row</th>
                        <th st-ratio="10" >Column</th>
                        <th st-ratio="80" >Error</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="error in valueSetValidationErrors track by $index">
                          <td  st-ratio="5" style="text-align: center;">
                            {{$index +1}}
                          </td>
                          <td st-ratio="5">
                            {{error.line}}
                          </td>
                          <td st-ratio="10">
                            {{error.column}}
                          </td>
                          <td st-ratio="80" class="bold">
                            {{error.message}}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
              </accordion-group>



              <accordion-group panel-class="panel-danger"  ng-if="constraintValidationErrors.length > 1">
                <accordion-heading>
                  <i style="font-size: 20px"
                     class="fa fa-exclamation-triangle"
                     aria-hidden="true"></i> Constraint error(s) <span class="badge">{{constraintValidationErrors.length}}</span>
                </accordion-heading>
                    <div class="upload-error-table fixed-table-container">
                      <table st-table="constraintValidationErrors"
                             class="table table-condensed  table-striped table-bordered" oci-fixed-header>
                        <thead>
                        <thead class="">
                        <th st-ratio="5" style="text-align: center;">#</th>
                        <th st-ratio="5" >Row</th>
                        <th st-ratio="10">Column</th>
                        <th st-ratio="80">Error</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="error in constraintValidationErrors track by $index">
                          <td  st-ratio="5" style="text-align: center;">
                            {{$index +1}}
                          </td>
                          <td st-ratio="5">
                            {{error.line}}
                          </td>
                          <td st-ratio="10">
                            {{error.column}}
                          </td>
                          <td st-ratio="80" class="bold">
                            {{error.message}}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
              </accordion-group>
            </accordion>

          </div>
          <div class="col-md-12">
          <div class="pull-left">
            <button  type="button" class="btn btn-primary btn-md" ng-click="step = 0"
            >
              <i class="fa fa-arrow-left"></i> Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

