<div id="subNavBar" class="subNavBar" ng-controller="CBTestingCtrl" ng-init="init()">
    <ul class="clearfix mainSubNav">
        <li ng-click="setSubActive('/cb_testcase')" class="jslink" ><a ng-class="{'current':isSubActive('/cb_testcase')}"> <i class="fa fa-th-list"></i> Test Selection</a></li>
        <li ng-click="setSubActive('/cb_execution')" class="jslink" ><a ng-class="{'current':isSubActive('/cb_execution')}"> <i class="fa fa-cogs"></i> Test Execution</a></li>
    </ul>

    <div ng-show="isSubActive('/cb_testcase')">
        <div ng-include="'views/cb/testcase.html'"></div>
    </div>

    <div ng-show="isSubActive('/cb_execution')">
        <div ng-include="'views/cb/execution.html'"></div>
    </div>

</div>