<div>
         <tabset>
            <tab disabled="disabled()" select="setActiveTab(1)" active="tabs[1]">
                <tab-heading>
                    <i class="fa fa-check-circle"></i>Validation
                </tab-heading>

                <div ng-include="'views/cb/validation.html'"></div>
            </tab>
            <tab disabled="disabled()" select="setActiveTab(2)" active="tabs[2]">
                <tab-heading>
                    <i class="fa fa-file-o"></i>Report
                </tab-heading>

                <div ng-include="'views/cb/report.html'"></div>
            </tab>
            <tab disabled="disabled()">
                <tab-heading>
                    <i class="fa fa-th-list"></i>Profile Viewer
                </tab-heading>
                <div ng-include="'views/cb/profileViewer.html'"></div>
            </tab>
            <tab disabled="disabled()">
                <tab-heading>
                    <i class="fa fa-book"></i>Vocabulary
                </tab-heading>
                <div ng-include="'views/cb/vocabulary.html'"></div>
            </tab>
        </tabset>

</div>
