<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<div class="row">

    <div class="col-md-12" ng-show="testStep != null" style="margin:10px">
        <div ng-show="testCase != null">
            <span style="font-size: 18px; font-weight: bold">{{testStep.position}}. Test Step: {{testStep.name}}</span>
            <hr />
        </div>
    </div>
    <div class="col-md-12">
        <div ng-show="testStep.testingType === 'DATAINSTANCE' || testStep.testingType === 'TA_RESPONDER' || testStep.testingType === 'SUT_RESPONDER' || testStep.testingType === 'TA_INITIATOR' || testStep.testingType === 'SUT_INITIATOR'">
            <tabset>
                <tab disabled="disabled()" select="setActiveTab(0)" active="tabs[0]">
                    <tab-heading>
                        <i class="fa fa-check-circle"></i>Validation
                    </tab-heading>

                    <div ng-include="'views/cb/validation.html'"></div>
                </tab>
                <tab disabled="disabled()" select="setActiveTab(1)" active="tabs[1]">
                    <tab-heading>
                        <i class="fa fa-file-o"></i>Report
                    </tab-heading>

                    <div ng-include="'views/cb/report.html'"></div>
                </tab>
                <tab disabled="disabled()" select="setActiveTab(2)" active="tabs[2]"
                     ng-show="testStep.testContext.profile && testStep.testContext.profile!= null">
                    <tab-heading>
                        <i class="fa fa-th-list"></i>Profile Viewer
                    </tab-heading>
                    <div ng-include="'views/cb/profileViewer.html'"></div>
                </tab>
                <tab disabled="disabled()" select="setActiveTab(3)" active="tabs[3]"
                     ng-show="testStep.testContext.vocabularyLibrary && testStep.testContext.vocabularyLibrary!= null">
                    <tab-heading>
                        <i class="fa fa-book"></i>ValueSets
                    </tab-heading>
                    <div ng-include="'views/cb/vocabulary.html'"></div>
                </tab>
                <!--<tab ng-show="testStep.jurorDocument && testStep.jurorDocument != null && isMultiStepTesting()">-->
                <!--<tab-heading>-->
                <!--<i class="fa fa-check-circle"></i>Juror Document-->
                <!--</tab-heading>-->
                <!--<div class="panel panel-info">-->
                <!--<div class="panel-body">-->
                <!--<div class="pull-right">-->
                <!--<button title="Download Juror Document" type="button" class="btn btn-sm btn-primary"-->
                <!--ng-click="downloadTestArtifact(testStep.jurorDocument.pdfPath)">-->
                <!--<i class="fa fa-download"></i> PDF-->
                <!--</button>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<div class="testcase-content" id="isolated_jurordoc">-->
                <!--<div compile="testStep.jurorDocument.html"/>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</tab>-->
            </tabset>
        </div>

        <div ng-show="testStep.testingType === 'SUT_MANUAL' || testStep.testingType === 'TA_MANUAL'">
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Instruction
                        </div>
                        <div class="panel-body">
                            <div ng-bind="testStep.description"></div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
