<div>
    <div class="" style="margin:10px">
        <div ng-show="!loading">
            <div class="">
                <ol class="breadcrumb" ng-show="testCase != null" style="font-weight: bold">
                    <li ng-show="testCase['nav'].testPlan != null">{{testCase['nav'].testPlan}}</li>
                    <li ng-show="testCase['nav'].testGroup != null">{{testCase['nav'].testGroup}}</li>
                    <li ng-show="testCase['nav'].testCase != null">{{testCase['nav'].testCase}}</li>
                    <li ng-show="testCase['nav'].testStep != null">{{testCase['nav'].testStep}}</li>
                </ol>
                <span ng-show="testCase == null" style="text-align:center">No Test Case Loaded.</span>
            </div>
            <div class="">
                <div>
                    <div class="row" ng-show="error != null">
                        <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                    </div>
                    <div ng-show="testCase != null" id="executionPanel">
                        <tabset>
                            <tab disabled="disabled()" select="setActiveTab(0)" active="tabs[0]">
                                <tab-heading>
                                    <i class="fa fa-check-circle"></i>Validation
                                </tab-heading>

                                <div ng-include="'views/cb/validation.html'"></div>
                            </tab>
                            <tab disabled="disabled()" select="setActiveTab(1)" active="tabs[1]">
                                <tab-heading>
                                    <i class="fa fa-file-o"></i>Report
                                </tab-heading>

                                <div ng-include="'views/cb/report.html'"></div>
                            </tab>
                            <tab disabled="disabled()" select="setActiveTab(2)" active="tabs[2]"
                                 ng-show="testCase.testContext.profile && testCase.testContext.profile!= null">
                                <tab-heading>
                                    <i class="fa fa-th-list"></i>Profile Viewer
                                </tab-heading>
                                <div ng-include="'views/cb/profileViewer.html'"></div>
                            </tab>
                            <tab disabled="disabled()" select="setActiveTab(3)" active="tabs[3]"
                                 ng-show="testCase.testContext.vocabularyLibrary && testCase.testContext.vocabularyLibrary!= null">
                                <tab-heading>
                                    <i class="fa fa-book"></i>ValueSets
                                </tab-heading>
                                <div ng-include="'views/cb/vocabulary.html'"></div>
                            </tab>
                        </tabset>
                    </div>
                    <!--<div ng-show="testCase === null">-->
                    <!--No Test Case Loaded.-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div ng-show="loading" style="text-align:center">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
    </div>
</div>
