<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>

<div class="row" ng-show="testStep != null">

    <div class="col-md-12"
         ng-show="detailsError !== null">
        <div class="alert alert-danger"
             role="alert"
             ng-bind="detailsError"></div>
    </div>

    <div class="col-md-12">
        <!--<div ng-show="testCase != null">-->
        <!--<span style="font-size: 18px; font-weight: bold">{{testStep.position}}. Test Step: {{testStep.name}}</span>-->
        <!--<hr class="noMargin" />-->
        <!--</div>-->
        <!--<div ng-show="testStep.testingType === 'DATAINSTANCE' || testStep.testingType === 'TA_RESPONDER' || testStep.testingType === 'SUT_RESPONDER' || testStep.testingType === 'TA_INITIATOR' || testStep.testingType === 'SUT_INITIATOR'">-->
        <tabset>
            <tab disabled="disabled()" select="setTestStepExecutionTab(0)" active="tabs[0]"
                 ng-show="testStep.testContext && testStep.testContext != null">
                <tab-heading>
                    <i class="fa fa-check-circle"></i>Validation
                </tab-heading>

                <div ng-include="'views/cb/validation.html'"></div>
            </tab>
            <tab disabled="disabled()" select="setTestStepExecutionTab(1)" active="tabs[1]"
                 ng-show="testStep.testContext && testStep.testContext != null">
                <tab-heading>
                    <i class="fa fa-file-o"></i>Report
                </tab-heading>

                <div ng-include="'views/cb/report.html'"></div>
            </tab>
            <tab disabled="disabled()" select="setTestStepExecutionTab(2)" active="tabs[2]"
                 ng-show="testStep.testContext && testStep.testContext != null && testStep.testContext.profile && testStep.testContext.profile!= null">
                <tab-heading>
                    <i class="fa fa-th-list"></i>Profile Viewer
                </tab-heading>
                <div ng-include="'views/cb/profileViewer.html'"></div>
            </tab>

            <tab disabled="disabled()" select="setTestStepExecutionTab(3)" active="tabs[3]"
                 ng-show="testStep.testContext && testStep.testContext != null && testStep.testContext.vocabularyLibrary && testStep.testContext.vocabularyLibrary!= null">
                <tab-heading>
                    <i class="fa fa-book"></i>ValueSets
                </tab-heading>
                <div ng-include="'views/cb/vocabulary.html'"></div>
            </tab>

            <tab class="pull-right" ng-click="setTestStepExecutionTab(5)" active="tabs[5]"
                 ng-show="testStep.testContext && testStep.testContext.message && testStep.testContext.message!== null && testStep.testContext.message.content != null">
                <tab-heading>
                    <i class="fa fa-file-text-o"></i>Example Message
                </tab-heading>
                <div example-message target="{{targ}}"></div>
            </tab>

            <tab class="pull-right" ng-show="testStep['jurorDocument']  && testStep['jurorDocument'] !== null" active="tabs[6]"
                 ng-click="setTestStepExecutionTab(6)">
                <tab-heading>
                    <i class="fa fa-list-alt"></i> Juror Document
                </tab-heading>
                <div juror-document target="{{targ}}"></div>
            </tab>


            <tab class="pull-right" ng-show="testStep['messageContent'] && testStep['messageContent'] !== null" active="tabs[7]"
                 ng-click="setTestStepExecutionTab(7)">
                <tab-heading>
                    <i class="fa fa-list-alt"></i> Message Content
                </tab-heading>
                <div message-content target="{{targ}}"></div>
            </tab>

            <tab class="pull-right"
                 ng-show="testStep['testDataSpecification'] && testStep['testDataSpecification'] !== null" active="tabs[8]"
                 ng-click="setTestStepExecutionTab(8)">
                <tab-heading>
                    <i class="fa fa-list-alt"></i>Test Data Specification
                </tab-heading>

                <div test-data-specification target="{{targ}}"></div>
            </tab>

            <tab class="pull-right" active="tabs[9]" ng-click="setTestStepExecutionTab(9)"
                 ng-show="testStep['testStory'] && testStep['testStory'] !== null">
                <tab-heading>
                    <i class="fa fa-info"></i>Test Story
                </tab-heading>
                <div test-story target="{{targ}}"></div>
            </tab>

        </tabset>
    </div>

</div>
