<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="panel panel-info">
<div class="panel-heading">
    <span ng-show="testCase.executionStatus !== 'COMPLETE'">Test Steps Execution</span>
    <span ng-show="testCase.executionStatus === 'COMPLETE'">Test Steps Result</span>
</div>
<div class="panel-body">
<table st-table="testCase.children" style="margin-bottom: 0px"
       class="table table-bordered  table-condensed stTable">
    <thead>
    <tr class="">
        <th style="width:5%">#</th>
        <th style="width:20%">Name</th>
        <th style="width:35%">Description</th>
        <th style="width:15%">Execution Status</th>
        <th style="width:10%" ng-show="testCase.transport === true && user.info != null && !transport.disabled">
            Transport
        </th>
        <th style="width:15%">Execution Result</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-class="{'current': testStep != null && row.id === testStep.id}"
        ng-repeat="row in testCase.children | orderBy:'position'">
        <td style="width:5%">
            <label>
                                    <span ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                       <i class="fa fa-wrench"></i>
                    </span>

                    <span ng-show="row.testingType === 'TA_INITIATOR' || row.testingType === 'TA_RESPONDER'">
                        <i class="fa fa-arrow-left"></i>
                    </span>

                    <span ng-show="row.testingType === 'SUT_INITIATOR' || row.testingType === 'SUT_RESPONDER'">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                <input ng-show="isTestCaseCompleted()" type="radio"
                       ng-click="selectTestStep(row)"
                       ng-checked="testStep != null && testStep.id === row.id"
                        >
                {{row.position}}.
            </label>
        </td>
        <td style="width:20%">

            {{row.name}}
        </td>
        <td style="width:35%" ng-bind-html="row.description"></td>


        <td style="width:15%">
                    <span>
                    <span ng-show="getExecutionStatus(row) === undefined">Not started</span>
                          <span ng-show="getExecutionStatus(row) === 'IN_PROGRESS'">
                                       <i title="In Progress"
                                          class="glyphicon glyphicon-ok"></i> In Progress
                             </span>
                            <span ng-show="getExecutionStatus(row) === 'COMPLETE'">
                                     <i title="Complete"
                                        class="glyphicon glyphicon-ok green"></i> Completed
                             </span>
                        </span>
        </td>

        <td style="width:10%" ng-show="testCase.transport === true && user.info != null && !transport.disabled">

            <!--<a ng-show="row.testingType !== 'SUT_INITIATOR' && row.testingType !== 'TA_INITIATOR' && row.testingType !== 'SUT_RESPONDER' && row.testingType !== 'TA_RESPONDER' && transport.logs[row.id] && transport.logs[row.id] != null"-->
            <!--ng-click="viewConsole(row.id)">-->
            <!--</a>-->


            <div ng-show="testCase.executionStatus !== 'COMPLETE'">

                <div ng-show="testStep != null && row.id == testStep.id">
                    <div ng-show="testStep.testingType === 'SUT_INITIATOR'">
                        <div ng-show="transport.configs[domain][protocol].data.sutInitiator && transport.configs[domain][protocol].data.sutInitiator != null">
                            <!--<button title="Config Info" type="button"-->
                            <!--ng-click="openConfig()"-->
                            <!--class="btn btn-xs btn-info"><i-->
                            <!--class="fa fa-cog"></i>-->
                            <!--</button>-->
                            <button type="button" title="Start Listening"
                                    ng-click="startListener()" ng-disabled="connecting"
                                    title="Start listening"
                                    class="btn btn-xs btn-success">
                                <i class="fa fa-play fa-fw"></i>Listen
                            </button>
                            <button type="button" title="Stop Listening"
                                    ng-disabled="!connecting" ng-click="stopListener()"
                                    class="btn btn-xs btn-warning"><i class="fa fa-stop fa-fw"></i>Stop
                            </button>
                            <!--<span ng-show="connecting">-->
                            <!--<i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}-->
                            <!--</span>-->
                        </div>

                        <div ng-show="!transport.configs[domain][protocol].data.sutInitiator || transport.configs[domain][protocol].data.sutInitiator === null">
                            No configuration Information Available
                        </div>
                        <!--<div class="row" collapse="configCollapsed">-->
                        <!--<div class="col-md-5">-->
                        <!--<fieldset>-->
                        <!--<legend>Configuration Information</legend>-->
                        <!--<form name="sutInitiatorForm" novalidate>-->
                        <!--<div ng-bind-html="toHTML(sutInitiatorConfig)"/>-->
                        <!--</form>-->
                        <!--</fieldset>-->
                        <!--</div>-->

                        <!--</div>-->
                    </div>

                    <div ng-show="testStep.testingType === 'TA_INITIATOR'">
                        <div class=""
                             ng-show="transport.configs[domain][protocol].data.taInitiator && transport.configs[domain][protocol].data.taInitiator != null">
                            <!--<button title="Config Info" type="button"-->
                            <!--ng-click="openConfig()"-->
                            <!--class="btn btn-xs btn-info"><i-->
                            <!--class="fa fa-cog"></i>-->
                            <!--</button>-->
                            <button type="button"
                                    ng-click="send()" ng-disabled="!hasUserContent() || connecting"
                                    title="Send" class="btn btn-xs btn-success">
                                Send <i class="fa fa-share-square fa-fw"></i>
                            </button>
                            <!--<span ng-show="connecting">-->
                            <!--<i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}-->
                            <!--</span>-->
                        </div>
                        <div class=""
                             ng-show="!transport.configs[domain][protocol].data.taInitiator || transport.configs[domain][protocol].data.taInitiator === null">
                            No Configuration Information Found.
                        </div>
                        <!--<div class="row" collapse="configCollapsed">-->
                        <!--<div class="col-md-5">-->
                        <!--<fieldset>-->
                        <!--<legend>Configuration Information</legend>-->
                        <!--<form name="sutInitiatorForm" novalidate>-->
                        <!--<div ng-bind-html="toHTML(sutInitiatorConfig)"/>-->
                        <!--</form>-->
                        <!--</fieldset>-->
                        <!--</div>-->

                        <!--</div>-->
                    </div>
                    <div ng-show="logger.content != '' && logger.content != null && (row.testingType === 'TA_INITIATOR' || row.testingType === 'SUT_INITIATOR')">
                        <a class="point"
                           ng-click="openConsole(row)"><i class="fa fa-file-text fa-fw"></i> View log</a>
                    </div>
                </div>
                <div ng-show="(testStep === null || row.id != testStep.id) && transport.logs[row.id] != null && (row.testingType === 'TA_INITIATOR' || row.testingType === 'SUT_INITIATOR')">
                    <a class="point" ng-click="viewConsole(row)"> <i class="fa fa-file-text fa-fw"></i> View
                        log</a>
                </div>
            </div>
            <div ng-show="testCase.executionStatus === 'COMPLETE'">
                <div ng-show="transport.logs[row.id] != null && (row.testingType === 'TA_INITIATOR' || row.testingType === 'SUT_INITIATOR')">
                    <a class="point" ng-click="viewConsole(row)"> <i class="fa fa-file-text fa-fw"></i> View
                        log</a>
                </div>
            </div>
        </td>

        <td style="width:15%">
                    <span ng-show="row.testingType != 'TA_MANUAL' && row.testingType != 'SUT_MANUAL'">
                    <span ng-show="getValidationStatus(row) < 0 && row.id !== testStep.id">Not started</span>
                        <span ng-show="getValidationStatus(row) < 0 && row.id === testStep.id">
                              In Progress
                        </span>
                    <span ng-show="getValidationStatus(row) > 0">
                              <i title="Message is Invalid"
                                 class="glyphicon glyphicon-remove red"></i> Failed
                          </span>
                            <span ng-show="getValidationStatus(row) == 0">
                                      <i title="Message Is Valid"
                                         class="glyphicon glyphicon-ok green"></i> Passed
                             </span>
                        </span>
                     <span ng-show="row.testingType == 'TA_MANUAL' || row.testingType == 'SUT_MANUAL'">
                        N/A
                    </span>
        </td>

    </tr>
    </tbody>

</table>
<div style="margin-top:5px">
        <span class="pull-left">
                    <button ng-click="goBack(testStep)"
                            ng-show="!isTestCaseCompleted() && !isFirstStep(testStep)"
                            title="Execute Previous Step" class="btn btn-xs btn-info">
                        <span><i class="fa fa-arrow-left"></i> Back</span>
                    </button>
</span>
                    <span class="pull-right">
                    <button ng-click="goNext(testStep)"
                            ng-show="!isLastStep(testStep) && !isTestCaseCompleted() && isTestStepCompleted(testStep)"
                            title="Execute Next Step" class="btn btn-xs btn-info">
                        <span><i class="fa fa-arrow-right"></i> Next</span>
                    </button>

                        <button ng-click="goNext(testStep)"
                                ng-show="isLastStep(testStep) && !isTestCaseCompleted() && isTestStepCompleted(testStep)"
                                title="Complete Test Case" class="btn btn-xs btn-info">
                            <span><i class="fa fa-check-circle"></i> Complete</span>
                        </button>

                        </span>

</div>
</div>
</div>