<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CBTestCaseCtrl" ng-init="initTestCase()">
    <!--<ul class="clearfix mainSubNav">-->
    <!--<li class="current"><a href="#/cb_testcase">Test Selection</a></li>-->
    <!--<li><a href="#/cb_execution">Test Execution</a></li>-->
    <!--</ul>-->
    <div class="row" style="margin:10px">
        <div class="col-md-3">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list"></i>Test Cases</div>
                <div class="panel-body">
                    <div ng-show="!loading">
                        <div ng-show="error === null">

                            <div class="container-testcase">
                                <!--<table tt-table tt-params="params" class="table table-hover no_border">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                <!--<th></th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody></tbody>-->
                                <!--</table>-->
                                <div ng-show="testCases != null && testCases.length > 0">
                                    <testcase-tree tree-control="tree" icon-leaf=""
                                                   is-selectable="isSelectable(branch)"
                                                   on-select="selectTestCase(branch)"></testcase-tree>
                                </div>
                                <div ng-show="testCases == null || testCases.length == 0">
                                    No TestCase Available
                                </div>

                            </div>
                        </div>
                        <div ng-show="error != null">
                            <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                        </div>
                    </div>
                    <div ng-show="loading" style="text-align:center">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-show="!loadingTC">
                <div class="" ng-show="selectedTestCase != null">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span>
                               {{selectedTestCase.type}}: {{selectedTestCase.name}}
                            </span>
                            <span class="pull-right">
                                <button title="Download Test Package" type="button" class="btn btn-xs btn-primary"
                                        ng-show="selectedTestCase.testPackage && selectedTestCase.testPackage != null && selectedTestCase.testPackage.pdfPath != null"
                                        ng-click="downloadArtifact(selectedTestCase.testPackage.pdfPath)">
                                    <i class="fa fa-download"></i>
                                    Download Test Package
                                </button>
                                <button title="Load Selected Test Step" ng-show="(selectedTestCase.type == 'TestStep' && selectedTestCase.testContext != null && selectedTestCase.testContext.format != null)" type="button"
                                        class="btn btn-xs btn-success"
                                        ng-click="loadTestCase(selectedTestCase,'/cb_execution')">
                                    <i class="fa fa-play"></i>Load Test Step
                                </button>

                                <button title="Load Selected Test Case" ng-show="selectedTestCase.type === 'TestCase'" type="button"
                                        class="btn btn-xs btn-success"
                                        ng-click="loadTestCase(selectedTestCase,'/cb_execution')">
                                    <i class="fa fa-play"></i>Load Test Case
                                </button>

                             </span>
                        </div>
                        <div class="panel-body">
                                 <div ng-show="error != null">
                                    <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                                </div>

                                <div ng-show="error===null">

                                    <div class="">
                                        <div class="">
                                            <div testcase-details type="cb"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div ng-show="loadingTC" style="text-align:center">
                <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            </div>
        </div>
    </div>
</div>

