<style id="antiClickjack">body {
  display: none !important;
}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div ng-show="loadingExecution" style="text-align:center">
  <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
</div>
<div ng-show="!loadingExecution" style="margin-left:15px">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span ng-show="!isTestCaseCompleted()">Test Steps Execution</span>
      <span ng-show="isTestCaseCompleted()">Test Steps Result</span>
    </div>
    <div class="panel-body">
      <table st-table="testCase.children" style="margin-bottom: 0px;"
             class="table table-bordered  table-condensed stTable execution-table">
        <thead>
        <tr class="">
          <th ng-if="isTestCaseCompleted()"> </th>
          <th style="width:20%">Name</th>
          <th style="width:20%">Description</th>
          <th ng-if="transportSupported && testCase.transport === true && user.info != null && !transport.disabled"
              style="width:10%">Transport Status
          </th>
          <th style="width:15%">Test Step Outcome</th>
          <th style="width:30%">Comments</th>
          <th style="width:20%">Report</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{'current': testStep != null && row.id === testStep.id}"
            ng-repeat="row in testCase.children | orderBy:'position'">
          <td ng-if="isTestCaseCompleted()">
            <input  type="radio"
                   ng-click="viewTestStepResult(row)"
                   ng-checked="testStep != null && testStep.id === row.id"
            >
          </td>
          <td style="width:20%">
                              <span ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                       <i class="fa fa-wrench"></i>
                    </span>

            <span ng-show="row.testingType === 'TA_INITIATOR' || row.testingType === 'TA_RESPONDER'">
                        <i class="fa fa-arrow-left"></i>
                    </span>

            <span ng-show="row.testingType === 'SUT_INITIATOR' || row.testingType === 'SUT_RESPONDER'">
                        <i class="fa fa-arrow-right"></i>
                    </span>

            {{row.position}}. {{row.name}}
          </td>
          <td style="width:20%" ng-bind-html="row.description"></td>


          <td ng-if="transportSupported && testCase.transport === true && user.info != null && !transport.disabled"
              style="width:10%">

            <div ng-show="testExecutionService.getTestStepExecutionStatus(row) === undefined">
              <div ng-show="row.id !== testStep.id">Not started</div>
              <div ng-show="row.id === testStep.id">
                                     <span
                                       ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                                        Waiting for input...
                                    </span>
                <span ng-show="row.testingType === 'TA_INITIATOR'">
                                         Waiting to send...
                                    </span>
                <span ng-show="row.testingType === 'TA_RESPONDER'">
                                        Sending response...
                                    </span>
                <span ng-show="row.testingType === 'SUT_INITIATOR'">
                                       Waiting for message...
                                    </span>
                <span ng-show="row.testingType === 'SUT_RESPONDER'">
                                       Waiting to receive...
                                    </span>
              </div>

              <!--<div ng-show="testCase.transport === false || user.info == null || transport.disabled">-->
              <!--<span-->
              <!--ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">-->
              <!--Waiting for user's input...-->
              <!--</span>-->
              <!--<span-->
              <!--ng-show="row.testingType === 'TA_INITIATOR' || row.testingType === 'SUT_INITIATOR' || row.testingType === 'SUT_RESPONDER' || row.testingType === 'TA_RESPONDER'">-->
              <!--Waiting for message...-->
              <!--</span>-->
              <!--</div>-->

            </div>
            <div ng-show="testExecutionService.getTestStepExecutionStatus(row) === 'IN_PROGRESS'">
              <div ng-show="testCase.transport === true && user.info != null && !transport.disabled">

                                    <span ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                                        Waiting for input...
                                    </span>
                <span ng-show="row.testingType === 'TA_INITIATOR' || row.testingType === 'TA_RESPONDER'">
                                       Sending...
                                    </span>
                <span ng-show="row.testingType === 'SUT_INITIATOR' || row.testingType === 'SUT_RESPONDER'">
                                        Waiting to receive...
                                    </span>
              </div>
              <div ng-show="testCase.transport === false || user.info == null || transport.disabled">
                                    <span ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                                        Waiting for input...
                                    </span>
                <span
                  ng-show="row.testingType === 'TA_INITIATOR' || row.testingType === 'SUT_INITIATOR' || row.testingType === 'SUT_RESPONDER' || row.testingType === 'TA_RESPONDER'">
                                            Waiting for message...
                                    </span>
              </div>
            </div>
            <div ng-show="testExecutionService.getTestStepExecutionStatus(row) === 'COMPLETE'">
              <div ng-show="testCase.transport === true && user.info != null && !transport.disabled">
                <i
                  class="fa fa-check green"></i>
                <span ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                                         Completed
                                    </span>
                <span ng-show="row.testingType === 'TA_RESPONDER'">
                                       Completed
                                    </span>
                <span ng-show="row.testingType === 'TA_INITIATOR'">
                                       Completed
                                    </span>
                <span ng-show="row.testingType === 'SUT_INITIATOR' || row.testingType === 'SUT_RESPONDER'">
                                      Completed
                                    </span>
              </div>
              <div ng-show="testCase.transport === false || user.info == null || transport.disabled">
                <i
                  class="fa fa-check green"></i> Completed

              </div>
            </div>
          </td>


          <td style="width:15%">

            <div ng-show="isTestStepCompleted(row)">
              <select class="" name="resultValue"
                      ng-disabled="testStep != null && row.id !== testStep.id"
                      ng-change="updateTestStepValidationReport(row)"
                      ng-model="testExecutionService.testStepValidationResults[row.id]" required
              >
                <option ng-repeat="resultOption in testExecutionService.resultOptions"
                        value="{{resultOption.value}}">{{resultOption.title}}
                </option>
              </select>
            </div>

            <div ng-show="!isTestStepCompleted(row)">
              <div ng-show="row.id !== testStep.id">Not started</div>
              <div ng-show="row.id === testStep.id">

              </div>
            </div>

          </td>
          <td style="width:30%">

            <div ng-show="isTestStepCompleted(row)" style="text-align:center">

              <div ng-show="testStep != null && row.id === testStep.id">
        <textarea style="width:100%;height:100%; margin-bottom:5px"
                  class="form-control"
                  ng-model="testExecutionService.testStepCommentsChanges[row.id]"
                  ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] != undefined && testExecutionService.testStepCommentsChanged[row.id] == true">
        </textarea>
                <p
                  ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] != undefined && (testExecutionService.testStepCommentsChanged[row.id] == false || !testExecutionService.testStepCommentsChanged[row.id] || testExecutionService.testStepCommentsChanged[row.id] == undefined)">
                  {{testExecutionService.testStepComments[row.id]}}
                </p>

                <button class="btn btn-xs btn-info" title="Edit Comment"
                        ng-show="testExecutionService.testStepComments[row.id] != '' && testExecutionService.testStepComments[row.id] != null && testExecutionService.testStepComments[row.id] !=  undefined && (testExecutionService.testStepCommentsChanged[row.id] === false || !testExecutionService.testStepCommentsChanged[row.id] || testExecutionService.testStepCommentsChanged[row.id] == undefined)"
                        ng-click="editTestStepComment(row)" class="point">
                  <i class="fa fa-pencil fa-fw"></i>
                </button>

                <button class="btn btn-xs btn-danger" title="Delete Comment"
                        ng-show="testExecutionService.testStepComments[row.id] != '' &&  testExecutionService.testStepComments[row.id] != null && testExecutionService.testStepComments[row.id] !=  undefined && (testExecutionService.testStepCommentsChanged[row.id] === false || !testExecutionService.testStepCommentsChanged[row.id] || testExecutionService.testStepCommentsChanged[row.id] == undefined)"
                        ng-click="deleteTestStepComment(row)" class="point">
                  <i class="fa fa-trash fa-fw"></i>
                </button>


                <button class="btn btn-xs btn-info" title="Add Comment"
                        ng-show="(testExecutionService.testStepComments[row.id] == '' ||  testExecutionService.testStepComments[row.id] == null || testExecutionService.testStepComments[row.id] == undefined) && (testExecutionService.testStepCommentsChanged[row.id] === false || !testExecutionService.testStepCommentsChanged[row.id] || testExecutionService.testStepCommentsChanged[row.id] == undefined)"
                        ng-click="editTestStepComment(row)" class="point">
                  <i class="fa fa-plus fa-fw"></i>
                </button>


                <button class="btn btn-xs btn-success" title="Save Comment"
                        ng-disabled="testExecutionService.testStepCommentsChanges[row.id] == '' || testExecutionService.testStepCommentsChanges[row.id] == null"
                        ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] !== undefined &&  testExecutionService.testStepCommentsChanged[row.id] == true"
                        ng-click="saveTestStepComment(row);"
                        class="point">
                  <i class="fa fa-check fa-fw"></i>
                </button>

                <button class="btn btn-xs btn-danger" title="Reset Comment"
                        ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] !== undefined &&  testExecutionService.testStepCommentsChanged[row.id] == true"
                        ng-click="resetTestStepComment(row);"
                        class="point">
                  <i class="fa fa-times fa-fw"></i>
                </button>


              </div>

              <div
                ng-show="row.id !== testStep.id && testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] != undefined">
                <p>
                  {{testExecutionService.testStepComments[row.id]}}
                </p>
              </div>

            </div>

            <!--<div ng-if="!isTestCaseCompleted() && isTestStepCompleted(row)">-->
            <!--<a-->
            <!--ng-show="row.id === testStep.id && (testExecutionService.testStepComments[row.id] === null || testExecutionService.testStepComments[row.id] == undefined)"-->
            <!--ng-click="testExecutionService.testStepComments[row.id] = ' '" class="point">-->
            <!--<i class="fa fa-pencil fa-fw"></i>-->
            <!--</a>-->
            <!--<textarea style="width:100%;height:100%"-->
            <!--class="form-control"-->
            <!--ng-blur="updateTestStepValidationReport(row)"-->
            <!--ng-model="testExecutionService.testStepComments[row.id]" ng-disabled="row.id !== testStep.id"-->
            <!--ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] != undefined">-->
            <!--</textarea>-->
            <!--<a-->
            <!--ng-show="row.id === testStep.id && testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] !== undefined"-->
            <!--ng-click="testExecutionService.testStepComments[row.id] = undefined;updateTestStepValidationReport(row);"-->
            <!--class="point">-->
            <!--<i class="fa fa-times fa-fw"></i>-->
            <!--</a>-->
            <!--</div>-->
            <!--<div ng-if="isTestCaseCompleted()">-->
            <!--<a-->
            <!--ng-show="testExecutionService.testStepComments[row.id] === null || testExecutionService.testStepComments[row.id] == undefined"-->
            <!--ng-click="testExecutionService.testStepComments[row.id] = ' '" class="point">-->
            <!--<i class="fa fa-pencil fa-fw"></i>-->
            <!--</a>-->
            <!--<textarea style="width:100%;height:100%"-->
            <!--class="form-control"-->
            <!--ng-model="testExecutionService.testStepComments[row.id]"-->
            <!--ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] != undefined">-->
            <!--</textarea>-->
            <!--<a-->
            <!--ng-show="testExecutionService.testStepComments[row.id] !== null && testExecutionService.testStepComments[row.id] !== undefined"-->
            <!--ng-click="testExecutionService.testStepComments[row.id] = undefined;updateTestStepValidationReport(row);"-->
            <!--class="point">-->
            <!--<i class="fa fa-times fa-fw"></i>-->
            <!--</a>-->
            <!--</div>-->
          </td>

          <td style="width:20%">
            <div ng-show="isTestStepCompleted(row)">
              <div class="btn-group" ng-show="getTestStepValidationReport(row) && getTestStepValidationReport(row) !== null">
                   <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i>Download<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="point" ng-click="downloadReportAs('PDF', row)"><img
                      src="images/pdf.png"
                      style="height:15px;width:15px">PDF</a></li>
                    <li><a class="point" ng-click="downloadReportAs('XML',row)"><img
                      src="images/xml.jpeg"
                      style="height:15px;width:15px">XML</a></li>
                    <li><a class="point" ng-click="downloadReportAs('HTML',row)"><img
                      src="images/html.png"
                      style="height:15;width:15px">HTML</a></li>
                  </ul>
               </div>
            </div>
          </td>


        </tr>
        </tbody>

      </table>
      <div style="margin-top:5px">
        <span class="pull-left">
                    <button ng-click="goBack(testStep)"
                            ng-show="!isTestCaseCompleted() && !isFirstStep(testStep)"
                            title="Execute Previous Step" class="btn btn-xs btn-info">
                        <span><i class="fa fa-arrow-left"></i> Back</span>
                    </button>
</span>
        <span class="pull-right">
                    <button ng-click="goNext(testStep)"
                            ng-show="!isLastStep(testStep) && !isTestCaseCompleted() && isTestStepCompleted(testStep)&& isTestStepValidated(testStep)"
                            title="Execute Next Step" class="btn btn-xs btn-info">
                        <span><i class="fa fa-arrow-right"></i> Next</span>
                    </button>

                        <button ng-click="goNext(testStep)"
                                ng-show="isLastStep(testStep) && !isTestCaseCompleted() && isTestStepCompleted(testStep) && isTestStepValidated(testStep)"
                                title="Complete Test Case" class="btn btn-xs btn-info">
                            <span><i class="fa fa-check-circle"></i> Test Summary</span>
                        </button>

                        </span>

      </div>
    </div>
  </div>
</div>
