<div style="margin-bottom: 20px" ng-controller="IsolatedSystemExecutionCtrl" ng-init="init()">
<div ng-show="testCase != null">
<div style="padding-top: 10px" class="row">
    <div class="col-lg-10" >
        <span style="font-size: 30px">Test Case:
        {{testCase.name}}</span>
         <span class="pull-right">
        <button type="button" ng-click="resetTestCase()"
                title="Restart" class="btn btn-sm btn-primary">
            <i class="fa fa-times"></i>
            Restart
        </button>
    </span>
    <hr />
    </div>
</div>
<div class="row">

    <!--<div class="col-lg-5">-->
    <!--<table class="table table-bordered">-->
    <!--<tr>-->
    <!--<td>Transactions Result</td>-->
    <!--<td></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>Validation Result</td>-->
    <!--<td></td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->

    <div class="col-lg-10" >
        <div ng-click="testStepListCollapsed = !testStepListCollapsed">
                <i class="fa fa-chevron-down" ng-show="!testStepListCollapsed"></i>
                <i class="fa fa-chevron-right " ng-show="testStepListCollapsed"></i>
                <span style="font-size:24px">List of Test Steps</span>
        </div>
        <hr />
        <div collapse="testStepListCollapsed">
        <table
                class="table table-striped table-bordered">
            <thead>
            <tr class="tbl-header">
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Execution Status</th>
                <th>Validation Result</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'warning': testStep != null && row.id === testStep.id}"
                ng-repeat="row in testCase.children | orderBy:'position'">
                <td>
                    <!--<i ng-show="testStep != null && row.id === testStep.id" class="fa fa-arrow-right"></i>-->

                    <span ng-show="row.connectionType === 'TA_MANUAL' || row.connectionType === 'SUT_MANUAL'">
                       <i class="fa fa-check-square-o"></i>
                    </span>

                    <span ng-show="row.connectionType === 'TA_INITIATOR' || row.connectionType === 'SUT_INITIATOR'">
                        <i class="fa fa-arrow-right"></i>
                    </span>

                    <span ng-show="row.connectionType === 'TA_RESPONDER' || row.connectionType === 'SUT_RESPONDER'">
                        <i class="fa fa-arrow-left"></i>
                    </span>

                </td>
                <td>
                    <input ng-show="isTestCaseCompleted()" type="radio"
                           ng-click="selectTestStep(row)"
                           ng-checked="testStep != null && row.id === testStep.id">
                    {{row.position}}. {{row.name}}
                </td>


                <td ng-bind-html="row.description"></td>
                <td>

                    <span>
                    <span ng-show="!getExecutionStatus(row)">Not started</span>
                          <span ng-show="getExecutionStatus(row) == 'IN_PROGRESS'">
                                       <i title="In Progress"
                                          class="glyphicon glyphicon-ok"></i>
                             </span>

                            <span ng-show="getExecutionStatus(row) == 'COMPLETE'">
                                     <i title="Complete"
                                        class="glyphicon glyphicon-ok green"></i>
                             </span>
                        </span>



                </td>
                <td>
                    <span ng-show="row.connectionType != 'TA_MANUAL' && row.connectionType != 'SUT_MANUAL'">
                    <span ng-show="getValidationStatus(row) < 0">Not started</span>
                    <span ng-show="getValidationStatus(row) > 0">
                              <i title="Message is Invalid"
                                 class="glyphicon glyphicon-remove red"></i>
                          </span>

                            <span ng-show="getValidationStatus(row) == 0">
                                      <i title="Message Is Valid"
                                         class="glyphicon glyphicon-ok green"></i>
                             </span>
                        </span>
                     <span ng-show="row.connectionType == 'TA_MANUAL' || row.connectionType == 'SUT_MANUAL'">
                        N/A
                    </span>
                </td>

            </tr>
            </tbody>
        </table>

          <br />
         <div ng-show="testStep !== null" class="pull-right">
                             <button type="button" ng-click="executeNextTestStep(testStep)" style="margin-bottom: 10px"
                                    ng-show="!isTestCaseCompleted() && isTestStepCompleted(testStep)"
                                    title="Execute Next Step" class="btn btn-sm btn-success">
                                <span ng-show="isLastStep(testStep)"><i class="fa fa-check"></i> Complete Test Case</span>
                                <span ng-show="!isLastStep(testStep)"><i class="fa fa-arrow-right"></i> Next</span>
                            </button>

                </div>
            </div>
</div>
</div>

<div ng-show="testStep !== null">
<div class="page-header">
    <h4>Test Step: {{testStep.name}}</h4>
</div>



<div class="row" ng-show="error != null" style="padding-top: 10px;padding-bottom:10px">
    <div class="col-lg-10">
        <div class="alert alert-danger" role="alert" ng-bind="error"></div>
    </div>
</div>

<div class="row" ng-show="warning != null" style="padding-top: 10px;padding-bottom:10px">
    <div class="col-lg-10">
        <div class="alert alert-warning" role="alert" ng-bind-html="warning"></div>
    </div>
</div>


<div ng-show="testStep.connectionType === 'TA_INITIATOR'" ng-show="!isTestCaseCompleted()">
    <button type="button" class="btn btn-sm btn-primary" ng-click="configCollapsed = !configCollapsed"><i
            class="fa fa-cog"></i> Configure
    </button>
    <button type="button" ng-click="send()" ng-disabled="!isValidConfig() || connecting"
            title="Send" class="btn btn-sm btn-success">
        <i class="fa fa-arrow-right"></i>
        Send <span ng-show="connecting"><i ng-show="connecting"
                                           class="fa fa-spinner"></i> Remaining: {{counter}}s </span>
    </button>

    <div class="row" collapse="configCollapsed">
        <div class="col-lg-5">
            <fieldset>
                <legend>Please provide receiver's system information</legend>
                <!--<div class="page-header">-->
                <!--<h4></h4>-->
                <!--</div>-->
                <form name="receiverForm1" novalidate>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" ng-model="user.receiverUsername"
                               placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control"
                               placeholder="Password"
                               ng-model="user.receiverPassword">
                    </div>
                    <div class="form-group">
                        <label>FacilityID</label>
                        <input type="text" class="form-control" placeholder="Facility Id"
                               ng-model="user.receiverFacilityId">
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : receiverForm1.endpoint.$invalid && !receiverForm1.endpoint.$pristine }">
                        <label>Endpoint</label>
                        <input type="url" name="endpoint" class="form-control" ng-model="user.receiverEndpoint"
                               placeholder="SUT Endpoint" required>

                        <p ng-show="receiverForm1.endpoint.$invalid && !receiverForm1.endpoint.$pristine"
                           class="help-block">
                            Invalid url. Expected format is {{appInfo.url}}</p>
                    </div>
                </form>

                <!--<button title="Send Outgoing Message" type="button" class="btn btn-xs btn-primary"-->
                <!--ng-disabled="!isValidConfig()"-->
                <!--ng-click="send()">-->
                <!--<i class="fa fa fa-arrow-right"></i> Send-->
                <!--</button>-->

            </fieldset>
        </div>
        <div class="col-lg-5">
            <fieldset>
                <legend>Console</legend>
                <textarea class="well" wrap="off"
                          style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%"
                          rows="13"
                          disabled
                          ng-model="logger.content"></textarea>
            </fieldset>
        </div>
    </div>
</div>


<div ng-show="testStep.connectionType === 'SUT_INITIATOR'" ng-show="!isTestCaseCompleted()">
    <button type="button" class="btn btn-sm btn-primary" ng-click="configCollapsed = !configCollapsed"><i
            class="fa fa-cog"></i>Receiver Information
    </button>

    <button type="button" ng-click="startListening()" ng-disabled="senderForm.$invalid || connecting"
            title="Start listening"
            class="btn btn-sm btn-success">
        <i class="fa fa-play"></i>
        Start Listening
    </button>

    <button type="button" ng-disabled="!connecting" ng-click="stopListening()"
            class="btn btn-sm btn-warning"><i class="fa fa-stop"></i>
        Stop Listening
    </button>
        <span ng-show="connecting">
            <i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}
        </span>

    <!--<div>-->
    <!--<small><em>Time elapsed (seconds)</em></small>-->
    <!--<progressbar type="info" max="counterMax" value="counter"><span-->
    <!--style="color:white; white-space:nowrap;">{{counter}} / {{counterMax}}</span>-->
    <!--</progressbar>-->
    <!--</div>-->
    <!--<button type="button" ng-click="receive()" ng-disabled="!isValidConfig() || connecting"-->
    <!--title="Send" class="btn btn-sm btn-success">-->
    <!--<i class="fa fa-arrow-right"></i>-->
    <!--Send <span ng-show="connecting"><i ng-show="connecting" class="fa fa-spinner"></i> Remaining: {{counter}}s </span>-->
    <!--</button>-->

    <div class="row" ng-show="error != null" style="padding-top: 10px;padding-bottom:10px">
        <div class="col-lg-10">
            <div class="alert alert-danger" role="alert" ng-bind="error"></div>
        </div>
    </div>
    <div class="row" collapse="configCollapsed">
        <div class="col-lg-5">
            <fieldset>
                <legend>System Information</legend>
                <form name="senderForm" novalidate>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" disabled name="u" class="form-control" ng-model="user.senderUsername">

                        <p class="help-block">This is the username assigned to you to use in your message</p>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" name="p"
                               ng-model="user.senderPassword" disabled>

                        <p class="help-block">This is the password assigned to you to use in your message</p>
                    </div>

                    <div class="form-group">
                        <label>FacilityID</label>
                        <input type="text" class="form-control" name="facilityId"
                               ng-model="user.senderFacilityID" disabled>

                        <p class="help-block">This is the facilityID assigned to you to use in your message</p>
                    </div>

                    <div class="form-group"
                            >
                        <label>Endpoint</label>
                        <!--<input type="url" name="endpoint" class="form-control" ng-model="endpoint.value"-->
                        <!--placeholder="SUT Endpoint" required disabled>-->
                        <span name="endpoint" class="form-control">{{endpoint.value}}</span>
                        <!--<p ng-show="senderForm.endpoint.$invalid && !senderForm.endpoint.$pristine" class="help-block">-->
                        <!--Sorry, an-->
                        <!--error occured. Please refresh your page</p>-->
                    </div>

                    <div class="form-group"
                            >
                        <label>WSDL</label>
                        <a ng-href="{{endpoint.value}}.wsdl" class="form-control" target="_blank">{{endpoint.value}}.wsdl</a>
                        <!--<p ng-show="senderForm.endpoint.$invalid && !senderForm.endpoint.$pristine" class="help-block">-->
                        <!--Sorry, an-->
                        <!--error occured. Please refresh your page</p>-->
                    </div>

                </form>
                <!--<button title="Send Outgoing Message" type="button" class="btn btn-xs btn-primary"-->
                <!--ng-disabled="!isValidConfig()"-->
                <!--ng-click="send()">-->
                <!--<i class="fa fa fa-arrow-right"></i> Send-->
                <!--</button>-->

            </fieldset>
        </div>
        <div class="col-lg-5">
            <fieldset>
                <legend>Console</legend>
                <textarea class="well" wrap="off"
                          style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%"
                          rows="13"
                          disabled
                          ng-model="logger.content"></textarea>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">

        </div>
    </div>
</div>

<div class="row" ng-show="testStep.connectionType === 'TA_MANUAL' || testStep.connectionType === 'SUT_MANUAL'">
    <div class="col-lg-10" style="padding-top: 20px">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Manual Step
            </div>
            <div class="panel-body">
                <div ng-bind="testStep.description"></div>
                <br />
            </div>
        </div>

    </div>
</div>

<div class="row"
     ng-show="testStep.connectionType === 'TA_INITIATOR' || testStep.connectionType === 'SUT_INITIATOR' || testStep.connectionType === 'TA_RESPONDER' || testStep.connectionType === 'SUT_RESPONDER'">
    <div class="col-lg-12" style="padding-top: 20px">
        <!--<div ng-show="connecting || testStep.executionStatus === 'IN_PROGRESS'">-->
        <!--<i title="In progress"-->
        <!--class="fa fa-spinner"></i>-->
        <!--</div>-->
        <div>
            <tabset>
                <tab select="setActiveTab(0)" active="tabs[0]">
                    <tab-heading>
                        <i class="fa fa-check-circle"></i>Validation
                    </tab-heading>
                    <div ng-include="'views/isolated/validation.html'"></div>
                </tab>

                <tab select="setActiveTab(1)" active="tabs[1]">
                    <tab-heading>
                        <i class="fa fa-file-o"></i>Report
                    </tab-heading>

                    <div ng-include="'views/isolated/report.html'"></div>
                </tab>

                <!--<tab select="setActiveTab(2)" active="tabs[2]">-->
                    <!--<tab-heading>-->
                        <!--<i class="fa fa-check-circle"></i>Test Data-->
                    <!--</tab-heading>-->
                    <!--<div ng-include="'views/isolated/data.html'"></div>-->
                <!--</tab>-->

                <tab>
                    <tab-heading>
                        <i class="fa fa-th-list"></i>Profile Viewer
                    </tab-heading>
                    <div ng-include="'views/isolated/profileViewer.html'"></div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-book"></i>Vocabulary
                    </tab-heading>
                    <div ng-include="'views/isolated/vocabulary.html'"></div>
                </tab>
            </tabset>
        </div>


    </div>
</div>

</div>
<div ng-show="testStep === null">
    No Test Step In Progress
</div>
</div>
</div>
</div>