<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div id="subNavBar" class="subNavBar" ng-controller="IsolatedSystemTestingCtrl" ng-init="init()">
    <ul class="clearfix mainSubNav">
        <li ng-click="setSubActive('/isolated_testcase')" class="jslink" ><a ng-class="{'current':isSubActive('/isolated_testcase')}"> <i class="fa fa-th-list"></i> Test Selection</a></li>
        <li ng-click="setSubActive('/isolated_execution')" class="jslink" ><a ng-class="{'current':isSubActive('/isolated_execution')}"> <i class="fa fa-cogs"></i> Test Execution <span title="Current Test" class="badge current-test" ng-show="testCase != null">Current {{testCase.type}}: {{testCase.name}}</span></a></li>
    </ul>

    <div ng-show="isSubActive('/isolated_testcase')">
        <div ng-include="'views/isolated/testcase.html'" ></div>
    </div>

    <div ng-show="isSubActive('/isolated_execution')">
        <div ng-include="'views/isolated/execution.html'" ></div>
    </div>
</div>

</div>