<div ng-controller="IsolatedSystemProfileViewerCtrl">
    <div class="panel panel-info">
        <div class="panel-body">
    <div ng-show="isolated.testStep != null">
        <!--<div class="page-header">-->
            <!--<h3>{{isolated.testCase.type}}: {{isolated.testCase.name}}</h3>-->
        <!--</div>-->
        <div profile-viewer type="isolated"></div>
    </div>
    <div ng-show="isolated.testStep === null">
        No Test Case Loaded.
    </div>
            </div>
        </div>
</div>