<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div   ng-controller="IsolatedSystemReportCtrl">
    <div class="panel panel-info">
        <div class="panel-body">
    <div ng-show="isolated.testStep != null">
        <div report-viewer type="isolated" testStepId="isolated.testStep.id"></div>
    </div>
    <div ng-show="isolated.testStep === null">
        No Test Step Loaded.
    </div>
            </div>
        </div>
</div>