<div ng-controller="IsolatedSystemTestCaseCtrl" ng-init="init()" class="appcontent">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="glyphicon glyphicon-list"></i>Test Cases</div>
                <div class="panel-body">
                    <div ng-show="!loading">
                        <div ng-show="error === null">
                            <!--<abn-tree tree-control="testCaseTree" tree-data="testCases" icon-leaf=""-->
                                      <!--on-select="selectTestCase(branch)"></abn-tree>-->
                            <div class="tc-tree">
                            <table tt-table tt-params="params" class="table table-hover no_border">
                                <thead>
                                <tr>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                               </div>
                        </div>
                        <div ng-show="error != null">
                            <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                        </div>
                    </div>
                    <div ng-show="loading" style="text-align:center">
                        <i class="fa fa-spinner fa-pulse fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row"  ng-show="selectedTestCase != null">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span style="font-size: 20px;font-weight: bold">
                               {{selectedTestCase.type}}: {{selectedTestCase.name}}
                            </span>
                            <span class="pull-right" ng-show=" selectedTestCase.type==='TestCase'">
                                  <button title="Start Test" type="button" class="btn btn-sm btn-success"
                                          ng-click="loadTestCase()">
                                      <i class="fa fa-play"></i>Start
                                  </button>
                            </span>
                            <!--<span class="pull-right" ng-show="selectedTestCase.type === 'TestStep' && selectedTestCase.category === 'DataInstance'">-->
                                <!--&lt;!&ndash;<button title="Download Test Package" type="button" class="btn btn-xs btn-primary"&ndash;&gt;-->
                                         <!--&lt;!&ndash;ng-show="selectedTestCase.testPackage != null"&ndash;&gt;-->
                                         <!--&lt;!&ndash;ng-click="selectedTestCase.downloadTestPackage()">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-download"></i>&ndash;&gt;-->
                                    <!--&lt;!&ndash;Download Package&ndash;&gt;-->
                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                <!--<button title="Start Test" type="button" class="btn btn-sm btn-success"-->
                                        <!--ng-click="loadTestCase()">-->
                                    <!--<i class="fa fa-play"></i>Start-->
                                <!--</button>-->
                             <!--</span>-->
                        </div>
                        <div class="panel-body">

                            <div>

                                <div ng-show="error != null">
                                    <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                                </div>

                                <div ng-show="error===null">

                                    <div class="container">
                                        <div class="row" ng-show="selectedTestCase.testStory != null">
                                            <tabset>
                                                <tab>
                                                    <tab-heading>
                                                        Test Story
                                                    </tab-heading>
                                                    <!--<br />-->
                                                    <!--<div class="pull-right">-->
                                                        <!--<button title="Download Test Story" type="button" class="btn btn-sm btn-primary"-->
                                                                <!--ng-click="downloadTestStory()">-->
                                                            <!--<i class="fa fa-download"></i>Download as PDF-->
                                                        <!--</button>-->
                                                    <!--</div>-->

                                                    <!--<br />-->

                                                    <div class="test-details">

                                                        <div class="panel panel-info"
                                                             >
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Description</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" ng-bind-html="selectedTestCase.testStory.description"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info"
                                                            >
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Comments</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" ng-bind-html="selectedTestCase.testStory.comment"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info"
                                                            >
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Pre-Condition</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" ng-bind-html="selectedTestCase.testStory.preCondition"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info"
                                                             >
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Post-Condition</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" ng-bind-html="selectedTestCase.testStory.postCondition"></p>
                                                            </div>
                                                        </div>


                                                        <div class="panel panel-info"
                                                            >
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Test Objectives</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" ng-bind-html="selectedTestCase.testStory.testObjectives"></p>
                                                            </div>
                                                        </div>

                                                        <div class="panel panel-info"
                                                           >
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Note to Testers</div>
                                                            <div class="panel-body">
                                                                <p class="test-details-content" ng-bind-html="selectedTestCase.testStory.noteToTesters"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tab>


                                                <tab ng-show="selectedTestCase.testContext">
                                                    <tab-heading>
                                                        Message Content
                                                    </tab-heading>
                                                    <div class="test-details">
                                                        <div class="panel panel-info">
                                                            <!-- Default panel contents -->
                                                            <div class="panel-heading">Message</div>
                                                            <div class="panel-body">
                                                                <div class="test-info-container">
                                                                    <!--<img width="700px" height="336px" ng-show="selectedTestCase.testContext.requestContentImage != undefined && selectedTestCase.testContext.requestContentImage != null" ng-src="data:image/jpeg;base64,{{selectedTestCase.testContext.requestContentImage}}"/>-->
                                                                </div>
                                                                <div class="test-info-container">
                                                                    <h4>Content</h4>
                                                                    <hr />
                                                                    <pre class="message" ng-bind="selectedTestCase.testContext.message.messageContent"></pre>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </tab>

                                                <!--<tab>-->
                                                    <!--<tab-heading>-->
                                                        <!--Test Data Specification-->
                                                    <!--</tab-heading>-->
                                                    <!--<div class="test-details">-->
                                                        <!--<div class="test-info-container">-->
                                                            <!--<img ng-src="data:image/jpeg;base64,{{selectedTestCase.testDataSpecificationImage}}"/>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</tab>-->

                                                <!--<tab>-->
                                                    <!--<tab-heading>-->
                                                        <!--Testing Instructions-->
                                                    <!--</tab-heading>-->
                                                    <!--<div class="test-details">-->
                                                        <!--<div class="test-info-container">-->
                                                            <!--<img width="400px" height="400px" ng-show="selectedTestCase.instructionsImage != undefined" ng-src="data:image/jpeg;base64,{{selectedTestCase.instructionsImage}}"/>-->
                                                        <!--</div>-->
                                                        <!--<div class="test-info-container">-->
                                                            <!--<h4>Instructions</h4>-->
                                                            <!--<hr />-->
                                                            <!--<p class="test-details-content" ng-bind-html="selectedTestCase.instructionsText"></p>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</tab>-->


                                            </tabset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



