<div ng-controller="IsolatedSystemTestingCtrl" ng-init="init()" class="appcontent">

    <div ng-show="loading" style="text-align:center">
        <i class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>
    <div ng-show="!loading">
        <tabset>
            <tab select="setTestActiveTab(0)" active="tabs[0]">
                <tab-heading>
                    <i class="fa fa-th-list"></i>Test Selection
                </tab-heading>
                <div ng-include="'views/isolated/testcase.html'"></div>
            </tab>
            <tab disabled="disabled()" select="setTestActiveTab(1)" active="tabs[1]">
                <tab-heading>
                    <i class="fa fa-exchange"></i>Test Execution
                </tab-heading>
                <div ng-include="'views/isolated/execution.html'"></div>
            </tab>
        </tabset>
    </div>
</div>

<script type="text/ng-template" id="IsolatedSystemTestCase.html">
    <tr tt-node
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;"
            ng-class="{ 'node-active': node.id === selectedTestCase.id && (node.type === 'TestStep' ||  node.type  === 'TestCase')}">
            <a class="point" ng-show="node.type  === 'TestCase'"
               ng-click="selectTestCase(node)">{{node.name}}</a>
            <a class="point" ng-show="node.type === 'TestStep'"
               ng-click="selectTestCase(node)">
                <i ng-show="node.connectionType === 'TA_MANUAL' || node.connectionType === 'SUT_MANUAL'"
                   class="fa fa-check-square-o"></i>
                <i ng-show="node.connectionType === 'TA_INITIATOR' || node.connectionType === 'SUT_INITIATOR'" class="fa fa-arrow-right"></i>
                 <i ng-show="node.connectionType === 'TA_RESPONDER' || node.connectionType === 'SUT_RESPONDER'" class="fa fa-arrow-left"></i>
                {{node.position}}. {{node.name}}</a>
            <span ng-show="node.type === 'TestPlan' || node.type === 'TestCaseGroup'">{{node.name}}</span>
        </td>
    </tr>
</script>


</div>