<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="panel panel-info">
    <div class="panel-heading">
             <span ng-show="testCase.executionStatus !== 'COMPLETE'">Test Steps Execution</span>
            <span ng-show="testCase.executionStatus === 'COMPLETE'">Test Steps Result</span>
     </div>
    <div class="panel-body">
        <div>
            <table
                    class="table table-striped table-bordered  table-condensed">
                <thead>
                <tr class="">
                    <th style="width:5%">Type</th>
                    <th style="width:20%">Name</th>
                    <th style="width:35%">Description</th>
                    <th style="width:15%">Execution Status</th>
                    <th style="width:15%">Validation Result</th>
                    <th style="width:10%" ng-show="user.info != null">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'warning': testStep != null && row.id === testStep.id}"
                    ng-repeat="row in testCase.children | orderBy:'position'">
                    <td style="width:5%">
                        <label>
                                    <span ng-show="row.testingType === 'TA_MANUAL' || row.testingType === 'SUT_MANUAL'">
                       <i class="fa fa-wrench"></i>
                    </span>

                    <span ng-show="row.testingType === 'TA_INITIATOR' || row.testingType === 'SUT_INITIATOR'">
                        <i class="fa fa-arrow-right"></i>
                    </span>

                    <span ng-show="row.testingType === 'TA_RESPONDER' || row.testingType === 'SUT_RESPONDER'">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                            <input ng-show="isTestCaseCompleted()" type="radio"
                                   ng-click="selectTestStep(row)"
                                   ng-checked="testStep != null && testStep.id === row.id"
                                    >
                        </label>
                    </td>
                    <td style="width:20%">

                        {{row.position}}. {{row.name}}
                    </td>
                    <td style="width:35%" ng-bind-html="row.description"></td>


                    <td style="width:15%">
                    <span>
                    <span ng-show="getExecutionStatus(row) === undefined">Not started</span>
                          <span ng-show="getExecutionStatus(row) === 'IN_PROGRESS'">
                                       <i title="In Progress"
                                          class="glyphicon glyphicon-ok"></i> In Progress
                             </span>
                            <span ng-show="getExecutionStatus(row) === 'COMPLETE'">
                                     <i title="Complete"
                                        class="glyphicon glyphicon-ok green"></i> Completed
                             </span>
                        </span>
                    </td>
                    <td style="width:15%">
                    <span ng-show="row.testingType != 'TA_MANUAL' && row.testingType != 'SUT_MANUAL'">
                    <span ng-show="getValidationStatus(row) < 0 && row.id !== testStep.id">Not started</span>
                        <span ng-show="getValidationStatus(row) < 0 && row.id === testStep.id">
                              In Progress
                        </span>
                    <span ng-show="getValidationStatus(row) > 0">
                              <i title="Message is Invalid"
                                 class="glyphicon glyphicon-remove red"></i> Failed
                          </span>
                            <span ng-show="getValidationStatus(row) == 0">
                                      <i title="Message Is Valid"
                                         class="glyphicon glyphicon-ok green"></i> Passed
                             </span>
                        </span>
                     <span ng-show="row.testingType == 'TA_MANUAL' || row.testingType == 'SUT_MANUAL'">
                        N/A
                    </span>
                    </td>
                    <td style="width:10%" ng-show="user.info != null">

                        <!--<a ng-show="row.testingType !== 'SUT_INITIATOR' && row.testingType !== 'TA_INITIATOR' && row.testingType !== 'SUT_RESPONDER' && row.testingType !== 'TA_RESPONDER' && transport.logs[row.id] && transport.logs[row.id] != null"-->
                        <!--ng-click="viewConsole(row.id)">-->
                        <!--</a>-->

                        <div ng-show="testStep != null && row.id === testStep.id && testStep.testingType === 'SUT_INITIATOR'">
                            <div class="" style="margin-bottom: 20px">
                                <button title="Config Info" type="button"
                                        ng-click="openConfig()"
                                        class="btn btn-xs btn-primary"><i
                                        class="fa fa-cog"></i>
                                </button>
                                <button type="button" title="Start Listening"
                                        ng-click="startListener()" ng-disabled="sutInitiatorForm.$invalid || connecting"
                                        title="Start listening"
                                        class="btn btn-xs btn-success">
                                    <i class="fa fa-play"></i>
                                </button>
                                <button type="button" title="Stop Listening"
                                        ng-disabled="!connecting" ng-click="stopListener()"
                                        class="btn btn-xs btn-warning"><i class="fa fa-stop"></i>
                                </button>
                                <!--<span ng-show="connecting">-->
                                <!--<i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}-->
                                <!--</span>-->
                            </div>
                            <!--<div class="row" collapse="configCollapsed">-->
                            <!--<div class="col-md-5">-->
                            <!--<fieldset>-->
                            <!--<legend>Configuration Information</legend>-->
                            <!--<form name="sutInitiatorForm" novalidate>-->
                            <!--<div ng-bind-html="toHTML(sutInitiatorConfig)"/>-->
                            <!--</form>-->
                            <!--</fieldset>-->
                            <!--</div>-->

                            <!--</div>-->
                        </div>

                        <div ng-show="testStep != null && row.id === testStep.id && testStep.testingType === 'TA_INITIATOR'">
                            <div class="" style="margin-bottom: 20px">
                                <button title="Config Info" type="button"
                                        ng-click="openConfig()"
                                        class="btn btn-xs btn-primary"><i
                                        class="fa fa-cog"></i>
                                </button>
                                <button type="button"
                                        ng-click="send()" ng-disabled="!hasUserContent() || connecting"
                                        title="Send" class="btn btn-xs btn-success">
                                    <i class="fa fa-play"></i>
                                </button>
                                <!--<span ng-show="connecting">-->
                                <!--<i class="fa fa-spinner"></i> Remaining time (s): {{counter}} / {{counterMax}}-->
                                <!--</span>-->
                            </div>
                            <!--<div class="row" collapse="configCollapsed">-->
                            <!--<div class="col-md-5">-->
                            <!--<fieldset>-->
                            <!--<legend>Configuration Information</legend>-->
                            <!--<form name="sutInitiatorForm" novalidate>-->
                            <!--<div ng-bind-html="toHTML(sutInitiatorConfig)"/>-->
                            <!--</form>-->
                            <!--</fieldset>-->
                            <!--</div>-->

                            <!--</div>-->
                        </div>


                    </td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>