<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div style="margin-bottom: 20px;margin-top: 5px;"  ng-controller="IsolatedSystemVocabularyCtrl">

    <div class="panel-body">
        <div ng-show="isolated.testStep!= null && isolated.testStep.testContext != null && isolated.testStep.testContext.vocabularyLibrary && isolated.testStep.testContext.vocabularyLibrary!= null">
            <!--<div class="page-header">-->
            <!--<h3>{{isolated.testStep.type}}: {{isolated.testStep.name}}</h3>-->
            <!--</div>-->
            <div vocab-search type="isolated"></div>
        </div>
        <div ng-show="isolated.testStep!= null && isolated.testStep.testContext != null &&  (!isolated.testStep.testContext.vocabularyLibrary || isolated.testStep.testContext.vocabularyLibrary === null)">
            No Vocabulary Associated to This Test Step.
        </div>
        <div ng-show="isolated.testStep=== null">
            <div class="col-md-10"> No Test Step Loaded.</div>
        </div>
    </div>
</div>