<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div class="login-required-page" ng-show="isAuthenticationRequired() && !isAuthenticated()">
  <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You can also
    <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
</div>


<div ng-show="isAuthenticated() || !isAuthenticationRequired()">
  <div style="margin:10px">
    <div documentation-viewer=""></div>
  </div>
</div>