<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="ErrorDlgDetails.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <span ng-show="error.status == 503">Service Temporarily Unavailable</span>
        </h3>
    </div>
    <div class="modal-body">
        <div ng-show="error.status == 503" class="alert alert-danger" role="alert">
            <p> Our server is currently unavailable for maintenance. Please try again later.</p>
            <p> We apologize for the inconvenience</p>
            <p>IZ suite team</p>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</script>