<div class="container">
    <hr>
    <div id="footer" class="row">
    <!--<div class="row" id="cf-validator-footer">-->
        <!--<div class="cf-validator-footeritem">-->
            <!--<a href="http://www.nist.gov" target="_blank"><img class="cf-validator-footerImage" class="img-responsive" src="images/nist_logo.gif" alt="The NIST Logo" title="The NIST Logo" /></a>-->
            <!--&lt;!&ndash;<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td width="135" align="center" valign="top">&ndash;&gt;-->
                        <!--&lt;!&ndash;<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=ehr-randomizer.nist.gov&amp;size=M&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script><br />&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="http://www.symantec.com/ssl-certificates" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">ABOUT SSL CERTIFICATES</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;</table>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="cf-validator-footeritem cf-validator-footerTextItem">-->
            <!--<p>The National Institute of Standards and Technology (NIST) is an agency of the U.S. Department of Commerce.</p>-->
            <!--<p class="links">-->
                <!--<a href="http://nist.gov/public_affairs/privacy.cfm">Privacy policy / security notice / accessibility statement</a> /-->
                <!--<a href="http://nist.gov/public_affairs/disclaimer.cfm">Disclaimer</a> /-->
                <!--<br />-->
            <!--</p>-->
            <!--<p class="dateCreated"><strong>Date created:</strong> Feb 13, 2014 |  <strong>Last updated:</strong>  Feb 14, 2014 |  <strong>Version:</strong>  beta-0.1</p>-->
        <!--</div>-->
    <!--</div>-->


    <div class="col-md-3" style="text-align: left">
    </div>
    <div class="col-md-1" style="text-align: left">
        <a href="http://www.nist.gov" target="_blank"><img class="footerImage" src="images/nist_logo.gif" alt="The NIST Logo" title="The NIST Logo"></a>

    </div>
    <div class="col-md-1" style="text-align: left">
        <h5>Deployment Information</h5>
        <span>Date: {{appInfos.date}}</span><br>
        <span>Version: {{appInfos.version}}</span>
    </div>
    <div class="col-md-1" style="text-align: left">
        <h5>Recommended Browsers</h5>
        <span>Firefox, Chrome</span>
    </div>
    <div class="col-md-1" style="text-align: left">
        <h5>External Links</h5>
        <ul class="footer-list">
            <li><a class="footer-link" href="http://www.nist.gov/public_affairs/disclaimer.cfm" target="_blank" title="View Disclaimer">Disclaimer</a></li>
            <li><a class="footer-link" href="http://www.nist.gov/public_affairs/privacy.cfm#privpolicy" target="_blank" title="View Privacy Policy">Privacy/Policy</a></li>
            <li><a class="footer-link" href="mailto:robert.snelick@nist.gov" title="Email Website Administrator @: robert.snelick@nist.gov">Website Administrator</a></li>
        </ul>
    </div>
    <div class="col-md-1" style="text-align: left">
        <a href="http://www.itl.nist.gov" target="_blank"><img class="footerImage" src="images/itl-logo.jpg" alt="ITL Logo" title="ITL Logo"></a>
    </div>
    <div class="col-md-3" style="text-align: left">
    </div>

</div>
    </div>