<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<!-- <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href="#">
            <div id="apptitle">{{appInfo.options.ORGANIZATION_NAME != null && appInfo.options.ORGANIZATION_NAME != undefined ? appInfo.options.ORGANIZATION_NAME: 'NIST'}} <span style="color:white">{{appInfo.name}}</span><span style="color:red; font-size:12px"> {{appInfo.version}}</span></div>
            <div id="appsubtitle">{{appInfo.subTitle}}</div>
        </a>

      <span class="pull-right" style="margin-top:10px" ng-show="appInfo.domains != null && appInfo.domains.length > 0">
        <label style="color:white">Tool Scope:</label>
        <select class="" name="selectedDomain" ng-change="selectDomain(appInfo.selectedDomain)" ng-model="appInfo.selectedDomain" required="">
          <option ng-repeat="dom in appInfo.domains" value="{{dom.domain}}">{{dom.name}}
          </option>
        </select>

        <button ng-show="isAuthenticated()" ng-click="createDomain()" class="btn btn-primary btn-xs" title="Create New Tool Scope"><i class="fa fa-plus"></i>Create</button>

      </span>
    </div>
    <div class="navbar-collapse collapse" id="appnavi">
         <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/home')}"><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
            <li ng-class="{'active':isActive('/soapEnv')}"><a href="#/soapEnv"><span class="badge">1</span>
                <i class="fa fa-envelope"></i>
                SOAP Envelope</a></li>
            <li ng-class="{'active':isActive('/soapConn')}"><a href="#/soapConn"> <span class="badge">2</span>
                <i class="fa fa-exchange"></i>
                SOAP Connectivity</a></li>
            <li ng-class="{'active':isActive('/cf')}"><a href="#/cf"> <span class="badge">3</span>
                <i class="fa fa-check-square-o"></i>
                HL7 Context-free</a></li>
            <li ng-class="{'active':isActive('/cb')}"><a href="#/cb"><span class="badge">4</span>
                <i class="fa fa-th-list"></i>
                HL7 Context-based</a></li>
            <li ng-class="{'active':isActive('/doc')}"><a href="#/doc"><i class="fa fa-book"></i>Documentation</a></li>
            <li ng-class="{'active':isActive('/about')}"><a href="#/about"><i class="fa fa-question-circle"></i>About</a></li>
         </ul>

        <ul class="nav navbar-nav navbar-right" style="margin-right: 15px">
            <li class="dropdown clear-fix" ng-show="isAuthenticated()" ng-class="isActive('/useraccount') || isActive('/transport')">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;Hello {{getUsername()}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-class="isActive('/useraccount')"><a class="point" href="#/useraccount"><i class="fa fa-user"></i>&nbsp;My Profile</a></li>
                    <li role="separator" class="divider"></li>

                    <li ng-class="{'active':isActive('/transport')}" ng-show="transportSupported"><a href="#/transport">
                        <i title="Transport Configuration" class="label label-danger label-icon2">T</i>
                        Transport Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="showSettings()"><i class="fa fa-cog"></i>&nbsp; Validation Settings</a>
                    </li>
                  <li ng-if="isDomainsManagementSupported() && hasWriteAccess()" role="separator" class="divider"></li>
                  <li ng-if="isDomainsManagementSupported() && hasWriteAccess()" ng-class="isActive('/domains')"><a class="point" href="#/domains"><i class="fa fa-cogs"></i>&nbsp; Tool Scope Settings</a></li>
                    <li role="separator" class="divider"></li>

                  <li ng-show="isAdmin()" ng-class="isActive('/logs')"><a class="point" href="#/logs"><i class="fa fa-cog"></i>&nbsp;Admin Logs</a></li>
                  <li ng-show="isAdmin()" role="separator" class="divider"></li>

                    <li class="">
                        <a class="point" ng-click="logout()"><i class="fa fa-sign-out"></i>&nbsp;<span class="msg">Logout</span></a>
                    </li>

                </ul>
            </li>

            <li class="dropdown clear-fix" ng-show="!isAuthenticated()" ng-class="isActive('/useraccount') || isActive('/registration') || isActive('/forgotten') || isActive('/transport')">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp;Hello Guest <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="">
                        <a class="point" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp; <span class="msg">Login</span></a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ng-class="isActive('/registration')">
                        <a href="#/registration">
                            <i class="fa fa-user-plus"></i>&nbsp;Register
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li ng-class="isActive('/forgotten')">
                        <a href="#/forgotten">
                            <i class="fa fa-repeat"></i>&nbsp;Reset Password
                        </a>
                    </li>
                    <li ng-if="!isAuthenticationRequired()" role="separator" class="divider"></li>
                    <li ng-class="{'active':isActive('/transport')}" ng-show="transportSupported && !isAuthenticationRequired()"><a href="#/transport">
                        <i title="Transport Configuration" class="label label-danger label-icon2">T</i>
                        Transport Settings</a></li>
                    <li ng-if="!isAuthenticationRequired()" role="separator" class="divider"></li>
                    <li ng-if="!isAuthenticationRequired()"><a ng-click="showSettings()"><i class="fa fa-cog"></i>&nbsp; Validation Settings</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>