<!-- <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href="#">
            <div id="apptitle">NIST <span style="color:white">{{appInfo.name}}</span><span style="color:red; font-size:12px"> {{appInfo.version}}</span></div>
            <div ng-if="appInfo.domain != '' && appInfo.domain  != null" id="appsubtitle">{{appInfo.domain}}</div>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="appnavi">
        <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/home')}"><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
            <li ng-class="{'active':isActive('/soapEnv')}"><a href="#/soapEnv"><span class="badge">1</span>
                <i class="fa fa-envelope"></i>
                SOAP Envelope</a></li>
            <li ng-class="{'active':isActive('/soapConn')}"><a href="#/soapConn"> <span class="badge">2</span>
                <i class="fa fa-exchange"></i>
                SOAP Connectivity</a></li>
            <li ng-class="{'active':isActive('/cf')}"><a href="#/cf"> <span class="badge">3</span>
                <i class="fa fa-check-square-o"></i>
                HL7 Context-free</a></li>
            <li ng-class="{'active':isActive('/cb')}"><a href="#/cb"><span class="badge">4</span>
                <i class="fa fa-th-list"></i>
                HL7 Context-based</a></li>
            <li ng-class="{'active':isActive('/is')}"><a href="#/is"> <span class="badge">5</span>
                <i class="fa fa-cogs"></i>
                Isolated Testing</a></li>
            <li ng-class="{'active':isActive('/doc')}"><a href="#/doc"><i class="fa fa-book"></i>Documentation</a></li>
            <li ng-class="{'active':isActive('/about')}"><a href="#/about"><i class="fa fa-question-circle"></i>About</a></li>
            <li ng-class="{'active':isActive('/contact')}"><a href="#/contact"><i class="fa fa-phone-square"></i>Contact Us</a></li>

         </ul>

        <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
            <li class="pull-right"><a ng-click="showSettings()"><i class="fa fa-cog"></i>Preferences</a></li>
        </ul>

    </div>
</div>