<style id="antiClickjack">body {
  display: none !important;
}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div ng-show="loadingDomain" style="with:400px;text-align:center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
 </div>

<div ng-show="!loadingDomain">

  <div class="iz-home">
    <div class="container" style="margin-bottom: 20px">
      <div class="row">
        <div class="panel panel-info">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <i class="glyphicon glyphicon-list"></i> <b>{{domain.homeTitle}}</b>
          </div>
          <div class="panel-body">
            <div ng-bind-html="toHTML(domain.homeContent)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Three columns of text below the carousel -->
  <div class="row" style="text-align: center; margin-top: 20px">
    <div class="col-md-3" style="width:25%">
      <a style="border:0px" class="btn btn-default" href="#/soapEnv" role="button"><img class="img-circle" ng-src="images/SOAP Envelope.png" alt="SOAP Envelope" style="width: 120px; height: 120px">

        <p>
                            <span style="margin-top:5px" class="btn btn-primary btn-sm" role="button"><i class="fa fa-play"></i>Start Testing </span>
        </p>
      </a>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-md-3" style="width:25%">
      <a style="border:0px" class="btn btn-default" href="#/soapConn" role="button"><img class="img-circle" ng-src="images/SOAP Connectivity.png" alt="SOAP Connectivity" style="width: 120px; height: 120px">

        <p><span style="margin-top:5px" class="btn btn-primary btn-sm" role="button"><i class="fa fa-play"></i>Start Testing </span>
        </p>
      </a>
      <!--<h4>Soap Connectivity Testing</h4>-->
      <!--<p></p>-->
      <!--<p><a class="btn btn-default" href="#/testing" ng-click="selectTestingType(1)" role="button">Start Testing </a></p>-->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-md-3" style="width:25%">
      <a style="border:0px" style="border:0px" class="btn btn-default" href="#/cf" role="button">
        <img class="img-circle" ng-src="images/HL7 Context-free.png" alt="HL7 Context-free" style="width: 120px; height: 120px">

        <p><span style="margin-top:5px" class="btn btn-primary btn-sm" role="button"><i class="fa fa-play"></i>Start Testing </span>
        </p>
      </a>

    </div>
    <!-- /.col-lg-4 -->
    <div class="col-md-3" style="width:25%">
      <a style="border:0px" class="btn btn-default" href="#/cb" role="button"><img class="img-circle" ng-src="images/HL7 Context-based.png" alt="HL7 Context-based" style="width: 120px; height: 120px">

        <p><span style="margin-top:5px" class="btn btn-primary btn-sm" role="button"><i class="fa fa-play"></i>Start Testing</span>
        </p>
      </a>
      <!--<!--<h4>HL7 Context-based Testing</h4>-->
      <!--<p></p>-->
      <!--<p><a class="btn btn-default" href="#/testing" ng-click="selectTestingType(3)" role="button">Start Testing </a></p>-->
    </div>
    <!-- /.col-lg-4 -->

    <!--<div class="col-md-2" style="width:20%">-->
    <!--<a style="border:0px" class="btn btn-default" ng-disabled="false" href="#/is" role="button"><img-->
    <!--class="img-circle" ng-src="images/ehr-iis.png" alt="EHR-S/IIS Functional"-->
    <!--style="width: 120px; height: 120px;">-->

    <!--<p><span style="margin-top:5px" class="btn btn-primary btn-sm" role="button"><i class="fa fa-play"></i>Start Testing </span>-->
    <!--</p>-->
    <!--</a>-->
    <!--&lt;!&ndash;&lt;!&ndash;<h4>EHR-S Functional Testing</h4>&ndash;&gt;-->
    <!--&lt;!&ndash;<p></p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p><a class="btn btn-default" ng-disabled="true" href="#/testing" ng-click="selectTestingType(4)" role="button">Start Testing </a></p>&ndash;&gt;-->
    <!--</div>-->
    <!-- /.col-lg-4 -->


  </div>
  <!-- /.row -->


<div id="myCarousel" class="carousel container slide" data-ride="carousel" style="margin-top: 20px">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="3"></li>-->
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/overview_stages.png" alt="Immunization Test Suite Components">
    </div>

    <!--<div class="item">-->
    <!--<img src="images/iz_stages.gif" alt="Immunization Test Suite – Focus of Each Testing Stage">-->
    <!--</div>-->

    <!--<div class="item">-->
    <!--<img src="images/iz_stage_benefit.gif" alt="Benefits of Immunization Test Suite Stages">-->
    <!--</div>-->

    <!--<div class="item">-->
    <!--<div class="carousel-caption" id="hippaNotice">-->
    <!--<h1>HIPPA Patient Confidentiality Notice</h1>-->

    <!--<p style="text-align: left; font-size:22px">-->
    <!--In compliance with HIPAA Requirements, parties using the NIST HL7 V2 Validation Tools via this-->
    <!--NIST Web site shall not use real data about living, identifiable individuals. Parties shall-->
    <!--adhere to all Federal Regulations including, but not limited to the Health Insurance Portability-->
    <!--and Accountability Act of 1996 (HIPAA).-->
    <!--</p>-->

    <!--<p style="text-align: left; font-size:22px">-->
    <!--Due to patient confidentiality issues (e.g., HIPPA requirements regarding PHI), this software-->
    <!--should not be used via the NIST Web site for validation of messages containing real patient-->
    <!--information. With proper precautions in place to maintain patient confidentiality, if an-->
    <!--organization downloads the Validation Tool and uses it locally the Tool can validate messages-->
    <!--with real patient information.-->
    <!--</p>-->
    <!--&lt;!&ndash;<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>&ndash;&gt;
    -->
    <!--</div>-->
    <!--</div>-->

  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left blue" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right blue" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<br>
<br>
<br>
</div>