<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="iz-home">
    <div class="container" style="margin-bottom: 20px">
        <div class="row">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-list"></i> <b>{{appInfo.homeTitle}}</b>
                </div>
                <div class="panel-body">
                    <div ng-bind-html="toHTML(appInfo.homeContent)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>