<div class="row" style="margin-bottom: 20px">
        <a ng-click="relevance = true" class="btn btn-cf-outline" ng-class="{'active': relevance}" role="button">R,RE,C
            (only)</a>
        <a ng-click="relevance = false" class="btn btn-cf-outline" ng-class="{'active': !relevance}" role="button">R,RE,C,O,X (All)</a>


        <a ng-click="trim = true" class="btn btn-cf-outline" ng-class="{'active': trim}" role="button">Concise View</a>
        <a ng-click="trim = false" class="btn btn-cf-outline" ng-class="{'active': !trim}" role="button">Expanded View</a>

                     <span style="margin-left:10px">
                         <img style="width:15px; height:15px" ng-src="images/group.png">Group
                    </span>

                     <span style="margin-left:10px">
                         <img style="width:15px; height:15px" ng-src="images/segment.png">Segment

                    </span>

                     <span style="margin-left:10px">
                         <img style="width:15px; height:15px" ng-src="images/field.png">Field
                    </span>

                     <span style="margin-left:10px">
                         <img style="width:15px; height:15px" ng-src="images/component.png">Component
                    </span>

                     <span style="margin-left:10px">
                         <img style="width:15px; height:15px" ng-src="images/subcomponent.png">Subcomponent
                    </span>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li ng-show="show(element)" ng-repeat="element in elements" ng-class="{'active':nodeData != null && nodeData.name === element.name}"><a ng-click="getNodeContent(element)">{{element.name}}</a></li>
        </ul>
    </div>
    <div class="row" style="margin-top: 20px">
        <table tt-table="" tt-params="params" class="table table-striped table-bordered">
            <thead class="tbl-header">
            <tr>
                <th class="col-fixed-450">Name</th>
                <th class="col-fixed-80">Usage</th>
                <th class="col-fixed-80">Cardinality</th>
                <th class="col-fixed-80" ng-show="nodeData.type === 'MESSAGE'">Ref</th>
                <th class="col-fixed-100" ng-hide="nodeData.type === 'MESSAGE'">Datatype</th>
                <th class="col-fixed-80" ng-hide="nodeData.type === 'MESSAGE'">Length</th>
                <th class="col-fixed-150" ng-hide="nodeData.type === 'MESSAGE'">ValueSet</th>
                <th>Predicate</th>
                <th>Conformance Statement</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script type="text/ng-template" id="TreeNode.html">
            <tr ng-show="show(node)" tt-node
                is-branch="node.children != null && node.children.length > 0">
                <td class="col-fixed-450">
                    <img ng-show="node.icon != null"
                         style="width:15px; height:15px"
                         ng-src="images/{{node.icon}}">
                    <span ng-if="node.type === 'FIELD' || node.type === 'COMPONENT' || node.type === 'SUBCOMPONENT'">{{node.path}}:{{node.name}}</span>
                    <span ng-if="node.type === 'SEGMENT' || node.type === 'DATATYPE'">{{node.name}}:{{node.longName}}</span>
                    <span ng-if="node.type === 'GROUP'">{{node.name}}</span>
                </td>
                <td class="col-fixed-80"><span
                        ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0"
                        ng-bind="node.usage"></span>
                    <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}/{{node.predicates[0].falseUsage}})</span>
                </td>
                <td class="col-fixed-80"><span
                        ng-show="node.minOccurs != undefined && node.maxOccurs != undefined">[{{node.minOccurs}}, {{node.maxOccurs}}]</span>
                </td>
                <td class="col-fixed-80" ng-hide="nodeData.type != 'MESSAGE'"><a class="point"
                                                                                 ng-click="showRefSegment(node.reference.id)"
                                                                                 ng-bind="node.reference.name"></a>
                </td>
                <td class="col-fixed-100" ng-hide="nodeData.type== 'MESSAGE'"><span
                        ng-bind="node.dataType"></span></td>
                <td class="col-fixed-80" ng-hide="nodeData.type== 'MESSAGE'"><span
                        ng-show="node.minLength && node.maxLength">[{{node.minLength}},{{node.maxLength}}]</span>
                </td>
                <td class="col-fixed-150" ng-hide="nodeData.type== 'MESSAGE'"><a class="point"
                                                                                 ng-click="viewTable(node.table)"
                                                                                 ng-bind="node.table"></a>
                </td>

                <td>
                                            <span ng-show="trim" class="constraint_trim">
                                              <span ng-repeat="predicate in node.predicates">
                                                 {{predicate.description}}
                                              </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="predicate in node.predicates">
                                                  {{predicate.description}}
                                              </p>
                                            </span>
                </td>
                <td>

                                 <span ng-show="trim" class="constraint_trim">
                                               <span ng-repeat="conStatement in node.conformanceStatements">
                                                    {{conStatement.id}} : {{conStatement.description}}
                                             </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="conStatement in node.conformanceStatements">
                                                  {{conStatement.id}} : {{conStatement.description}}
                                              </p>
                                            </span>
                </td>
            </tr>
</script>
</div>