<div class='form-group control-group' ng-class="{'has-success
	has-feedback':
	taInitiatorForm_iz_soap.usernameInput.$valid, 'base-has-error
	has-feedback':taInitiatorForm_iz_soap.usernameInput.$invalid}">
	<label for='usernameInput' class='col-md-2 control-label'>Username</label>
	<div class='controls col-md-6'>
		<input type='text' class='form-control' ng-model='config.username'
			name='usernameInput' id='usernameInput'>
	</div>
</div>
<div class='form-group control-group' ng-class="{'has-success
	has-feedback':
	taInitiatorForm_iz_soap.passwordInput.$valid, 'base-has-error
	has-feedback':taInitiatorForm_iz_soap.passwordInput.$invalid}">
	<label for='passwordInput' class='col-md-2 control-label'>Password</label>
	<div class='controls col-md-6'>
		<input type='text' class='form-control' name='passwordInput'
			id='passwordInput' ng-model='config.password'>
	</div>
</div>
<div class='form-group control-group' ng-class="{'has-success
	has-feedback':
	taInitiatorForm_iz_soap.facilityIDInput.$valid, 'base-has-error
	has-feedback':taInitiatorForm_iz_soap.facilityIDInput.$invalid}">
	<label for='facilityIDInput' class='col-md-2 control-label'>FacilityID</label>
	<div class='controls col-md-6'>
		<input class='form-control' name='facilityIDInput'
			id='facilityIDInput' type='text' ng-model='config.facilityID'>
	</div>
</div>
<div class='form-group control-group' ng-class="{'has-success
	has-feedback':
	taInitiatorForm_iz_soap.endpointInput.$valid, 'base-has-error
	has-feedback':taInitiatorForm_iz_soap.endpointInput.$invalid}">
	<label for='endpointInput' class='col-md-2 control-label'>Endpoint</label>
	<div class='controls col-md-6'>
		<input name='endpointInput' id='endpointInput' type='url'
			class='form-control' ng-model='config.endpoint' required>
		<p ng-show='taInitiatorForm_iz_soap.endpointInput.$invalid && !taInitiatorForm_iz_soap.endpointInput.$pristine'
			class='help-block'>Invalid url. Expected format is
			{{appInfo.url}}</p>
	</div>
</div>