<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CBExecutionCtrl" ng-init="initExecution()">
    <div class="" style="margin-left:10px; margin-right: 10px; margin-top: 0px">
        <div ng-show="!loading">
            <div class="row" ng-if="testCase == null">
                <div class="col-md-10">
                    No Test Case Loaded.
                </div>
            </div>
            <div ng-show="testCase != null">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb" style="font-weight: bold">
                            <li ng-show="testCase['nav'].testPlan != null">{{testCase['nav'].testPlan}}</li>
                            <li ng-show="testCase['nav'].testGroup != null">{{testCase['nav'].testGroup}}</li>
                            <li ng-show="testCase['nav'].testCase != null">{{testCase['nav'].testCase}}</li>
                            <li ng-show="testCase['nav'].testStep != null">{{testCase['nav'].testStep}}</li>
                        </ol>
                        <div class="alert alert-danger" role="alert" ng-bind="error" ng-if="error != null"></div>
                    </div>
                </div>
                <div class="row" ng-show="testCase.type === 'TestCase'">
                    <div class="col-md-9">
                        <div ng-include="'views/cb/teststeps.html'"></div>
                        <div ng-if="warning != null">
                                <div class="alert alert-info" role="alert" ng-bind-html="toHTML(warning)"></div>
                        </div>
                     </div>
                    <div class="col-md-3">
                        <div ng-include="'views/cb/summary.html'"></div>
                        <div ng-include="'views/cb/transport.html'" ng-show="transportSupported && testCase.transport === true && user.info != null"></div>
                     </div>
                </div>

                <div ng-include="'views/cb/executeTestStep.html'"></div>
            </div>
        </div>
    </div>
    <div ng-show="loading" style="text-align:center">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
</div>
