<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="panel panel-info">
    <div class="panel-heading">
        <div>Test Result  <span class="pull-right">
                           <button type="button" ng-click="downloadTestCaseReports()" ng-disabled="testCase.executionStatus !== 'COMPLETE'" title="Download All Reports" class="btn btn-xs btn-info">
                               <i class="fa fa-download"></i>Download Reports
                           </button>

             <button type="button" ng-click="resetTestCase()" title="Reset the TestCase" class="btn btn-xs btn-danger">
                 <i class="fa fa-times"></i> Reset
             </button>
                        </span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered" style="margin-bottom: 0px">
            <tr>
                <td><b>Test Status</b></td>
                <td>{{testCase.executionStatus === 'COMPLETE' ? 'Completed':'In Progress'}}</td>
            </tr>
            <!--<tr ng-show="!transport.disabled && testCase.transport === true">-->
                <!--<td><b>Protocol</b></td>-->
                <!--<td>-->
                    <!--{{testCase.protocol | uppercase}}-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td><b>Test Result</b></td>
                <td>
                <span ng-show="testCase.executionStatus === 'COMPLETE'">
                    <span ng-show="isTestCaseSuccessful()">
                         <i title="Complete" class="glyphicon glyphicon-ok green"></i> Passed
                    </span>
                    <span ng-show="!isTestCaseSuccessful()">
                             <i title="Message is Invalid" class="glyphicon glyphicon-remove red"></i>Failed
                    </span>
                </span>
                <span ng-show="testCase.executionStatus !== 'COMPLETE'">
                  </span>
                </td>
            </tr>
        </table>
    </div>
</div>