<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="panel panel-info">
    <div class="panel-heading">
        <div>Test Result  <span class="pull-right">
                           <!--<button type="button" ng-click="downloadTestCaseReports()"-->
                                   <!--ng-disabled="testCase.executionStatus !== 'COMPLETE'"-->
                                   <!--title="Download All Reports" class="btn btn-xs btn-info">-->
                               <!--<i class="fa fa-download"></i>Download Reports-->
                           <!--</button>-->

             <button type="button" ng-click="resetTestCase()" title="Reset the TestCase" class="btn btn-xs btn-danger">
                 <i class="fa fa-times"></i> Reset
             </button>
                        </span>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="loadingExecution" style="text-align:center">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div ng-show="!loadingExecution">
            <table class="table table-bordered execution-table" style="margin-bottom: 0px">
                <tr>
                    <td><b>Test Status</b></td>
                    <td>{{isTestCaseCompleted() ? 'Completed':'In Progress'}}</td>
                </tr>
                <!--<tr ng-show="!transport.disabled && testCase.transport === true">-->
                <!--<td><b>Protocol</b></td>-->
                <!--<td>-->
                <!--{{testCase.protocol | uppercase}}-->
                <!--</td>-->
                <!--</tr>-->
                <tr>
                    <td><b>Test Result</b></td>
                    <td>
                <span ng-show="isTestCaseCompleted()">
                    <select class="" name="resultValue" id="resultValue" ng-model="testExecutionService.testCaseValidationResults[testCase.id]" required="">
                        <option ng-repeat="resultOption in testExecutionService.resultOptions" value="{{resultOption.value}}">{{resultOption.title}}
                        </option>
                    </select>
                </span>
                <span ng-show="!isTestCaseCompleted()">
                    Not Available
                  </span>
                    </td>
                </tr>
                <tr>
                    <td><b>Comments</b></td>
                    <td>
                        <div ng-show="isTestCaseCompleted()" style="text-align:center">
                            <a ng-show="testExecutionService.testCaseComments[testCase.id] === null || testExecutionService.testCaseComments[testCase.id] == undefined" ng-click="testExecutionService.testCaseComments[testCase.id] = ' '" class="point">
                                <i class="fa fa-pencil fa-fw"></i>
                            </a>
                            <textarea style="width:100%;height:100%" class="form-control" ng-model="testExecutionService.testCaseComments[testCase.id]" ng-show="testExecutionService.testCaseComments[testCase.id] !== null && testExecutionService.testCaseComments[testCase.id] != undefined">
                            </textarea>
                            <a ng-show="testExecutionService.testCaseComments[testCase.id] !== null && testExecutionService.testCaseComments[testCase.id] !== undefined" ng-click="testExecutionService.testCaseComments[testCase.id] = null;" class="point">
                                <i class="fa fa-times fa-fw"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><b>Test Report</b></td>
                    <td>
                        <div class="btn-group" ng-show="isTestCaseCompleted() && testExecutionService.testCaseValidationResults[testCase.id] != null && testExecutionService.testCaseValidationResults[testCase.id]">
                            <button type="button" class="btn btn-info btn-xs"><span><i class="fa fa-download fa-fw"></i>Download</span>
                            </button>
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu base-menu" role="menu">
                                <li><a class="point" ng-click="exportAs('pdf')">As PDF</a></li>
                                <li><a class="point" ng-click="exportAs('html')">As HTML</a></li>
                                <li><a class="point" ng-click="exportAs('xml')">As XML</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>


            </table>
        </div>
    </div>
</div>