<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="PastTestStepConsole.html">
    <div class="console-dlg">
        <button title="Close" type="button" class="pull-right btn btn-xs btn-default"
                ng-click="close()">
            <i class="fa fa-times"></i>
        </button>
        <textarea class="well console-dlg console-content" wrap="off"
                   rows="10"
                  disabled
                  ng-model="log"></textarea>

    </div>
</script>

<script type="text/ng-template" id="CurrentTestStepConsole.html">
    <div class="console-dlg">
        <button title="Close" type="button" class="pull-right btn btn-xs btn-default"
                ng-click="close()">
            <i class="fa fa-times"></i>
        </button>
        <textarea class="well console-dlg console-content" wrap="off"
                   rows="10"
                  disabled
                  ng-model="logger.content"></textarea>

    </div>
</script>