<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="PastTestStepConsole.html">
    <div class="modal-header">
        <span style="font-weight: bold; font-size: 20px">
           {{title}} - Console
        </span>
        <span class="pull-right">
                 <button title="Close" type="button" class="pull-right btn btn-xs btn-primary"
                         ng-click="close()">
                     <i class="fa fa-times"></i>Close
                 </button>
        </span>
    </div>
    <div class="modal-body">
        <textarea class="well" wrap="off"
                  style="overflow: auto; margin-top:23px;font-size: 11px; width: 100%; height: 100%"
                  rows="23"
                  disabled
                  ng-model="log"></textarea>

    </div>
</script>

<script type="text/ng-template" id="CurrentTestStepConsole.html">
    <div class="modal-header">
        <span style="font-weight: bold; font-size: 14px">
           {{title}} - Console
        </span>
        <span class="pull-right">
                 <button title="Close" type="button" class="pull-right btn btn-xs btn-primary"
                         ng-click="close()">
                     <i class="fa fa-times"></i>Close
                 </button>
        </span>
    </div>
    <div class="modal-body">
        <textarea class="well" wrap="off"
                  style="overflow: auto;font-size: 11px; width: 100%; height: 100%"
                  rows="10"
                  disabled
                  ng-model="logger.content"></textarea>

    </div>
</script>