<style id="antiClickjack">body {
  display: none !important;
}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>
<validating-files></validating-files>
<div style="margin:10px">
  <div class="modal-header">
	<span style="font-weight: bold; font-size: 20px">
    Upload Profiles
    </span>
    <span class="pull-right">
		<button class="btn btn-xs btn-primary" ng-click="dismissModal()"><i class="fa fa-times"></i></button>
  	</span>
  </div>
  <div class="modal-body" style="padding:10px 0px 0px 0px">

    <div class="row">
      <div class="col-md-12" style="min-height: 550px" ng-show="step == 0">
        <tabset>
          <tab>
            <tab-heading>
              <i class="fa fa-upload"></i> Archive File
            </tab-heading>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                <div class="upload-drop-box" nv-file-over="" nv-file-drop="" over-class="upload-drop-box-file-over" uploader="zipUploader">
                  <label class="btn btn-success" style="width:270px; text-align:left">
                    <i class="fa fa-file" aria-hidden="true"></i> Browse Package (.zip)
                    <input type="file" accept="application/zip" nv-file-select="" uploader="zipUploader" style="display: none">
                  </label>
                  <br>
                  <i ng-show="zipUploader.queue.length">

                        <span ng-show="zipUploader.queue[0].isSuccess"><i class="fa fa-check"></i></span>

                    {{zipUploader.queue[0].file.name}},
                    {{
                    zipUploader.queue[0].file.size/1024/1024|number:2 }} MB
                  </i>

                </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': zipUploader.progress + '%' }"></div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <tab-heading>
              <i class="fa fa-upload"></i> Individual Files
            </tab-heading>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                     <div class="upload-drop-box" nv-file-over="" nv-file-drop="" over-class="upload-drop-box-file-over" uploader="profileUploader">
                      <label class="btn btn-success" style="width:270px; text-align:left">
                        <i class="fa fa-file" aria-hidden="true"></i> Browse Profile File (.xml)
                        <input type="file" accept="text/xml" nv-file-select="" uploader="profileUploader" style="display: none">
                      </label>
                      <br>
                      <i ng-show="profileUploader.queue.length">

                        <span ng-show="profileUploader.queue[0].isSuccess"><i class="fa fa-check"></i></span>

                        {{profileUploader.queue[0].file.name}},
                      {{
                                profileUploader.queue[0].file.size/1024/1024|number:2 }} MB
                      </i>
                    </div>
                   </div>
                  <div class="col-md-12">
                    <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': profileUploader.progress + '%' }"></div>
                    </div>
                  </div>

                  <div class="col-md-12">
                     <div class="upload-drop-box" nv-file-over="" nv-file-drop="" over-class="upload-drop-box-file-over" uploader="vsUploader">
                      <label class="btn btn-success" style="width:270px; text-align:left">
                        <i class="fa fa-file" aria-hidden="true"></i> Browse Value Set File (.xml)
                        <input type="file" accept="text/xml" nv-file-select="" uploader="vsUploader" multiple="multiple" style="display: none">
                      </label>
                      <br>
                      <i ng-show="vsUploader.queue.length">
                                  <span ng-show="vsUploader.queue[0].isSuccess"><i class="fa fa-check"></i></span>
                        {{vsUploader.queue[0].file.name}},
                        {{
                        vsUploader.queue[0].file.size/1024/1024|number:2 }} MB
                      </i>

                    </div>
                   </div>
                  <div class="col-md-12">
                    <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': vsUploader.progress + '%' }"></div>
                    </div>
                  </div>

                  <div class="col-md-12">
                   <div class="upload-drop-box" nv-file-over="" nv-file-drop="" over-class="upload-drop-box-file-over" uploader="constraintsUploader">
                      <label class="btn btn-success" style="width:270px; text-align:left">
                        <i class="fa fa-file" aria-hidden="true"></i> Browse Constraint file(.xml)
                        <input type="file" accept="text/xml" nv-file-select="" uploader="constraintsUploader" multiple="multiple" style="display: none">
                      </label><br>

                    <i ng-show="constraintsUploader.queue.length">

                         <span ng-show="constraintsUploader.queue[0].isSuccess"><i class="fa fa-check"></i></span>
                      {{constraintsUploader.queue[0].file.name}},
                      {{
                      constraintsUploader.queue[0].file.size/1024/1024|number:2 }} MB
                    </i>
                     </div>
                   </div>
                </div>
                <div class="col-md-12">
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': constraintsUploader.progress + '%' }"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-right">
	          	<button type="button" class="btn btn-primary btn-s" ng-click="upload()" ng-disabled="profileUploader.queue.length === 0 || constraintsUploader.queue.length === 0 || vsUploader.queue.length === 0">
	            <i class="fa fa-check"></i>Upload
	          </button>
	          <!-- <button type="button" class="btn btn-primary btn-s"
	                  ng-click="addSelectedTestCases()"
	                  ng-disabled="!getSelectedTestcases().length">
	            <i class="fa fa-check"></i>DONE
	          </button> -->
	        </div>
           </tab>
        </tabset>


      </div>

      <div ng-show="step == 1">
        <div ng-show="(executionError != null && executionError.length) ||  (validationReport != null && validationReport != '')   ">
          <!-- Profile Errors -->

          <div class="col-md-12" style="margin-bottom: 10px">
            <div class="pull-left">
              <button type="button" class="btn btn-primary btn-md" ng-click="step = 0;clear();">
                <i class="fa fa-arrow-left"></i> Back
              </button>
            </div>
          </div>

          <div class="col-md-12">

            <accordion close-others="true" ng-show="executionError != null && executionError.length ">
             <accordion-group is-open="true" panel-class="panel-danger" ng-repeat="error in executionError">
             <accordion-heading>
                  <i style="font-size: 20px" class="fa fa-exclamation-triangle" aria-hidden="true"></i> Processing error
                </accordion-heading>
            		<div>{{error}}</div>
             </accordion-group>
            </accordion>

            <ng-bind-html ng-show="validationReport != null && validationReport != ''" ng-bind-html="validationReport">
			</ng-bind-html>

          </div>
          <div class="col-md-12" style="margin-top: 10px">
          <div class="pull-left">
            <button type="button" class="btn btn-primary btn-md" ng-click="step = 0;clear();">
              <i class="fa fa-arrow-left"></i> Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>