<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="EnvelopeExecutionCtrl" ng-init="initExecution()">
    <div class="" style="margin:10px">
        <div class="">
            <ol class="breadcrumb" ng-show="testCase != null" style="font-weight: bold">
                <li>{{testCase.parentName}}</li>
                <li> {{testCase.label}}</li>
            </ol>

             <!--<span ng-show="testCase !== null" style="font-size: 18px; font-weight: bold">-->
        <!--{{testCase.type}}: {{testCase.label}}-->
    <!--</span>-->
    <span ng-show="testCase === null">
        No Test Case Loaded
    </span>

            <hr />
            </div>

    <div class="">
        <div class="row" ng-show="error != null">
              <div class="alert alert-danger" role="alert" ng-bind="error"></div>
        </div>
        <div ng-show="testCase != null">
        <tabset>
            <tab disabled="disabled()" select="setActiveTab(0)" active="tabs[0]">
                <tab-heading>
                    <i class="fa fa-check-circle"></i>Validation
                </tab-heading>

                <div ng-include="'views/envelope/validation.html'"></div>
            </tab>
            <tab disabled="disabled()" select="setActiveTab(1)" active="tabs[1]">
                <tab-heading>
                    <i class="fa fa-file"></i>Report
                </tab-heading>

                <div ng-include="'views/envelope/report.html'"></div>
            </tab>
        </tabset>
            </div>
        <!--<div ng-show="testCase === null">-->
            <!--No Test Case Loaded.-->
        <!--</div>-->
    </div>
            </div>
        </div>
</div>
