<div ng-controller="TestingCtrl" ng-init="init()">
    <div ng-show="error === null || error === undefined">
        <div ng-show="!loading" class="container2">
            <tabset>
                <tab select="selectTestingType(0)" active="tabs[0]">
                    <tab-heading>
                        <span class="badge">1</span>
                        <i class="fa fa-envelope"></i>
                        SOAP Envelope
                    </tab-heading>
                    <div ng-include="'views/testing/envelope/testing.html'"></div>
                </tab>
                <tab disabled="false" select="selectTestingType(1)" active="tabs[1]">
                    <tab-heading>
                        <span class="badge">2</span>
                        <i class="fa fa-exchange"></i>
                        SOAP Connectivity
                    </tab-heading>
                    <div ng-include="'views/testing/connectivity/testing.html'"></div>
                </tab>
                <tab select="selectTestingType(2)" active="tabs[2]">
                    <tab-heading>
                        <span class="badge">3</span>
                        <i class="fa fa-check-square-o"></i>
                        HL7 Context-free
                    </tab-heading>
                    <div ng-include="'views/testing/contextFree/testing.html'"></div>
                </tab>
                <tab disabled="false" select="selectTestingType(3)" active="tabs[3]">
                    <tab-heading>
                        <span class="badge">4</span>
                        <i class="fa fa-th-list"></i>
                        HL7 Context-based
                    </tab-heading>
                    <div ng-include="'views/testing/contextBased/testing.html'"></div>
                </tab>
                <tab disabled="true" select="selectTestingType(4)" active="tabs[4]">
                    <tab-heading>
                        <span class="badge">5</span>
                        <i class="fa fa-cogs"></i>
                        EHR-S Functional
                    </tab-heading>
                    <!--<div ng-include="'views/testing/ehrFunctionalTesting.html'"></div>-->
                </tab>
                <tab disabled="true" select="selectTestingType(5)" active="tabs[5]">
                    <tab-heading>
                        <span class="badge">6</span>
                        <i class="fa fa-cogs"></i>
                        IIS Functional
                    </tab-heading>
                    <!--<div ng-include="'views/testing/iisFunctionalTesting.html'"></div>-->
                </tab>


            </tabset>


        </div>


        <div ng-show="loading" style="text-align:center">
            <img ng-src="images/ajax.gif" alt="loading..."/>
        </div>

    </div>

    <div ng-show="error !== null &&  error != undefined">
        <div class="alert alert-danger" role="alert" ng-bind="error"></div>
    </div>


<script type="text/ng-template" id="ValidationResultDetailsCtrl.html">
    <div class="modal-header modal-wide">
        <h3 class="modal-title" ng-bind="selectedElement.path"></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <pre>
                {{selectedElement.details}}
            </pre>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="DQAValidationResultDetailsCtrl.html">
    <div class="modal-header modal-wide">
        <h3 class="modal-title" ng-bind="selectedElement.location"></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <td>Location</td>
                    <td ng-bind="selectedElement.location"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td ng-bind-html="selectedElement.detailed_desc"></td>
                </tr>

                <tr ng-show="selectedElement.potential_issue_id">
                    <td>Issue Id</td>
                    <td ng-bind="selectedElement.potential_issue_id"></td>
                </tr>

                <tr ng-show="selectedElement.given_code">
                    <td>Given Code</td>
                    <td ng-bind="selectedElement.given_code"></td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</script>


<script type="text/ng-template" id="TableFoundCtrl.html">
    <div class="modal-header">
        <h3 ng-show="table !== null" class="modal-title">ValueSet:{{table.tdId}}</h3>

        <h3 ng-show="table === null" class="modal-title">Table Not Found</h3>
    </div>
    <div class="modal-body">
        <div ng-show="table !== null">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Value Set Attributes</div>
                <!-- Table -->
                <table class="table table-bordered">
                    <tr ng-show="table.tdId != null && table.tdId != ''">
                        <td>Table Id</td>
                        <td ng-bind="table.tdId"></td>
                    </tr>
                    <tr ng-show="table.name != null && table.name != ''">
                        <td>Value Set Name</td>
                        <td ng-bind="table.name"></td>
                    </tr>

                    <tr>
                        <td>Value Set Version</td>
                        <td ng-bind="table.version"></td>
                    </tr>

                    <tr>
                        <td>Code System</td>
                        <td ng-bind="table.codesys"></td>
                    </tr>

                    <tr ng-show="table.oid != '' &&  table.oid != null">
                        <td>Value Set OID</td>
                        <td>
                            <a class="point"
                               ng-href="'http://phinvads.cdc.gov/vads/ViewValueSet.action?oid={{table.oid}}'">{{table.oid}}</a>
                        </td>
                    </tr>
                    <tr ng-show="table.type != null && table.type != ''">
                        <td>Table Type</td>
                        <td ng-bind="table.type"></td>
                    </tr>
                </table>
                                    <span style="color:red; font-weight:bold;"
                                          ng-show="isNoValidation()">This table will not be validated.
                                    </span>
            </div>
            <div class="divScroll-1">
                <div class="iz-vocab-table-result">
                    <table st-table="tmpTableElements" st-safe-src="table.tableElements"
                           class="table table-striped table-bordered ng-table-text stTable">
                        <thead>
                        <tr class="tbl-header">
                            <th class="col-fixed-150" st-sort="code">Value (Code)</th>
                            <th class="col-fixed-150" st-sort="codesys">Code Sys</th>
                            <th class="col-fixed-150" st-sort="displayName">Description</th>
                            <!--<th class="col-fixed-150" st-sort="source">Source</th>-->
                            <!--<th class="col-fixed-150" st-sort="usage">Usage</th>-->
                        </tr>
                        <tr>
                            <th colspan="5">
                                <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="row in tmpTableElements">
                            <td class="col-fixed-150">
                                <span>{{row.code}}</span>
                            </td>
                            <td class="col-fixed-150">
                                <span>{{row.codesys}}</span>
                            </td>
                            <td class="col-fixed-150">
                                <span>{{row.displayName}}</span>
                            </td>
                            <!--<td class="col-fixed-150">-->
                                <!--<span>{{row.source}}</span>-->
                            <!--</td>-->
                            <!--<td class="col-fixed-150">-->
                                <!--<span>{{row.usageType}}</span>-->
                            <!--</td>-->
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <div ng-show="table === null">
            Sorry, Could not find this table in the library.
        </div>
    </div>
    <div class="modal-footer">
        <button title="Close" type="button" class="pull-right btn btn-sm btn-primary"
                ng-click="cancel()">
            <i class="fa fa-times"></i>Close
        </button>
    </div>
</script>


<script type="text/ng-template" id="TreeNode.html">
    <tr ng-show="show(node)" tt-node
        is-branch="node.children != null && node.children.length > 0">
        <td class="col-fixed-450">
            <img ng-show="node.icon != null"
                 style="width:15px; height:15px"
                 ng-src="images/{{node.icon}}">
                                <span ng-if="node.type === 'FIELD' || node.type === 'COMPONENT' || node.type === 'SUBCOMPONENT'">
                                    <span ng-show="nodeData.type !== 'DATATYPE'">{{node.path}}:{{node.name}}</span>
                                    <span ng-show="nodeData.type === 'DATATYPE'">{{node.position}}:{{node.name}}</span>
                                 </span>
            <span ng-if="node.type === 'DATATYPE'">{{node.id}}:{{node.longName}}</span>
            <span ng-if="node.type === 'SEGMENT'">{{node.name}}:{{node.longName}}</span>
            <span ng-if="node.type === 'GROUP'">{{node.name}}</span>
        </td>
        <td class="col-fixed-80">
            <span ng-show="node.type === 'DATATYPE'">-</span>
                                <span ng-hide="node.type === 'DATATYPE'">
                                <span
                                        ng-show="!node.predicates || node.predicates == null || node.predicates.length == 0"
                                        ng-bind="node.usage"></span>
                                <span ng-show="node.predicates != null && node.predicates.length > 0">C({{node.predicates[0].trueUsage}}/{{node.predicates[0].falseUsage}})</span>
                                </span>
        </td>
        <td class="col-fixed-80" ng-hide="nodeData.type === 'DATATYPE'">
            <span ng-show="node.type === 'DATATYPE'">-</span>
                                <span ng-hide="node.type === 'DATATYPE'">
                                <span
                                        ng-show="node.minOccurs != undefined && node.maxOccurs != undefined">[{{node.minOccurs}}, {{node.maxOccurs}}]</span>
                                </span>
        </td>
        <td class="col-fixed-80" ng-hide="nodeData.type != 'MESSAGE'"><a class="point"
                                                                         ng-click="showRefSegment(node.reference.id)"
                                                                         ng-bind="node.reference.name"></a>
        </td>
        <td class="col-fixed-100" ng-hide="nodeData.type=== 'MESSAGE'">
            <span ng-show="node.type === 'DATATYPE'">-</span>
                                <span ng-hide="node.type === 'DATATYPE'">
                                <span
                                        ng-bind="node.dataType"></span>
                                </span>

        </td>
        <td class="col-fixed-80" ng-hide="nodeData.type=== 'MESSAGE'">
            <span ng-show="node.type === 'DATATYPE'">-</span>
                                <span ng-hide="node.type === 'DATATYPE'">
                                <span
                                        ng-show="node.minLength && node.maxLength">[{{node.minLength}},{{node.maxLength}}]</span>
                                    </span>
        </td>
        <td class="col-fixed-150" ng-hide="nodeData.type== 'MESSAGE'">
            <span ng-show="node.type === 'DATATYPE'">-</span>
                                <span ng-hide="node.type === 'DATATYPE'">
                                <a class="point"
                                   ng-click="viewTable(node.table)"
                                   ng-bind="node.table"></a>
                                 </span>
        </td>

        <td>
                                            <span ng-show="trim" class="constraint_trim">
                                              <span ng-repeat="predicate in node.predicates">
                                                 {{predicate.description}}
                                              </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="predicate in node.predicates">
                                                  {{predicate.description}}
                                              </p>
                                            </span>
        </td>
        <td>

                                 <span ng-show="trim" class="constraint_trim">
                                               <span ng-repeat="conStatement in node.conformanceStatements">
                                                    {{conStatement.id}} : {{conStatement.description}}
                                             </span>
                                            </span>
                                         <span ng-show="!trim" class="constraint_verbose">
                                              <p ng-repeat="conStatement in node.conformanceStatements">
                                                  {{conStatement.id}} : {{conStatement.description}}
                                              </p>
                                            </span>
        </td>
    </tr>
</script>


<script type="text/ng-template" id="CBTestCase.html">
    <tr tt-node
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;" ng-class="{ 'node-active': node.id === selectedTestCase.id && (node.type === 'TestStep' ||  node.type  === 'TestCase')}">
            <a  class="point" ng-show="node.type === 'TestStep' ||  node.type  === 'TestCase'" ng-click="selectTestCase(node)">{{node.type}}: {{node.name}}</a>
            <span ng-show="node.type === 'TestPlan' || node.type === 'TestCaseGroup'">{{node.type}}: {{node.name}}</span>
        </td>
    </tr>
</script>

<script type="text/ng-template" id="CFTestCase.html">
    <tr tt-node ng-class="{ 'node-active': node.id === testCase.id}"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;">
            <a class="point" ng-click="loadTestCase(node)">{{node.name}}</a>
        </td>
    </tr>
</script>


<script type="text/ng-template" id="SOAPTestCase.html">
    <tr tt-node ng-class="{ 'node-active': node.id === selectedTestCase.id && node.type === selectedTestCase.type}"
        is-branch="node.children != null && node.children.length > 0">
        <td style="padding-top:0px;  padding-bottom:0px;" class="tc-tree-node">
            <a class="point" ng-click="selectTestCase(node)">{{node.label}}</a>
        </td>
    </tr>
</script>



</div>