<div style="margin-bottom: 20px;margin-top: 5px" ng-controller="IsolatedSystemVocabularyCtrl">
         <div ng-show="isolated.testStep != null">
            <!--<div class="page-header">-->
                <!--<h3>{{isolated.testCase.type}}: {{isolated.testCase.name}}</h3>-->
            <!--</div>-->
            <div vocab-search="" type="isolated"></div>
        </div>
        <div ng-show="isolated.testStep === null">
            <div class="col-md-10"> No Test Step Loaded.</div>
        </div>

</div>