<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CBProfileViewerCtrl">
    <div class="panel panel-info">
        <div class="panel-body">
            <div id="executionPanel">
            <div ng-show="cb.testStep != null && cb.testStep.testContext.profile && cb.testStep.testContext.profile!= null">
                <div profile-viewer type="cb"></div>
            </div>
            <div ng-show="cb.testStep != null &&  cb.testStep.testContext != null &&  (!cb.testStep.testContext.profile || cb.testStep.testContext.profile === null)">
                No Profile Associated to this Test Step.
            </div>

            <div ng-show="cb.testStep === null">
                No Test Step Loaded.
            </div>
</div>
        </div>
    </div>
</div>
