<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CBReportCtrl" ng-init="init()">
    <div class="panel panel-info">
        <div class="panel-body">
    <div ng-show="cb.testCase != null">
        <div report-viewer="" type="cbValidation"></div>
     </div>
    <div ng-show="cb.testCase === null">
        No TestCase Loaded.
    </div>
            </div>
        </div>
</div>