<div ng-controller="EnvelopeTestingCtrl" ng-init="init()" class="appcontent">
    <tabset>
        <tab select="setActiveTab(0)" active="tabs[0]">
            <tab-heading>
                <i class="fa fa-th-list"></i>TestCase
            </tab-heading>

            <div ng-include="'views/testing/envelope/testcase.html'"></div>
        </tab>

        <tab disabled="disabled()" select="setActiveTab(1)" active="tabs[1]">
            <tab-heading>
                <i class="fa fa-check-circle"></i>Validation
            </tab-heading>

            <div ng-include="'views/testing/envelope/validation.html'"></div>
        </tab>
        <tab disabled="disabled()" select="setActiveTab(2)" active="tabs[2]">
            <tab-heading>
                <i class="fa fa-file"></i>Report
            </tab-heading>

            <div ng-include="'views/testing/envelope/report.html'"></div>
        </tab>

        <!--<tab select="setActiveTab(3)" active="tabs[3]">-->
            <!--<tab-heading>-->
                <!--<i class="glyphicon glyphicon-help"></i>Testing Instructions-->
            <!--</tab-heading>-->
            <!--<div ng-include="'views/testing/envelope/instruction.html'"></div>-->
        <!--</tab>-->

    </tabset>
</div>