<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div style="margin-bottom: 20px" ng-controller="ConnectivityLogCtrl">
<br/>
<div ng-show="testCase != null && testCase.id != null">
    <div class="row" style="margin-top:20px; margin-bottom: 20px">
        <div class="col-mdl0">

            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">Log</div>
                <div class="panel-body">
                    <div class="well" style="font-size:11px">
                        <p ng-repeat="log in logger.logs">{{log}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="testCase  == null || testCase.id == null">
    No test case selected.
</div>
</div>
