<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container">
  <div class="row">
    <div class="col-md-10" ng-show="displayForm">
        <!--Body content-->
        <h3><div msg="" key="registerResetPassword.titleRegister" ng-show="isFirstSetup"></div></h3>
        <h3><div msg="" key="registerResetPassword.titleReset" ng-hide="isFirstSetup"></div></h3>
        <form name="registerResetPasswordForm" class="form-horizontal" novalidate="">

            <div class="control-group form-group">
                <label class="control-label col-md-2" for="inputPassword"><div msg="" key="registerResetPassword.password"></div></label>
                <div class="controls col-md-7">
                    <input type="password" class="input-xlarge immediate-help account-input" name="inputPassword" id="inputPassword" ng-model="user.password" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" ehrr-password-validate="" required="">
                    <div class="input-help">
                        <h4><div msg="" key="registration.password.error"></div></h4>
                        <ul>
                            <li ng-class="pwdHasUpperCaseLetter"><div msg="" key="registration.password.error.upperCaseletter"></div></li>
                            <li ng-class="pwdHasLowerCaseLetter"><div msg="" key="registration.password.error.lowerCaseletter"></div></li>
                            <li ng-class="pwdHasNumber"><div msg="" key="registration.password.error.number"></div></li>
                            <li ng-class="pwdValidLength"><div msg="" key="registration.password.error.length"></div></li>
                        </ul>
                    </div>
                    
                    <span class="valid" ng-show="registerResetPasswordForm.inputPassword.$valid"><i class="fa fa-check success"></i></span><br>
                </div>
            </div>

             <div class="control-group form-group">
                <label class="control-label col-md-2" for="inputPasswordConfirm"><div msg="" key="registerResetPassword.passwordConfirm"></div></label>
                <div class="controls col-md-7">
                    <input type="password" class="input-xlarge immediate-help account-input" name="inputPasswordConfirm" id="inputPasswordConfirm" ng-model="user.passwordConfirm" ig-check-password="inputPassword" required="">
                    <div class="input-help">
                        <h4><div msg="" key="registration.passwordConfirm.error"></div></h4>
                    </div>
                    <span class="valid" ng-show="registerResetPasswordForm.inputPasswordConfirm.$valid"><i class="fa fa-check success"></i></span><br>
                </div>
            </div>

            <div class="control-group form-group" ng-hide="isFirstSetup">
                <div class="col-md-offset-2 col-md-7">
                    <label class="control-label">
                        <div>{{getAppInfo().registrationTitle}}</div>
                    </label>
                    <div class="controls">
                        <div>
                            <textarea disabled="disabled" rows="9" style="text-align:left;width:700px;border:1px; border-color: black">{{getAppInfo().registrationAgreement}}
                            </textarea>
                            <br>
                            <br>
                            <label>
                                <input type="checkbox" ng-model="agreed" required="">
                                <span>{{getAppInfo().registrationAcceptanceTitle}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group form-group" ng-hide="isFirstSetup">
                <div class="col-md-offset-2 controls col-md-7">
                     <button class="btn btn-default" ng-click="changePassword()" ng-disabled="!registerResetPasswordForm.$valid"><div msg="" key="registerResetPassword.changePwdButton"></div></button>
                </div>
            </div>
        </form>
    </div>
     <div class="col-md-10" ng-show="!displayForm">
        <p>
            <div msg="" key="registerResetPassword.errorMessage"></div>
        </p>
  </div>
</div></div>