<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <!--Body content-->
            <h3 class="page-header">
                <div>{{getAppInfo().registrationSubmittedTitle}}</div>
            </h3>
            <div>
                <p>
                    <div>{{getAppInfo().registrationSubmittedContent}}</div>
                </p>
            </div>
        </div>
    </div>
</div>
