<style id="antiClickjack">body {
  display: none !important;
}</style>
<script type="text/javascript">
  if (self === top) {
    var antiClickjack = document.getElementById("antiClickjack");
    antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
    top.location = self.location;
  }
</script>

<div style="margin:10px; min-height: 300px" ng-controller="DomainsCtrl" ng-init="initDomain()">
  <div ng-show="isDomainsManagementSupported()">

    <div class="login-required-page" ng-show="!isAuthenticated()">
      <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You
        can
        also
        <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
    </div>

    <div ng-show="isAuthenticated()">


      <div class="row" style="margin-bottom: 10px">
        <!--<div class="col-md-12">-->
        <!--<div class="pull-right">-->
        <!--<button ng-click="createDomain()" class="btn btn-info"><i class="fa fa-plus"></i>Create Tool Scope</button>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-md-12" ng-show="alertMessage != null && alertMessage.message != null"
             style="margin-top:10px">
          <div class="alert alert-danger" ng-if="alertMessage.type === 'danger'" role="alert">
            <span> {{alertMessage.message}}</span>
            <span class="pull-right"><i class="fa fa-times" ng-click="closeAlert()"></i></span>
          </div>
          <div class="alert alert-success" ng-if="alertMessage.type === 'success'" role="alert">
            <span> {{alertMessage.message}}</span>
            <span class="pull-right"><i class="fa fa-times" ng-click="closeAlert()"></i></span>
          </div>
          <div class="alert alert-info" ng-if="alertMessage.type === 'info'" role="alert">
            <span> {{alertMessage.message}}</span>
            <span class="pull-right"><i class="fa fa-times" ng-click="closeAlert()"></i></span>
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col-md-1 col-1-percent" ng-show="domainsCollapsed">
          <button title="Show Tool Scopes" class="btn btn-xs btn-info"
                  ng-click="domainsCollapsed = !domainsCollapsed">
            <i class="fa fa-caret-right"></i>
          </button>
        </div>

        <div class="col-md-5" ng-show="!domainsCollapsed">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="glyphicon glyphicon-list"></i> Tool Scopes
              <button title="Hide message tree" class="btn btn-xs btn-info  pull-right"
                      ng-click="domainsCollapsed = !domainsCollapsed">
                <i class="fa fa-caret-left"></i>
              </button>
            </div>
            <div class="panel-body">

              <div ng-show="loadingDomains" style="text-align:center">
                <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
              </div>

              <div ng-show="!loadingDomains">
                <!--<div class="row" style="margin-bottom: 20px">-->
                  <!--<div class="col-md-4">-->
                    <!--<label>Scope</label>-->
                    <!--<div class="btn-group" role="group" aria-label="label1">-->
                      <!--<button type="button" ng-class="{'active': scopeType === '*'}" class="btn btn-primary btn-sm" ng-click="contextType = '*'; filterBy()">All</button>-->
                      <!--<button type="button" ng-class="{'active': contextType === 'CB'}" class="btn btn-primary btn-sm" ng-click="contextType = 'CB'; filterBy()">Context-based</button>-->
                      <!--<button type="button" ng-class="{'active': contextType === 'CF'}" class="btn btn-primary btn-sm" ng-click="contextType = 'CF'; filterBy()">Context-free</button>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-4">-->
                    <!--<label>User Type</label>-->
                    <!--<div class="btn-group" role="group" aria-label="...">-->
                      <!--<button type="button" ng-class="{'active': userType === '*'}" class="btn btn-primary btn-sm" ng-click="userType = '*'; filterBy()">All</button>-->
                      <!--<button type="button" ng-class="{'active': userType === 'AUTH'}" class="btn btn-primary btn-sm" ng-click="userType = 'AUTH'; filterBy()">Authenticated</button>-->
                      <!--<button type="button" ng-class="{'active': userType === 'NOT_AUTH'}" class="btn btn-primary btn-sm" ng-click="userType = 'NOT_AUTH'; filterBy()">Not Authenticated</button>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="col-md-4">-->
                    <!--<label>Result Type</label>-->
                    <!--<div class="btn-group" role="group" aria-label="...">-->
                      <!--<button type="button" ng-class="{'active': resultType === '*'}" class="btn btn-primary btn-sm" ng-click="resultType = '*'; filterBy()">All</button>-->
                      <!--<button type="button" ng-class="{'active': resultType === 'SUCCESS'}" class="btn btn-primary btn-sm" ng-click="resultType = 'SUCCESS'; filterBy()">Success</button>-->
                      <!--<button type="button" ng-class="{'active': resultType === 'FAILED'}" class="btn btn-primary btn-sm" ng-click="resultType = 'FAILED'; filterBy()">Failure</button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <span style="margin-right:10px"><span style="color: #438007"><i class="fa fa-circle fa-fw"></i></span>Public</span>
                <span style="margin-bottom:20px"><span style="color: #ff240b"><i class="fa fa-circle fa-fw"></i></span>Private</span>


                <table st-table="tmpUserDomains" st-safe-src="userDomains"
                       class="table table-condensed table-bordered validation-log">
                  <thead>
                  <tr>
                    <th colspan="4" st-ratio="100">
                      <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
                   </tr>
                  <tr style="background-color: #3276B2;color: white;">
                    <th st-ratio="30" st-sort="name" >Name</th>
                    <th st-ratio="20" st-sort="owner">Owner</th>
                    <th st-ratio="10" st-sort="owner">Scope</th>
                    <th st-ratio="40">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in tmpUserDomains" ng-class="{'current': row.domain === domain.domain}">
                    <td st-ratio="30">
                      <span style="color: #438007" ng-if="row.scope === 'GLOBAL'"><i class="fa fa-circle fa-fw"></i></span>
                      <span style="color: #ff240b" ng-if="row.scope === 'USER'"><i class="fa fa-circle fa-fw"></i></span>
                      {{::row.name}}
                    </td>
                    <td st-ratio="20">
                      {{::row.owner}}
                    </td>
                    <td st-ratio="10">
                      {{::displayScope(row.scope)}}
                    </td>
                    <td st-ratio="40">
                       <button title="View Tool scope"
                              type="button"
                              class="btn btn-xs btn-primary"
                              ng-click="viewDomain(row,0)">
                        <i class="fa fa-pencil"></i>View
                      </button>

                      <button title="Make Public" ng-if="row.scope === 'USER' && (isAdmin() || isPublisher())"
                              type="button"
                              class="btn btn-xs btn-info"
                              ng-disabled="(!isAdmin() && !isPublisher())"
                              ng-click="publishDomain(row)">
                        <i class="fa fa-check"></i>Make Public
                      </button>

                      <button title="Make Private"  ng-if="row.scope === 'GLOBAL' && (isAdmin() || isPublisher())"
                              type="button"
                              class="btn btn-xs btn-info"
                              ng-disabled="(row.scope === 'GLOBAL') && (!isAdmin() && !isPublisher())"
                              ng-click="unpublishDomain(row)">
                        <i class="fa fa-check"></i>Make Private
                      </button>


                      <button title="Open"
                              type="button"
                              class="btn btn-xs btn-default"
                              ng-click="openDomain(row)">
                        <i class="fa fa-external-link"></i>Open
                      </button>


                     </td>
                  </tr>
                  </tbody>
                  <tr ng-show="userDomains.length >=10">
                    <th colspan="4" class="text-center" st-ratio="100">
                      <div class="" st-pagination="" st-items-by-page="10"
                           st-displayed-pages="10"></div>
                    </th>
                  </tr>
                </table>
              </div>


            </div>
          </div>
        </div>

        <div ng-class="{'col-md-7': !domainsCollapsed, 'col-md-11 col-97-9-percent':domainsCollapsed}">

          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="glyphicon glyphicon-list"></i> Tool Scope
              <span ng-if="userDomain != null">{{userDomain.name}}</span>

            </div>
            <div class="panel-body">




        <div ng-show="loadingDomain" style="text-align:center">
          <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
        </div>

        <div ng-show="!loadingDomain">
          <div class="col-md-12" style="margin-bottom: 10px" ng-show="userDomain != null">
            <form novalidate id="domainForm" name="domainForm" class="form-horizontal">
            <div>
              <span class="pull-right">
              <button title="Reset"
                      type="button"
                      class="btn btn-md btn-warning"
                      ng-disabled="domainForm.$pristine || (!isAdmin() && !isPublisher())"
                      ng-click="resetDomain()">
                                    <i class="fa fa-check"></i>Reset
                                </button>
               <button title="Save"
                       type="button"
                       ng-disabled="domainForm.$invalid || domainForm.$pristine || ((userDomain.scope === 'GLOBAL') && (!isAdmin() && !isPublisher()))"
                       class="btn btn-md btn-success"
                       ng-click="saveDomain()">
                                    <i class="fa fa-check"></i>Save
                                </button>

              <button title="Make Public" ng-if="userDomain.scope === 'USER' && canPublish()"
                      type="button"
                      ng-disabled="domainForm.$invalid || (!isAdmin() && !isPublisher())"
                      class="btn btn-md btn-info"
                      ng-click="saveAndPublishDomain()">
                                    <i class="fa fa-check"></i>Make Public
              </button>

                <button title="Make Private" ng-if="userDomain.scope === 'GLOBAL' && canPublish()"
                        type="button"
                        ng-disabled="domainForm.$invalid || (!isAdmin() && !isPublisher())"
                        class="btn btn-md btn-info"
                        ng-click="saveAndUnpublishDomain()">
                                    <i class="fa fa-check"></i>Make Private
              </button>



            </span>
            </div>
            <br />

            <hr/>

              <tabset>
                <tab active="tabs[0]">
                  <tab-heading>
                    <i class="fa fa-list-alt"></i>
                    <span>Meta Data</span>
                  </tab-heading>

                  <div class="domain-content">

                    <div class='form-group control-group'>
                      <label class='col-md-2 control-label'>Type</label>
                      <div class='controls col-md-6'>
                        {{userDomain.scope === 'USER' ? 'Private': 'Public'}}
                      </div>
                    </div>

                    <!--<div class='form-group control-group'>-->
                      <!--<label class='col-md-2 control-label'>Show</label>-->
                      <!--<div class='controls col-md-6'>-->
                        <!--<div class="btn-group btn-group-md" role="group" aria-label="...">-->
                          <!--<button class="btn btn-cf-outline"-->
                                  <!--ng-click="userDomain.disabled = false; "-->
                                  <!--ng-class="{'active':userDomain.disabled === false}"-->
                          <!--&gt;Yes-->
                          <!--</button>-->
                          <!--<button class="btn btn-cf-outline"-->
                                  <!--ng-click="userDomain.disabled = true; "-->
                                  <!--ng-class="{'active':userDomain.disabled === true}"-->
                          <!--&gt;No-->
                          <!--</button>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class='form-group control-group'>-->
                      <!--<label for='domainKey' class='col-md-2 control-label'>Key</label>-->
                      <!--<div class='controls col-md-6'>-->
                        <!--<input required disabled-->
                               <!--class='form-control' name='domainKey'-->
                               <!--id='domainKey' type='text'-->
                               <!--ng-model='userDomain.domain'>-->
                      <!--</div>-->
                    <!--</div>-->

                    <div class='form-group control-group'>
                      <label for='domainName' class='col-md-2 control-label'>Name *</label>
                      <div class='controls col-md-10'>
                        <input required ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                               class='form-control' name='domainName'
                               id='domainName' type='text'
                               ng-model='userDomain.name'>
                      </div>
                    </div>

                    <div class='form-group control-group'>
                      <label for='domainHomeContent' class='col-md-2 control-label'>Home Title * </label>
                      <div class='controls col-md-10'>
                        <input required ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                               class='form-control' name='domainHomeTitle'
                               id='domainHomeTitle' type='text'
                               ng-model='userDomain.homeTitle'>
                      </div>
                    </div>

                    <div class='form-group control-group'>
                      <label for='domainHomeContent' class='col-md-2 control-label'>Home Content</label>
                      <div class='controls col-md-10'>
                        <!--<div class="pull-right" style="margin-bottom:5px">-->
                          <!--<button class="btn btn-default btn-md" ng-click="loadDefaultHomeContent()">Load Example-->
                          <!--</button>-->
                        <!--</div>-->
                        <textarea
                                ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                          class='form-control' name='domainHomeContent'
                          id='domainHomeContent' rows="15" cols="10"
                          ng-model='userDomain.homeContent'></textarea>
                      </div>
                    </div>

                  </div>

                </tab>

                <tab active="tabs[1]">
                  <tab-heading>
                    <i class="fa fa-list-alt"></i>Context-based Message Content Info
                  </tab-heading>

                  <div class="domain-content">

                    <!--<div class="pull-right" style="margin-bottom:5px">-->
                    <!--<button class="btn btn-default btn-md" ng-click="loadDefaultMessageContent()">Load Example</button>-->
                    <!--</div>-->
                    <div class='form-group control-group'>
                      <div class='controls col-md-12'>
                    <textarea ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                      class='form-control' name='domainHomeContent'
                      id='domainMessageContentInfo' rows="15" cols="15"
                      ng-model='userDomain.messageContentInfo'></textarea>
                      </div>
                    </div>

                  </div>

                </tab>


                <tab
                  active="tabs[3]">
                  <tab-heading>
                    <i class="fa fa-list-alt"></i>Context-free Profile Info
                  </tab-heading>
                  <div class="domain-content">
                    <!--<div class="pull-right" style="margin-bottom:5px">-->
                    <!--<button class="btn btn-default btn-md" ng-click="loadDefaultProfileInfo()">Load Example</button>-->
                    <!--</div>-->
                    <div class='form-group control-group'>
                      <div class='controls col-md-12'>
                    <textarea ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                      class='form-control' name='domainProfileInfo'
                      id='domainProfileInfo' rows="15" cols="15"
                      ng-model='userDomain.profileInfo'></textarea>
                      </div>
                    </div>
                  </div>
                </tab>

                <tab active="tabs[4]">
                  <tab-heading>
                    <i class="fa fa-file-text-o"></i>ValueSet copyright
                  </tab-heading>
                  <div class="domain-content">
                    <!--<div class="pull-right" style="margin-bottom:5px">-->
                    <!--<button class="btn btn-default btn-md" ng-click="loadDefaultValueSetCopyright()">Load Example</button>-->
                    <!--</div>-->
                    <div class='form-group control-group'>
                      <div class='controls col-md-12'>
                    <textarea ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                      class='form-control' name='domainValueSetCopyright'
                      id='domainValueSetCopyright' rows="15" cols="15"
                      ng-model='userDomain.valueSetCopyright'></textarea>
                      </div>
                    </div>
                  </div>
                </tab>
                <tab active="tabs[5]">
                  <tab-heading>
                    <i class="fa fa-list-alt"></i>Validation Result Info
                  </tab-heading>
                  <div class="domain-content">
                    <div class='form-group control-group'>
                      <div class='controls col-md-12'>
                    <textarea ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                      class='form-control' name='domainValidationResultInfo'
                      id='domainValidationResultInfo' rows="15" cols="15"
                      ng-model='userDomain.validationResultInfo'></textarea>
                      </div>
                    </div>
                  </div>
                </tab>
              </tabset>

              <hr/>

              <div style="margin-top:30px;margin-bottom:30px">
            <span class="pull-left" style="">
              <button title="Reset"
                      type="button" ng-disabled="userDomain.scope === 'GLOBAL' && (!isAdmin() && !isPublisher())"
                      class="btn btn-md btn-danger"
                      ng-click="deleteDomain()">
                                    <i class="fa fa-check"></i>Delete
                                </button>
            </span>

              </div>

              <div>
                <div ng-show="loadingAction" style="text-align:center">
                  <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
                </div>
              </div>
            </form>
         </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div ng-show="!isDomainsManagementSupported()" style="margin:10px; min-height: 300px">
    <div ng-include="'NotFound.html'"></div>

  </div>

</div>
  </div>
</div>
