<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div id="subNavBar" class="subNavBar" ng-controller="EnvelopeTestingCtrl" ng-init="initTesting()">
    <ul class="clearfix mainSubNav">
        <li ng-click="setSubActive('/envelope_testcase')" class="jslink"><a ng-class="{'current':isSubActive('/envelope_testcase')}"> <i class="fa fa-th-list"></i>Test Selection</a></li>
        <li ng-click="setSubActive('/envelope_execution')" class="jslink"><a ng-class="{'current':isSubActive('/envelope_execution')}"> <i class="fa fa-cogs"></i>Test Execution <span title="Current Test Case" class="badge current-test" ng-show="testCaseLoaded != null">Current Test Case: {{testCaseLoaded.label}}</span></a></li>
    </ul>

    <div ng-show="isSubActive('/envelope_testcase')">
        <div ng-include="'views/envelope/testcase.html'"></div>
    </div>

    <div ng-show="isSubActive('/envelope_execution')">
        <div ng-include="'views/envelope/execution.html'"></div>
    </div>
</div>