<div ng-controller="EnvelopeReportCtrl" ng-init="init()">
    <div class="panel panel-info">
        <div class="panel-body">
            <div ng-show="testCase.id != null" class="row">
                <div class="col-md-10">
                    <div ng-show="!loading">
                        <div ng-show="error == null">
                            <div ng-show="envelopeHtmlReport != null">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="downloadAs('PDF')">
                                    <i class="fa fa-file-pdf-o"></i>PDF
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="downloadAs('DOC')">
                                    <i class="fa fa-file-word-o"></i>
                                    Word
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="downloadAs('XML')">
                                    <i class="fa fa-code"></i>Xml
                                </button>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="downloadAs('HTML')">
                                    <i class="fa fa-code"></i>
                                    Html
                                </button>
                                <br>
                                <br>

                                <div compile="envelopeHtmlReport"></div>
                            </div>

                            <div ng-show="envelopeHtmlReport == null">
                                No report generated.
                            </div>
                        </div>
                        <div ng-show="error != null">
                            <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                        </div>

                    </div>
                    <div ng-show="loading" style="text-align:center">
                        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
                    </div>

                </div>
            </div>
            <div class="row" ng-show="testCase.id == null">
                <div class="col-md-10"> No Test Case Loaded.</div>
            </div>
        </div>
    </div>
</div>