<div ng-controller="EnvelopeTestingCtrl" ng-init="init()" class="appcontent">
    <tabset>
        <tab select="setActiveTab(0)" active="tabs[0]">
            <tab-heading>
                <i class="fa fa-th-list"></i>Test Selection
            </tab-heading>

            <div ng-include="'views/envelope/testcase.html'"></div>
        </tab>

        <tab disabled="disabled()" select="setActiveTab(1)" active="tabs[1]">
            <tab-heading>
                <i class="fa fa-cogs"></i>Test Execution
            </tab-heading>
            <div ng-include="'views/envelope/execution.html'"></div>
        </tab>
    </tabset>
</div>