<div class="container" ng-controller="ContextFreeVocabularyCollectionListCtrl" ng-init="init()">
<div class="row" style="margin-top:20px">
<div ng-show="!loading">
<div ng-show="testCase.testContext.id != null">

<!--<h3>Conformance Profile: {{testCase.testContext.name}}</h3>-->
<!--<hr/>-->

<div ng-show="testCase.testContext.vocabularyCollections != null && testCase.testContext.vocabularyCollections.length > 0">
    <div class="col-md-4">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><i class="glyphicon glyphicon-list"></i> Vocabulary Collections
            </div>

            <div class="panel-body">
                <div ng-show="error == null">
                    <tabset>
                        <tab ng-repeat="vocabularyCollection in testCase.testContext.vocabularyCollections" heading="{{vocabularyCollection.name}}" select="resize()">
                            <div ng-show="vocabularyCollection.vocabularyLibraries!= null && vocabularyCollection.vocabularyLibraries.length > 1">
                                <tabset>
                                    <tab ng-repeat="lib in vocabularyCollection.vocabularyLibraries" heading="{{lib.name}}" select="resize()">
                                        <div ng-controller="ContextFreeVocabularyLibraryCtrl" ng-init="init(lib, vocabularyCollection.id)">
                                            <div ng-show="tableList != null">
                                                 <table st-table="tmpList" st-safe-src="tableList" class="table table-striped table-bordered ng-table-text stTable">
                                                    <thead>
                                                    <tr>
                                                        <th st-sort="id">Table Id</th>
                                                         <th st-sort="name">Value Set Name</th>
                                                    </tr>
                                                    <tr>
                                                        <!--<th>-->
                                                        <!--<input st-search="'path'" placeholder="search for path" class="input-sm form-control" type="search"/>-->
                                                        <!--</th>-->
                                                        <th colspan="2">
                                                            <input st-search="" placeholder="Search" class="input-sm form-control" type="search">
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr ng-repeat="row in tmpList">
                                                        <td>
                                                            <a class="point" ng-show="row.id" ng-click="select(row)" ng-bind="row.id"></a>
                                                            <span ng-show="row.id == null">N/A</span>
                                                        </td>
                                                         <td>
                                                            <span ng-show="row.name" ng-bind="row.name"></span>
                                                            <span ng-show="row.name == null">N/A</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="2" class="text-center">
                                                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>

                                                </table>




                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>

                            <div ng-show="vocabularyCollection.vocabularyLibraries!= null && vocabularyCollection.vocabularyLibraries.length == 1">
                                <div ng-controller="ContextFreeVocabularyLibraryCtrl" ng-init="init(vocabularyCollection.vocabularyLibraries[0], vocabularyCollection.id)">
                                    <div ng-show="tableList != null">

                                        <table st-table="tmpList" st-safe-src="tableList" class="table table-striped table-bordered ng-table-text stTable">
                                            <thead>
                                            <tr>
                                                <th st-sort="id">Table Id</th>
                                                <th st-sort="name">Value Set Name</th>
                                            </tr>
                                            <tr>
                                                <!--<th>-->
                                                <!--<input st-search="'path'" placeholder="search for path" class="input-sm form-control" type="search"/>-->
                                                <!--</th>-->
                                                <th colspan="2">
                                                    <input st-search="" placeholder="Search" class="input-sm form-control" type="search">
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr ng-repeat="row in tmpList">
                                                <td>
                                                    <a class="point" ng-show="row.id" ng-click="select(row)" ng-bind="row.id"></a>
                                                    <span ng-show="row.id == null">N/A</span>
                                                </td>
                                                <td>
                                                    <span ng-show="row.name" ng-bind="row.name"></span>
                                                    <span ng-show="row.name == null">N/A</span>
                                                </td>
                                            </tr>
                                            </tbody>

                                            <tfoot>
                                            <tr>
                                                <td colspan="2" class="text-center">
                                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                                </td>
                                            </tr>
                                            </tfoot>

                                        </table>


                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>

                <div ng-show="error != null">
                    <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                </div>

            </div>
        </div>


    </div>
<div class="col-md-8">
    <div class="container">
        <div class="row">
            <div id="messagePanel" class="panel panel-info" ng-controller="ContextFreeVocabularySearchCtrl" ng-init="init()">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="glyphicon glyphicon-file"></i> Value Set Information
                </div>


                <div class="panel-body vocab-search-result">

                    <form class="form-inline" name="searchValueForm" ng-submit="searchTableValues()">
                        <input type="text" ng-model="searchString" placeholder="Value">
                        <select ng-model="selectionCriteria" required="">
                            <option value="TableId">Table Id</option>
                            <option value="Value">Value (Code)</option>
                            <option value="ValueSetCode">Value Set Code</option>
                            <option value="ValueSetName">Value Set Name</option>
                            <option value="Description">Description</option>
                        </select>
                        <button type="button" class="btn btn-sm btn-primary" ng-disabled="searchString == ''" ng-click="searchTableValues()">
                            <i class="fa fa-search"></i>
                            Search
                        </button>
                    </form>

                    <br>


                    <div ng-show="error != null">
                        <div class="alert alert-danger" role="alert" ng-bind="error"></div>
                    </div>

                    <div ng-show="error == null">

                        <div ng-show="result != null && !result.isEmpty()">
                            <div class="panel panel-info">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Value Set Attributes</div>

                                <!-- Table -->
                                <table class="table table-bordered">
                                    <tr ng-show="result.tableNumber != null && result.tableNumber != ''">
                                        <td>Table Id</td>
                                        <td ng-bind="result.tableNumber"></td>
                                    </tr>
                                    <tr ng-show="result.valueSetName != null && result.valueSetName != ''">
                                        <td>Value Set Name</td>
                                        <td ng-bind="result.valueSetName"></td>
                                    </tr>
                                    <tr>
                                        <td>Value Set Code</td>
                                        <td ng-bind="result.valueSetCode"></td>
                                    </tr>
                                    <tr ng-show="result.valueSetOID != '' &&  result.valueSetOID != null">
                                        <td>Value Set OID</td>
                                        <td>
                                            <a class="point" ng-click="'http://phinvads.cdc.gov/vads/ViewValueSet.action?oid={{result.valueSetOID}}'">{{result.valueSetOID}}</a>
                                        </td>
                                    </tr>
                                    <tr ng-show="result.tableType != '' &&  result.tableType != null">
                                        <td>Table Type</td>
                                        <td ng-bind="result.tableType"></td>
                                    </tr>
                                </table>

                                    <span style="color:red; font-weight:bold" ng-show="result.tableNumber === 'Postal Codes' || result.tableNumber === 'FIPS 6-4' || result.tableNumber === 'USPS' || result.tableNumber === '0361' || result.tableNumber === '0362' || result.tableNumber === '0363'">Table (value set) identified in the implementation guide but no codes are specified. The Validation Tool will issue an Alert since the element can’t be checked for content."
                                    </span>

                                <!--<hr/>-->

                                <!--<div ng-show="error != null">-->
                                <!--<div class="alert alert-danger" role="alert"-->
                                <!--ng-bind="error"></div>-->
                                <!--</div>-->

                            </div>


                            <div class="divScroll-1">
                                <div ng-show="result.tableContent != null  && !result.tableContent.isEmpty()  && result.searchResultsColumnCount == 2">

                                    <!--<div class="gridStyle" ng-grid="tableContentOptionsFor2"></div>-->

                                    <table st-table="tmpTableContent" st-safe-src="result.tableContent" class="table table-striped table-bordered ng-table-text stTable">
                                        <thead>
                                        <tr>
                                            <th st-sort="code">Value (Code)</th>
                                            <th st-sort="displayName">Description</th>
                                        </tr>
                                        <tr>
                                            <!--<th>-->
                                            <!--<input st-search="'path'" placeholder="search for path" class="input-sm form-control" type="search"/>-->
                                            <!--</th>-->
                                            <th colspan="2">
                                                <input st-search="" placeholder="Search" class="input-sm form-control" type="search">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="row in tmpTableContent">
                                            <td>
                                                <a class="point" ng-show="row.code" ng-click="select(row)" ng-bind="row.code"></a>
                                                <span ng-show="row.code == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.displayName" ng-bind="row.displayName"></span>
                                                <span ng-show="row.displayName == null">N/A</span>
                                            </td>
                                        </tr>
                                        </tbody>

                                        <tfoot>
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                        </tfoot>

                                    </table>







                                </div>
                                <div ng-show="result.tableContent != null  && !result.tableContent.isEmpty() && result.searchResultsColumnCount == 3">

                                    <!--<div class="gridStyle" ng-grid="tableContentOptionsFor3"></div>-->


                                    <table st-table="tmpTableContent3" st-safe-src="result.tableContent" class="table table-striped table-bordered ng-table-text stTable">
                                        <thead>
                                        <tr>
                                            <th st-sort="code">Value (Code)</th>
                                            <th st-sort="displayName">Description</th>
                                            <th st-sort="codeSys">CodeSys</th>
                                        </tr>
                                        <tr>
                                            <!--<th>-->
                                            <!--<input st-search="'path'" placeholder="search for path" class="input-sm form-control" type="search"/>-->
                                            <!--</th>-->
                                            <th colspan="3">
                                                <input st-search="" placeholder="Search" class="input-sm form-control" type="search">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="row in tmpTableContent3">
                                            <td>
                                                <span ng-show="row.code" ng-bind="row.code"></span>
                                                <span ng-show="row.code == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.displayName" ng-bind="row.displayName"></span>
                                                <span ng-show="row.displayName == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.codeSys" ng-bind="row.codeSys"></span>
                                                <span ng-show="row.codeSys == null">N/A</span>
                                            </td>

                                        </tr>
                                        </tbody>

                                        <tfoot>
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                        </tfoot>

                                    </table>


                                    <!--<table class="table table-bordered">-->
                                    <!--<tr>-->
                                    <!--<th>Value (Code)</th>-->
                                    <!--<th>Description</th>-->
                                    <!--<th>CodeSys</th>-->
                                    <!--</tr>-->

                                    <!--<tr ng-repeat="tableDetails in result.tableContent">-->
                                    <!--<td>{{tableDetails.code}}</td>-->
                                    <!--<td>{{tableDetails.displayName}}</td>-->
                                    <!--<td>{{tableDetails.codeSys}}</td>-->
                                    <!--</tr>-->
                                    <!--</table>-->


                                </div>
                                <div ng-show="result.searchTablesDetailContent != null  && !result.searchTablesDetailContent.isEmpty() && result.searchResultsColumnCount == 5">

                                    <!--<div class="gridStyle" ng-grid="searchTableResultFor5"></div>-->


                                    <table st-table="tmpTableContent5" st-safe-src="result.searchTablesDetailContent" class="table table-striped table-bordered ng-table-text stTable">
                                        <thead>
                                        <tr>
                                            <th st-sort="codeSys">Source</th>
                                            <th st-sort="typeOrId">Table Id</th>
                                            <th st-sort="name">ValueSet Name</th>
                                            <th st-sort="code">Value (Code)</th>
                                            <th st-sort="displayName">Description</th>

                                        </tr>
                                        <tr>
                                            <!--<th>-->
                                            <!--<input st-search="'path'" placeholder="search for path" class="input-sm form-control" type="search"/>-->
                                            <!--</th>-->
                                            <th colspan="4">
                                                <input st-search="" placeholder="Search" class="input-sm form-control" type="search">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="row in tmpTableContent5">
                                            <td>
                                                <span ng-show="row.codeSys" ng-bind="row.codeSys"></span>
                                                <span ng-show="row.codeSys == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.typeOrId" ng-bind="row.typeOrId"></span>
                                                <span ng-show="row.typeOrId == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.name" ng-bind="row.name"></span>
                                                <span ng-show="row.name == null">N/A</span>
                                            </td>

                                            <td>
                                                <span ng-show="row.code" ng-bind="row.code"></span>
                                                <span ng-show="row.code == null">N/A</span>
                                            </td>

                                            <td>
                                                <span ng-show="row.displayName" ng-bind="row.displayName"></span>
                                                <span ng-show="row.displayName == null">N/A</span>
                                            </td>


                                        </tr>
                                        </tbody>

                                        <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                        </tfoot>

                                    </table>



                                    <!--<table class="table table-bordered">-->
                                    <!--<tr>-->
                                    <!--<th>Source</th>-->
                                    <!--<th>Table Id</th>-->
                                    <!--<th>Value Set Name</th>-->
                                    <!--<th>Value (Code)</th>-->
                                    <!--<th>Description</th>-->
                                    <!--</tr>-->
                                    <!--<tr ng-repeat="searchResults in result.searchTablesDetailContent">-->
                                    <!--<td>{{searchResults.codeSys}}</td>-->
                                    <!--<td>{{searchResults.typeOrId}}</td>-->
                                    <!--<td>{{searchResults.name}}</td>-->
                                    <!--<td>{{searchResults.code}}</td>-->
                                    <!--<td>{{searchResults.displayName}}</td>-->
                                    <!--</tr>-->
                                    <!--</table>-->
                                </div>

                                <div ng-show="result.searchTablesDetailContent != null  && !result.searchTablesDetailContent.isEmpty() && result.searchResultsColumnCount == 3">


                                    <!--<div class="gridStyle" ng-grid="searchTableResultFor3"></div>-->



                                    <table st-table="tmpSearchResult3" st-safe-src="result.searchTablesDetailContent" class="table table-striped table-bordered ng-table-text stTable">
                                        <thead>
                                        <tr>
                                            <th st-sort="codeSys">Source</th>
                                            <th st-sort="typeOrId">Table Id</th>
                                            <th st-sort="name">ValueSet Name</th>
                                        </tr>
                                        <tr>
                                            <!--<th>-->
                                            <!--<input st-search="'path'" placeholder="search for path" class="input-sm form-control" type="search"/>-->
                                            <!--</th>-->
                                            <th colspan="3">
                                                <input st-search="" placeholder="Search" class="input-sm form-control" type="search">
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="row in tmpSearchResult3">
                                            <td>
                                                <span ng-show="row.codeSys" ng-bind="row.codeSys"></span>
                                                <span ng-show="row.codeSys == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.typeOrId" ng-bind="row.typeOrId"></span>
                                                <span ng-show="row.typeOrId == null">N/A</span>
                                            </td>
                                            <td>
                                                <span ng-show="row.name" ng-bind="row.name"></span>
                                                <span ng-show="row.name == null">N/A</span>
                                            </td>

                                        </tr>
                                        </tbody>

                                        <tfoot>
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                        </tfoot>

                                    </table>


                                    <!--<table class="table table-bordered">-->
                                    <!--<tr>-->
                                    <!--<th>Source</th>-->
                                    <!--<th>Table Id</th>-->
                                    <!--<th>Value Set Name</th>-->
                                    <!--</tr>-->
                                    <!--<tr ng-repeat="searchResults in result.searchTablesDetailContent">-->
                                    <!--<td>{{searchResults.codeSys}}</td>-->
                                    <!--<td>{{searchResults.typeOrId}}</td>-->
                                    <!--<td>{{searchResults.name}}</td>-->
                                    <!--</tr>-->
                                    <!--</table>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-show="testCase.testContext.vocabularyCollections == null || testCase.testContext.vocabularyCollections.length == 0">
    No Vocabulary associated to this profile.
</div>
</div>

<span ng-show="testCase.testContext.id == null">
     No Profile Selected.
 </span>
</div>

<div ng-show="loading" style="text-align:center">
    <img class="ajax-loading" ng-src="images/ajax.gif" alt="loading...">
</div>

</div>
</div>