<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<session-config>
		<session-timeout>30</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>iztool</param-value>
	</context-param>
	<error-page>
		<location>/error.html</location>
	</error-page>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/izsuite_jndi</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
	