<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div ng-controller="CBVocabularyCtrl">
    <div class="panel panel-info">
        <div class="panel-body">
            <div ng-show="cb.testStep != null && cb.testStep.testContext != null && cb.testStep.testContext.vocabularyLibrary && cb.testStep.testContext.vocabularyLibrary!= null">
                <div vocab-search type="cb"></div>
            </div>

            <div ng-show="cb.testStep != null && cb.testStep.testContext != null &&  (!cb.testStep.testContext.vocabularyLibrary || cb.testStep.testContext.vocabularyLibrary === null)">
                No Vocabulary associated to this test step.
            </div>

            <div ng-show="cb.testStep === null">
                <div class="col-md-10"> No Test Step Loaded.</div>
            </div>

        </div>
    </div>
</div>